{% extends 'winadmin/index.html' %}
{% load static i18n %}
{% block subtitle %}
  {% blocktrans %}Edit Pricing Tier{% endblocktrans %}
{% endblock %}
{% block page_header %}
  <c-admin-page-header header="{% translate 'Sales Management' %}"
                       subheader="{% trans 'Edit Pricing Tier' %}"/>
{% endblock %}
{% block content %}
  <c-form class="grid max-w-xl">
    {{ form }}
    <c-crud-button-container>
      <c-button>
        {% trans "Edit" %}
      </c-button>
      <c-button name="delete" data-action="delete">
        {% trans "Delete" %}
      </c-button>
    </c-crud-button-container>
    </form>
{% endblock %}
