{% extends 'winadmin/index.html' %}
{% load i18n tz %}
{% block subtitle %}
  {% translate 'Pricing Tier List View' %}
{% endblock %}
{% block content %}
  <div id="content-wrapper" class="space-y-5">
    <h1 class="text-3xl">{% translate 'Pricing Tier Chart' %}</h1>
    <div class="max-w-fit pl-2 space-y-2 divide-y">
      <p>{% translate 'Filter' %}</p>
      <div class="flex justify-center pt-5  slashed-zero tabular-nums space-x-5">
        <label for="id_first_name">
          <input hx-get="{% url 'winadmin:pricing_tier_list' %}"
                 hx-swap="outerHTML"
                 hx-target="#pricing_tier-list-table"
                 hx-push-url="true"
                 hx-vals='{"use_block": "pricing_tier_list_table"}'
                 hx-trigger="input delay:250ms"
                 type="text"
                 name="first_name"
                 value="{{ GET_first_name }}"
                 required=""
                 id="id_first_name">
        </label>
      </div>
    </div>
    {% block pricing_tier_list_table %}
      <table id="pricing_tier-list-table" class="w-full max-w-7xl table-auto divide-y divide-stone-300">
        <thead>
        <tr class="text-left">
          <th class="pr-3 pl-4 text-left text-sm font-semibold text-stone-900 py-3.5 sm:pl-0">
            <span class="pl-6">{% translate 'Tier Name' %}</span>
          </th>
          <th class="px-3 text-left text-sm font-semibold text-stone-900 py-3.5">{% translate 'Number of Adults' %}</th>
          <th class="px-3 text-left text-sm font-semibold text-stone-900 py-3.5">{% translate 'Price Per Night' %}</th>
          <th class="px-3 text-left text-sm font-semibold text-stone-900 py-3.5">{% translate 'Price Per Hour' %}</th>
        </tr>
        </thead>
        <tbody class="divide-y divide-stone-200">
        {% for pricing_tier in pricing_tiers %}
          <tr class="hover:bg-stone-50">
            <td class="whitespace-nowrap py-4 pr-3 pl-4text-sm font-medium tabular-nums text-stone-900 sm:pl-0">
              <a hx-boost="true" class="pl-6" href="{% url 'winadmin:pricing_tier_detail' pricing_tier.id %}">
                {{ pricing_tier.name }}
              </a>
            </td>
            <td class="whitespace-nowrap px-3 py-4  text-sm font-medium slashed-zero tabular-nums text-stone-900">
              {{ pricing_tier.number_of_adults }}
            </td>
            <td class="whitespace-nowrap px-3 py-4  text-sm font-medium slashed-zero tabular-nums text-stone-900">
              {{ pricing_tier.get_price_per_night }}
            </td>
            <td class="whitespace-nowrap px-3 py-4 text-sm font-medium  slashed-zero tabular-nums text-stone-900">{{ pricing_tier.get_price_per_hour }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endblock %}
  </div>
{% endblock %}
