{% extends 'winadmin/index.html' %}
{% load static i18n %}
{% block subtitle %}
  {% blocktrans %}Edit Pricing Tier{% endblocktrans %}
{% endblock %}
{% block content %}
  <div id="content-wrapper">
    <h1 class="text-3xl">{% translate 'Edit Pricing Tier' %}</h1>
    <c-form class="grid max-w-xl"
            hx-target="#content-wrapper"
            hx-swap="morph:outerHTML"
            block="content">
      {{ form }}
      <div class="space-x-5">
        <c-button>
          {% trans "Edit" %}
        </c-button>
        <c-button>
          {% trans "Delete" %}
        </c-button>
      </div>
    </form>
  </div>
{% endblock %}
