{% extends 'winadmin/index.html' %}
{% load i18n tz %}
{% block subtitle %}
  {% translate 'Room Tier List View' %}
{% endblock %}
{% block page_header %}
  <c-admin-page-header header="{% translate 'Room Management' %}"
                       subheader="{% trans 'Room Tier List' %}"/>
{% endblock %}
{% block content %}
  {#    <div class="mb-5 max-w-fit space-y-2 divide-y">#}
  {#      <form hx-get="."#}
  {#            hx-trigger="change delay:0ms"#}
  {#            hx-swap="outerHTML"#}
  {#            hx-target="#reservations-table"#}
  {#            hx-push-url="true"#}
  {#            hx-vals='{"use_block": "reservations_table"}' action="." method="get" novalidate>#}
  {#        <div class="mb-5 max-w-fit space-y-2 divide-y">#}
  {#          <p>{% translate 'Filter' %}</p>#}
  {#          <div class="flex justify-center pt-5 font-code slashed-zero tabular-nums space-x-5">#}
  {#            <div>{% translate 'Year' %}: {{ form.year }}</div>#}
  {#            <div>{% translate 'Month' %}: {{ form.month }}</div>#}
  {#          </div>#}
  {#        </div>#}
  {#      </form>#}
  {#    </div>#}
  {% block room_tier_table %}
    <div id="room-tier-table" class="max-w-7xl">
      {#        <h2 class="mb-5 text-2xl">{{ year }}-{{ month }}</h2>#}
      <c-table :columns="['{% trans 'Name' %}']">
        {% for tier in room_tiers %}
          <c-table-row  vertical-stripes="{% cycle 'bg-white' 'bg-blue-100' %}">
            <c-table-column :col-num="1" url="{% url 'winadmin:room_tier_detail' tier.pk %}">{{ tier.name }}</c-table-column>
            <a href="{% url 'winadmin:room_tier_detail' tier.pk %}" hx-boost="true">
              <c-button class="sm:hidden col-span-2 drop-shadow-none">{% trans 'Edit Room Tier' %}</c-button>
            </a>
          </c-table-row>
        {% endfor %}
      </c-table>
    </div>
  {% endblock %}
{% endblock %}
