{% extends 'winadmin/index.html' %}
{% load static i18n %}
{% block extra_styles %}
{% endblock %}
{% block subtitle %}
  {% blocktrans %}Create Room{% endblocktrans %}
{% endblock %}
{% block page_header %}
  <c-admin-page-header header="{% translate 'Room Management' %}"
                       subheader="{% trans 'Create Room' %}"/>
{% endblock %}
{% block content %}
    <c-form id="room-create-form" class="max-w-xl grid"
            hx-target="#content-wrapper"
            dj-block="content">
      <div _="on htmx:afterSettle from #content-wrapper set input to the last <input/> in me then add @checked to the input">
        {{ room_create_form }}
      </div>
      <div>
        <c-button id="submit-button" name="create-room" value="create-room">{% trans "Submit" %}</c-button>
      </div>
    </c-form>
{% endblock %}
