{% extends 'winadmin/index.html' %}
{% load static i18n %}
{% block subtitle %}
  {% blocktrans %}Edit Room{% endblocktrans %}
{% endblock %}
{% block page_header %}
  <c-admin-page-header header="{% translate 'Sales Management' %}"
                       subheader="{% trans 'Edit Room' %}"/>
{% endblock %}
{% block content %}
  <c-form class="grid max-w-xl">
    {{ form }}
    <c-crud-button-container>
      <c-button name="edit" data-action="edit">{% trans "Edit" %}</c-button>
      <c-button name="delete" data-action="delete">{% trans "Delete" %}</c-button>
    </c-crud-button-container>
  </c-form>
{% endblock %}
