{% extends 'winadmin/index.html' %}
{% load static i18n %}
{% block subtitle %}
  {% blocktrans %}Edit Room{% endblocktrans %}
{% endblock %}
{% block content %}
  <div id="content-wrapper">
    <h1 class="text-3xl">{% translate 'Edit Room' %}</h1>
    <c-form class="grid max-w-xl"
            hx-target="#content-wrapper"
            block="content">
      {{ form }}
      <div class="space-y-5">
        <div class="space-x-5">
          <c-button id="submit-button" name="edit" data-action="edit">{% trans "Edit" %}</c-button>
          <c-button name="delete" data-action="delete">{% trans "Delete" %}</c-button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
