{% extends 'winadmin/index.html' %}
{% load i18n %}
{% block subtitle %}
  {% blocktrans %}Create Room{% endblocktrans %}
{% endblock %}
{% block page_header %}
  <c-admin-page-header header="{% translate 'Room Management' %}"
                       subheader="{% trans 'Create Room' %}"/>
{% endblock %}
{% block content %}
    <c-form id="room-create-form" class="max-w-xl grid">
      <div _="on htmx:afterSettle from #dashboard-content set input to the last <input/> in me then add @checked to the input">
        {{ room_create_form }}
      </div>
      <c-crud-button-container>
        <c-button>{% trans "Submit" %}</c-button>
      </c-crud-button-container>
    </c-form>
{% endblock %}
