{% extends 'winadmin/index.html' %}
{% load static i18n %}
{% block subtitle %}
  {% blocktrans %}Edit Room Tier{% endblocktrans %}
{% endblock %}
{% block content %}
  <div id="content-wrapper">
    <h1 class="text-3xl">{% translate 'Edit Room Tier' %}</h1>
    <form class="grid max-w-xl" action="."
          hx-post="."
          hx-target="#content-wrapper"
          hx-swap="morph:outerHTML"
          hx-vals='{"use_block": "content"}'>
      {{ form }}
      <div class="space-x-5">
        {% #outline_button id="submit-button" name="edit" type="submit" %}
        {% trans "Edit" %}
        {% /outline_button %}
        {% #outline_button name="delete" type="submit" variant="danger" %}
        {% trans "Delete" %}
        {% /outline_button %}
      </div class="space-x-5">

  </div>
  </form>
  </div>
{% endblock %}