{% extends 'winadmin/index.html' %}
{% load static i18n %}
{% block subtitle %}
  {% blocktrans %}Edit Room Tier{% endblocktrans %}
{% endblock %}
{% block page_header %}
  <c-admin-page-header header="{% translate 'Room Management' %}"
                       subheader="{% trans 'Edit Room Tier' %}"/>
{% endblock %}
{% block content %}
  <c-form hx-target="this" block="content">
    {{ form }}
    <div class="mb-2 space-x-5">
      <c-button>{% trans "Edit" %}</c-button>
      <c-button name="delete" data-action="delete">{% trans "Delete" %}</c-button>
    </div class="space-x-5">
  </c-form>
{% endblock %}
