{% extends 'winadmin/index.html' %}
{% load i18n tz %}
{% block subtitle %}
  {% translate 'Room List View' %}
{% endblock %}
{% block page_header %}
  <c-admin-page-header header="{% translate 'Room Management' %}"
                       subheader="{% trans 'Room List' %}"/>
{% endblock %}
{% block content %}
  {% block room_list_table %}
    <c-table :columns="['{% trans 'Room Name' %}', '{% trans 'Room Tier' %}']">
      {% for room in rooms %}
        <c-table-row  vertical-stripes="{% cycle 'bg-white' 'bg-blue-100' %}">
          <c-table-column :col-num="1" url="{% url 'winadmin:room_detail' room.pk %}">{{ room.name }}</c-table-column>
          <c-table-column :col-num="2">{{ room.room_tier }}</c-table-column>
          <c-table-card-button url="{% url 'winadmin:room_detail' room.pk %}">{% trans 'Edit Room' %}</c-table-card-button>
        </c-table-row>
      {% endfor %}
    </c-table>
  {% endblock %}
{% endblock %}
