{% extends 'winadmin/index.html' %}
{% load static i18n %}
{% block subtitle %}
  {% blocktrans %}Edit Room{% endblocktrans %}
{% endblock %}
{% block page_header %}
  <c-admin-page-header header="{% translate 'Sales Management' %}"
                       subheader="{% trans 'Edit Room' %}"/>
{% endblock %}
{% block content %}
  <c-form class="grid max-w-xl"
          hx-target="#content-wrapper"
          dj-block="content">
    {{ form }}
    <div class="mb-2 space-y-5">
      <c-button name="edit" data-action="edit">{% trans "Edit" %}</c-button>
      <c-button name="delete" data-action="delete">{% trans "Delete" %}</c-button>
    </div>
  </c-form>
{% endblock %}
