{% extends 'winadmin/index.html' %}
{% load i18n %}
{% block subtitle %}
  {% trans 'Create Room Tier' %}
{% endblock %}
{% block page_header %}
  <c-admin-page-header header="{% translate 'Room Management' %}"
                       subheader="{% trans 'Create Room Tier' %}"/>
{% endblock %}
{% block content %}
  {% block form %}
    <c-form hx-target="#content-wrapper" block="content">
      {{ form }}
      <c-button>{% trans "Submit" %}</c-button>
    </c-form>
  {% endblock %}
{% endblock %}
