{% extends 'winadmin/index.html' %}
{% load i18n tz %}
{% block subtitle %}
  {% translate 'Customer List View' %}
{% endblock %}
{% block page_header %}
  <c-admin-page-header header="{% translate 'Customer Management' %}"
                       subheader="{% trans 'Customer Chart' %}"/>
{% endblock %}

{% block content %}
  <div class="max-w-fit mb-5 space-y-2 divide-y">
    <p>{% translate 'Filter' %}</p>
    <div class="flex justify-center pt-5 slashed-zero tabular-nums space-x-5">
      <label for="id_first_name">
        <input hx-get="{% url 'winadmin:customer_list' %}"
               hx-swap="outerHTML"
               hx-target="#customer-list-table"
               hx-push-url="true"
               hx-vals='{"use_block": "customer_list_table"}'
               hx-trigger="input delay:250ms"
               type="text"
               name="first_name"
               value="{{ GET_first_name }}"
               required=""
               id="id_first_name">
      </label>
    </div>
  </div>
  {% block customer_list_table %}
    <c-table id="customer-list-table" :columns="['{% trans 'Last Name' %}', '{% trans 'First Name' %}', '{% trans 'Email' %}', '{% trans 'Phone #' %}']">
      {% for customer in customers %}
        <c-table-row  vertical-stripes="{% cycle 'bg-white' 'bg-blue-100' %}">
          <c-table-column :col-num="1" url="{% url 'winadmin:customer_detail' customer.pk %}">{{customer.last_name}}</c-table-column>
          <c-table-column :col-num="2">{{customer.first_name}}</c-table-column>
          <c-table-column :col-num="3">{{customer.email}}</c-table-column>
          <c-table-column :col-num="4">{{customer.phone}}</c-table-column>
          <c-table-card-button url="{% url 'winadmin:customer_detail' customer.pk %}">{% trans 'Edit Customer' %}</c-table-card-button>
        </c-table-row>
      {% endfor %}
    </c-table>
  {% endblock %}
{% endblock %}
