{% extends 'winadmin/index.html' %}
{% load i18n %}
{% block title %}
  {% blocktrans %}Customer Details{% endblocktrans %}
{% endblock %}

{% block content %}
  <div id="content-wrapper">
    <h1 class="text-3xl">{% translate 'Customer Details' %}</h1>
    <form action="." method="post" novalidate
          hx-post="."
          hx-target="#content-wrapper"
          hx-vals='{"use_block": "content"}'
          hx-swap="morph:outerHTML"
          class="max-w-sm">
      {{ form }}
      <div class="space-y-5 grid">
        <button type="submit" name="submit"
                class="bg-orange-700 px-5 py-3 text-xl text-white transition-all duration-250 hover:bg-orange-600">
          {% trans "Submit Modifications" %}
        </button>
        <button type="submit" name="delete" hx-confirm="You sure?"
                class="bg-red-700 px-5 py-3 text-xl text-white transition-all duration-250 hover:bg-red-600">
          {% trans "Delete" %}
        </button>
      </div>
    </form>
  </div>
{% endblock %}

{% block deleted %}
  <div hx-get="{% url 'winadmin:customer_list' %}"
       hx-replace-url="{% url 'winadmin:customer_list' %}"
       hx-target="this"
       hx-trigger="load"
       hx-swap="outerHTML"></div>
{% endblock %}