{% extends 'winadmin/index.html' %}
{% load i18n %}
{% block subtitle %}
    {% blocktrans %}Customer Detail{% endblocktrans %}
{% endblock %}
{% block page_header %}
    <c-admin-page-header header="{% translate 'Customer Management' %}"
                         subheader="{% trans 'Customer Detail' %}"/>
{% endblock %}
{% block content %}
    <c-form>
        {{ form }}
        <c-crud-button-container>
            <c-button name="submit" type="submit">{% trans "Edit Customer" %}</c-button>
        </c-crud-button-container>
    </c-form>
{% endblock %}
