{% extends 'winadmin/index.html' %}
{% load static i18n %}
{% block subtitle %}
  {% blocktrans %}View Invoice for {{ invoice.vendor }}{% endblocktrans %}
{% endblock %}
{% block page_header %}
  <c-admin-page-header header="{% translate 'Sales Management' %}"
                       subheader="{% trans 'View Invoice' %}"/>
{% endblock %}
{% block content %}
  <p>{{ invoice.vendor }}</p>
  <p>{{ invoice.invoiced_on|date:"Y-m-d" }}</p>
  <c-table :columns="['{% trans 'Date' %}', '{% trans 'Item' %}', '{% trans 'Q' %}', '{% trans 'Price Per Unit' %}', '{% trans 'Total Price' %}']">
    {% for procurement in procurements %}
      <c-table-row vertical-stripes="{% cycle 'bg-white' 'bg-blue-100' %}">
        <c-table-column :col-num="1">{{ procurement.summary.date|date:"Y-m-d" }}</c-table-column>
        <c-table-column :col-num="2">{{ procurement.item }}</c-table-column>
        <c-table-column :col-num="3">{{ procurement.quantity }}</c-table-column>
        <c-table-column :col-num="4">{{ procurement.price_per_unit }}</c-table-column>
        <c-table-column :col-num="5">{{ procurement.total }}</c-table-column>
      </c-table-row>
    {% endfor %}
  </c-table>
  <c-form id="invoice-detail-form" class="hidden mt-2">
    {{ form.as_hidden }}
    <c-crud-button-container>
      <c-button name="delete" data-action="delete">{% trans "Delete" %}</c-button>
    </c-crud-button-container>
  </c-form>
{% endblock %}
