node_modules
.cache
.vscode
.DS_Store
.parcel-cache
.parcel-cache-backup
*.log
__pycache__
.idea
staticfiles/*
/copy
*.env
*.env.production
.envs/*
db.sqlite3
poetry-convert.py
payments
CONFIDENTIAL
*.pem
Procfile.dev
ngrok