{% extends 'winadmin/index.html' %}
{% load i18n %}
{% block title %}
    {% blocktrans %}Create a ticket{% endblocktrans %}
{% endblock %}

{% block page_header %}
    <c-admin-page-header header="{% translate 'Customer Management' %}"
                         subheader="{% trans 'Create Ticket' %}"/>
{% endblock %}
{% block content %}
    <c-form hx-target="#dashboard-content" dj-block="content" class="space-y-5">
        {{ form }}
        <c-button>
            {% trans 'Create Ticket' %}
        </c-button>
    </c-form>
{% endblock %}

{% block created %}
    <div hx-get="{% url 'winadmin:customer_list' %}"
         hx-replace-url="{% url 'winadmin:customer_list' %}"
         hx-target="this"
         hx-trigger="load"
         hx-swap="outerHTML"></div>
{% endblock %}
