{% load i18n %}

<div class="grid gap-2">
  <button name="submit"
          type="submit"
          class="bg-orange-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-orange-500
                 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-600">
    {% blocktranslate %}
      {{ submit_button_text }}
    {% endblocktranslate %}
  </button>
  {% if back_url %}
    <button name="back"
            {# If there are two buttons of type="submit" in a form, the first one to appear will have priority when a user #}
            {# presses the enter key to "submit" it. Making the back button of type="button" will prevent it from taking #}
            {# priority over the next button on enter key press. #}
            type="button"
            hx-get="{{ url }}"
            hx-target="#reservation-form-wrapper"
            hx-swap="outerHTML"
            class="bg-orange-50 px-3.5 py-2.5 text-sm font-semibold text-orange-950 shadow-sm
                 hover:bg-orange-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2
                 focus-visible:outline-orange-600">
      {% translate 'Back' %}
    </button>
  {% endif %}
</div>
