{% extends 'core/base.html' %}
{% load i18n static %}
{% block extra_scripts %}
  <script src="{% static 'core/js/idiomorph-ext.js' %}"></script>
{% endblock %}
{% block title %}
  {% translate 'Make a Reservation' %}
{% endblock %}
{% block subtitle %}
  {% translate 'Winvillage' %}
{% endblock %}
{% block header %}

{% endblock %}
{% block footer %}

{% endblock %}
{% block content_main %}
  <div class="font-mono">
    <nav class="bg-blue-700">
      <div class="flex justify-between items-center p-5 sm:block sm:px-0">
        <div>
          <a href="{% url 'core:homepage' %}">
            <img src="{% static 'core/img/dark_logo.svg' %}" class="mx-auto max-h-16 sm:max-h-52" alt="">
          </a>
        </div>
      </div>
    </nav>
    {% block reservation-form %}
      <div id="reservation-form-wrapper" class="p-5 sm:px-20 space-y-5 mx-auto flex flex-col justify-center">
        <div class="grid gap-x-3 [grid-template-columns:1ch_auto_1fr] sm:[grid-template-columns:4ch_auto_1fr] [grid-template-areas:'mainleft_mainheader_mainright''subleft_subheader_subright']">
          <c-admin-page-header header="{% trans 'Reservations' %}" subheader="{% trans 'Number of travelers?' %}"></c-admin-page-header>
        </div>
        <div id="travelers">
          <c-form id="traveler-form"
                  action="{% url 'reservations:index' %}"
                  dj-block="reservation-form"
                  hx-target="#reservation-form-wrapper"
                  hx-trigger="change from:#traveler-form">
            {{ form }}

            {% if debug %}
              <fieldset class="mx-auto w-fit p-5 bg-red-100 border-2 border-red-200 border-dotted rounded-lg cursor-pointer"
                        hx-post="{% url 'core:flush_session' %}"
                        hx-target="this"
                        hx-swap="innerHTML">
                <legend class="bg-red-100 border-red-200 border-2 border-dotted rounded-lg px-2 py-1 text-red-700">
                  DEBUG
                </legend>
                <c-button name="delete-session" data-action="delete">
                  {% blocktrans %}Delete Session{% endblocktrans %}
                </c-button>
              </fieldset>
            {% endif %}
          </c-form>
          <c-button
            type="button"
            hx-get="{% url 'reservations:stay_type_select' %}"
            hx-swap="outerHTML"
            hx-target="#reservation-form-wrapper"
            dj-block="stay-type-select">
            {% translate 'Continue' %}
          </c-button>
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock %}

{% block stay-type-select %}
  <div id="reservation-form-wrapper" class="p-5 sm:px-20 space-y-5 mx-auto flex flex-col justify-center">
    <div class="grid gap-x-3 [grid-template-columns:1ch_auto_1fr] sm:[grid-template-columns:4ch_auto_1fr] [grid-template-areas:'mainleft_mainheader_mainright''subleft_subheader_subright']">
      <c-admin-page-header header="{% trans 'Reservations' %}" subheader="{% trans 'How long will you stay?' %}"></c-admin-page-header>
    </div>
    <div class="flex gap-5">
      <c-button hx-get="{% url 'reservations:index' %}"
                hx-swap="outerHTML"
                hx-target="#reservation-form-wrapper"
                hx-vals='{"use_block": "reservation-form"}'>{% trans 'Back' %}</c-button>

      <c-button hx-get="{% url 'reservations:date_select' %}"
                hx-swap="outerHTML"
                hx-target="#reservation-form-wrapper"
                hx-vals='{"use_block": "date-select", "stay-type": "overnight"}'>{% trans 'Overnight or longer' %}</c-button>

      <c-button hx-get="{% url 'reservations:time_select' %}"
                hx-swap="outerHTML"
                hx-target="#reservation-form-wrapper"
                hx-vals='{"use_block": "time-select", "stay-type": "short-term"}'>{% trans 'Hourly' %}</c-button>
    </div>
  </div>
{% endblock %}

{% block date-select %}
  <div id="reservation-form-wrapper" class="p-5 sm:px-20 space-y-5 mx-auto flex flex-col justify-center">
    <div class="grid gap-x-3 [grid-template-columns:1ch_auto_1fr] sm:[grid-template-columns:4ch_auto_1fr] [grid-template-areas:'mainleft_mainheader_mainright''subleft_subheader_subright']">
      <c-admin-page-header header="{% trans 'Reservations' %}" subheader="{% trans 'Choose the date' %}"></c-admin-page-header>
    </div>
    <div id="calendars" class="p-5 mx-auto shadow-sm border border-stone-100">
      <div id="month-switcher">
        <c-form url="{% url 'reservations:date_select' %}" method="get"
                hx-target="#reservation-form-wrapper" hx-swap="outerHTML"
                dj-block="date-select">
          {{ form }}
          {# No reservations in the past. #}
          {# First Load: date == today. Users can only increment date. #}
          {# If date incremented: date > today #}
          <div class="flex justify-between">
            <button name="get_previous_month" type="submit"
                    class="{% if calendars.selected_month.date == today_date %} invisible {% endif %}flex flex-none items-center text-stone-400 -my-1.5 p-1.5 hover:text-stone-500">
              <span class="sr-only">Previous month</span>
              <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd"
                      d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z"
                      clip-rule="evenodd"/>
              </svg>
            </button>
            <button name="get_next_month" type="submit"
                    class="ml-2 flex flex-none items-center justify-end text-stone-400 -my-1.5 -mr-1.5 p-1.5 hover:text-stone-500">
              <span class="sr-only">Next month</span>
              <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd"
                      d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                      clip-rule="evenodd"/>
              </svg>
            </button>
          </div>
        </c-form>
      </div>
      <div id="months" class="space-y-5 lg:space-y-0 lg:flex lg:justify-center gap-10">
        {% for month in calendars %}
          <c-overnight-reservation-calendar :month-data=month :weekdays=weekdays :pendulum=pendulum :start=start :end=end />
        {% endfor %}
      </div>
    </div>
    <div class="flex flex-col items-center justify-center gap-7">
      <div class="mt-5 space-y-2">
        <p>{% trans 'Selected Stay Period' %}:</p>
        <div class="grid gap-x-3 [grid-template-columns:1ch_auto_1fr] sm:[grid-template-columns:4ch_auto_1fr] [grid-template-areas:'mainleft_mainheader_mainright''subleft_subheader_subright'] max-w-[400px]">
          {% with start|date:"Y-m-d G:iA" as pen %}
            <c-admin-page-header header="{% trans 'From' %}" :subheader=pen />
          {% endwith %}
        </div>
        <div class="grid gap-x-3 [grid-template-columns:1ch_auto_1fr] sm:[grid-template-columns:4ch_auto_1fr] [grid-template-areas:'mainleft_mainheader_mainright''subleft_subheader_subright'] max-w-[400px]">
          {% with end|date:"Y-m-d G:iA" as pen %}
            <c-admin-page-header header="{% trans 'To' %}" :subheader=pen />
          {% endwith %}
        </div>
      </div>
      <div class="flex justify-center gap-7">
        <c-button hx-get="{% url 'reservations:stay_type_select' %}"
                  hx-target="#reservation-form-wrapper"
                  hx-swap="outerHTML"
                  dj-block="stay-type-select">
          {% blocktrans %}Go Back{% endblocktrans %}
        </c-button>
        {% if start.date and end.date and start.date != end.date %}
          <c-button hx-get="{% url 'reservations:room_select' %}"
                    hx-target="#reservation-form-wrapper"
                    hx-swap="outerHTML"
                    dj-block="room-select">
            {% blocktrans %}Continue, Choose Room{% endblocktrans %}
          </c-button>
        {% else %}
          <c-button data-action="disabled">
            {% blocktrans %}Continue{% endblocktrans %}
          </c-button>
        {% endif %}
      </div>
    </div>
    {% if debug %}
      <fieldset class="mx-auto w-fit p-5 bg-red-100 border-2 border-red-200 border-dotted rounded-lg"
                hx-post="{% url 'core:flush_session' %}"
                hx-target="this"
                hx-swap="innerHTML">
        <legend class="bg-red-100 border-red-200 border-2 border-dotted rounded-lg px-2 py-1 text-red-700">
          DEBUG
        </legend>
        <c-button name="delete-session" data-action="delete">
          {% blocktrans %}Delete Session{% endblocktrans %}
        </c-button>
      </fieldset>
    {% endif %}
  </div>
{% endblock %}


{% block room-select %}
  <div id="reservation-form-wrapper" class="p-5 sm:px-20 space-y-5 mx-auto flex flex-col justify-center">
    <div>
      <div class="grid gap-x-3 [grid-template-columns:1ch_auto_1fr] sm:[grid-template-columns:4ch_auto_1fr] [grid-template-areas:'mainleft_mainheader_mainright''subleft_subheader_subright']">
        <c-admin-page-header header="{% trans 'Reservations' %}" subheader="{% trans 'Select Room' %}"></c-admin-page-header>
      </div>
      <div>
        <c-form
          url="{% url 'reservations:room_select' %}"
          hx-target="#reservation-form-wrapper"
          {# delay added to give the browser time to select the input before sending the request #}
          hx-trigger="change from:input[type='radio'], mousedown from:label:has(input[type='radio']) delay:100ms"
          dj-block="room-select"
          class="space-y-5">
          <div class="grid grid-cols-2 gap-7">
            {% for item in roomtier_data %}
              {% for radio in form.roomtiers %}
                {% if item.tier.name == radio.choice_label %}
                  <label for="{{ radio.id_for_label }}" tabindex="0"
                         class="block p-5 bg-blue-700 text-blue-50 drop-shadow-hard-45-md cursor-pointer
                              hover:bg-orange-500 hover:text-orange-100 focus-visible:border-orange-700
                              has-[:checked]:bg-orange-500 has-[:checked]:active:bg-orange-600 active:bg-orange-600 has-[:checked]:text-orange-50
                              has-[:checked]:hover:bg-orange-600">
                    <h3>{{ item.tier.name }}</h3>
                    <p>{% translate 'Total Price' %}:{{ item.price }}</p>
                    <div class="hidden">{{ radio.tag }}</div>
                  </label>
                {% endif %}
              {% endfor %}
            {% endfor %}
            <div class="col-span-2 flex justify-center gap-7">
              {% if stay_type == "overnight" %}
                <c-button hx-get="{% url 'reservations:date_select' %}"
                          hx-target="#reservation-form-wrapper"
                          hx-swap="outerHTML"
                          dj-block="date-select">
                  {% blocktrans %}Go Back{% endblocktrans %}
                </c-button>
              {% else %}
                <c-button hx-get="{% url 'reservations:time_select' %}"
                          hx-target="#reservation-form-wrapper"
                          hx-swap="outerHTML"
                          dj-block="time-select">
                  {% blocktrans %}Go Back{% endblocktrans %}
                </c-button>
              {% endif %}

              {% if reservation.stay.room %}
                <c-button hx-get="{% url 'reservations:contact_information_input' %}"
                          hx-target="#reservation-form-wrapper"
                          hx-swap="outerHTML"
                          dj-block="contact-information-input">
                  {% translate 'Continue' %}
                </c-button>
              {% else %}
                <c-button data-action="disabled">{% translate 'Select a Room' %}</c-button>
              {% endif %}
            </div>
          </div>
        </c-form>
      </div>
    </div>
  </div>
{% endblock %}

{% block time-select %}
  <div id="reservation-form-wrapper" class="p-5 sm:px-20 space-y-5 mx-auto flex flex-col justify-center">
    <div class="grid gap-x-3 [grid-template-columns:1ch_auto_1fr] sm:[grid-template-columns:4ch_auto_1fr] [grid-template-areas:'mainleft_mainheader_mainright''subleft_subheader_subright']">
      <c-admin-page-header header="{% trans 'Reservations' %}" subheader="{% trans 'Select Start and End Times' %}"></c-admin-page-header>
    </div>
    <div class="flex h-full flex-col">
      <div class="isolate flex flex-auto bg-white">
        <c-time-select-table :times=times :start_pen=start_pen :end_pen=end_pen ></c-time-select-table>
        <div id="calendars" class="p-5 mx-auto  ">
          <div id="month-switcher">
            <c-form url="{% url 'reservations:time_select' %}" method="get"
                    hx-target="#reservation-form-wrapper" hx-swap="outerHTML"
                    dj-block="time-select">
              {{ form }}
              {# No reservations in the past. #}
              {# First Load: date == today. Users can only increment date. #}
              {# If date incremented: date > today #}
              <div class="flex justify-between">
                <button name="get_previous_month" type="submit"
                        class="{% if calendar.date.date <= today_dt.date %} invisible {% endif %}flex flex-none items-center text-stone-400 -my-1.5 p-1.5 hover:text-stone-500">
                  <span class="sr-only">Previous month</span>
                  <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd"
                          d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z"
                          clip-rule="evenodd"/>
                  </svg>
                </button>
                <button name="get_next_month" type="submit"
                        class="ml-2 flex flex-none items-center justify-end text-stone-400 -my-1.5 -mr-1.5 p-1.5 hover:text-stone-500">
                  <span class="sr-only">Next month</span>
                  <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd"
                          d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                          clip-rule="evenodd"/>
                  </svg>
                </button>
              </div>
            </c-form>
          </div>

          <div id="months" class="space-y-5 lg:space-y-0 lg:flex lg:justify-center gap-10">
            {% url 'reservations:time_select' as url %}
            <c-shortterm-reservation-calendar
              url="{{ url }}"
              dj-block="time-select"
              :month-data=calendar
              :weekdays=weekdays
              :today_dt=today_dt
              :selected_datetime=selected_datetime
            />
          </div>

          <div class="my-5 space-y-2">
            <p>{% trans 'Selected Stay Period' %}:</p>
            <div class="grid gap-x-3 [grid-template-columns:1ch_auto_1fr] sm:[grid-template-columns:4ch_auto_1fr] [grid-template-areas:'mainleft_mainheader_mainright''subleft_subheader_subright'] max-w-[400px]">
              {% with start_pen|date:"Y-m-d G:iA" as pen %}
                <c-admin-page-header header="{% trans 'From' %}" :subheader=pen />
              {% endwith %}
            </div>
            <div class="grid gap-x-3 [grid-template-columns:1ch_auto_1fr] sm:[grid-template-columns:4ch_auto_1fr] [grid-template-areas:'mainleft_mainheader_mainright''subleft_subheader_subright'] max-w-[400px]">
              {% with end_pen|date:"Y-m-d G:iA" as pen %}
                <c-admin-page-header header="{% trans 'To' %}" :subheader=pen />
              {% endwith %}
            </div>
          </div>
          <div class="col-span-2 flex justify-center gap-7">
            <c-button hx-get="{% url 'reservations:stay_type_select' %}"
                      hx-target="#reservation-form-wrapper"
                      hx-swap="outerHTML"
                      dj-block="stay-type-select">
              {% blocktrans %}Go Back{% endblocktrans %}
            </c-button>
            {% if reservation.stay.start %}
              <c-button hx-get="{% url 'reservations:room_select' %}"
                        hx-target="#reservation-form-wrapper"
                        hx-swap="outerHTML"
                        dj-block="room-select">
                {% translate 'Continue' %}
              </c-button>
            {% else %}
              <c-button data-action="disabled">{% translate 'Select a Time' %}</c-button>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block option-select %}
  <h2 class="mb-2 border-b-2 border-neutral-100 pb-2 text-center text-xl text-orange-950 sm:text-3xl">
    {% translate 'Choose Options' %}</h2>
  {% for grill, form, is_reserved in grills %}
    <c-form url="{% url 'reservations:option_select' %}"
            hx-target="#reservation-form-wrapper"
            dj-block="option-select"
            class="space-y-5">
      {{ form }}
      <fieldset>
        <legend class="sr-only">{% translate 'Option Types' %}</legend>
        <div class="grid grid-cols-1 space-y-2">
          <div class="bg-white shadow sm:rounded-lg">
            <div class="px-4 py-5 sm:p-6">
              <h3 class="text-base font-semibold leading-6 text-stone-900">{{ grill.name }}</h3>
              <div class="mt-2 max-w-xl text-sm text-orange-500">
                <p>{% trans "Price:" %} ￥{{ grill.price_fully_rounded }}</p>
              </div>
              <div class="mt-2 max-w-xl text-sm text-stone-500">
                <p>{{ grill.description }}</p>
              </div>
              <div class="mt-5">
                {% if is_reserved %}
                  <c-button name="remove_grill" data-action="delete">{% trans "Remove" %}</c-button>
                {% else %}
                  <c-button name="add_grill">{% trans 'Add' %}</c-button>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </c-form>
  {% endfor %}
  <div class="flex gap-7">
    <c-button hx-get="{% url 'reservations:index' %}"
              hx-target="#reservation-form-wrapper"
              hx-swap="outerHTML"
              dj-block="reservation-form">
      {% blocktrans %}Go Back{% endblocktrans %}
    </c-button>
    <c-button name="confirm-contact-info"
              hx-get="{% url 'reservations:contact_information_input' %}"
              hx-target="#reservation-form-wrapper"
              hx-swap="outerHTML"
              dj-block="contact-information-input">
      {% blocktrans %}Continue{% endblocktrans %}
    </c-button>
  </div>
{% endblock %}

{% block contact-information-input %}
  <div id="reservation-form-wrapper" class="p-5 sm:px-20 space-y-5 mx-auto flex flex-col justify-center">
    <div>
      <div class="grid gap-x-3 [grid-template-columns:1ch_auto_1fr] sm:[grid-template-columns:4ch_auto_1fr] [grid-template-areas:'mainleft_mainheader_mainright''subleft_subheader_subright']">
        <c-admin-page-header header="{% trans 'Reservations' %}" subheader="{% trans 'Contact Information' %}"></c-admin-page-header>
      </div>
      {% comment %}novalidate is important. hyperscript won't trigger validation if the fields aren't valid according to the browser.{% endcomment %}
      <c-form id="contact-information-form"
              class="space-y-5"
              novalidate
              url="{% url 'reservations:contact_information_input' %}"
              hx-target="#reservation-form-wrapper"
              hx-trigger="validateInput"
              dj-block="contact-information-input">
        <fieldset>
          <legend class="sr-only">{% translate 'Contact Information' %}</legend>
          <div id="validateInput-sender" class="grid grid-cols-1"
               _="on keydown from <input/> in me debounced at 750ms
                   set :inputs to value of <input/> in me then
                   trigger validateInput end
                   on focusout from <input/> in me debounced at 750ms
                   set :inputs to value of <input/> in me then
                   trigger validateInput end">
            {{ form }}
          </div>
        </fieldset>
        <div class="flex justify-center gap-7">
          <c-button hx-get="{% url 'reservations:room_select' %}"
                    hx-swap="outerHTML"
                    hx-target="#reservation-form-wrapper"
                    dj-block="room-select">
            {% blocktrans %}Go Back{% endblocktrans %}
          </c-button>
          {% if not contact_info %}
            <c-button data-action="disabled">
              {% blocktrans %}Continue{% endblocktrans %}
            </c-button>
          {% else %}
            <c-button hx-get="{% url 'reservations:reservation_details_review' %}"
                      hx-swap="outerHTML"
                      hx-target="#reservation-form-wrapper"
                      dj-block="confirmation-form">
              {% blocktrans %}Continue{% endblocktrans %}
            </c-button>
          {% endif %}
        </div>
      </c-form>
    </div>
  </div>
{% endblock %}

{% block confirmation-form %}
  <div id="reservation-form-wrapper" class="p-5 sm:px-20 space-y-5 mx-auto flex flex-col justify-center">
    <div>
      <h2 class="mb-2 border-b-2 border-neutral-100 pb-2 text-center text-xl text-orange-950 sm:text-3xl">
        {% translate 'Confirm Details' %}</h2>
      <div class="space-y-5">
        <div class="grid grid-cols-1 divide-y-2 divide-stone-50">
          <div class="mb-2 grid grid-cols-2 items-center gap-x-2 text-xl">
            <span>{% translate 'Number of Adults' %}:</span>
            <span>{{ reservation.get_number_of_adults }}</span>
          </div>
          <div class="mb-2 grid grid-cols-2 items-center gap-x-2 text-xl">
            <span>{% translate 'Number of Children' %}:</span>
            <span>{{ reservation.get_number_of_children }}</span>
          </div>
          <div class="mb-2 grid grid-cols-2 items-center gap-x-2 text-xl">
            <span>{% translate 'Length of Stay' %}</span>
            {% if reservation.get_stay_period.in_days > 1 %}
              <span>{{ reservation.get_stay_period.in_days }} {% translate 'nights' %}</span>
            {% elif reservation.get_stay_period.in_days == 1 %}
              <span>{{ reservation.get_stay_period.in_days }} {% translate 'night' %}</span>
            {% elif reservation.get_stay_period.in_hours > 1 %}
              <span>{{ reservation.get_stay_period.in_hours }} {% translate 'hours' %}</span>
            {% elif reservation.get_stay_period.in_hours == 1 %}
              <span>{{ reservation.get_stay_period.in_hours }} {% translate 'hour' %}</span>
            {% endif %}
          </div>
          <div class="mb-2 grid grid-cols-2 items-center gap-x-2 text-xl">
            <span>{% blocktrans %}Start{% endblocktrans %}:</span>
            <span>{{ reservation.stay.start|date:"Y-m-d G:iA" }}</span>
          </div>
          {% if reservation.stay.end %}
            <div class="mb-2 grid grid-cols-2 items-center gap-x-2 text-xl">
              <span>{% blocktrans %}End{% endblocktrans %}:</span>
              <span>{{ reservation.stay.end|date:"Y-m-d G:iA" }}</span>
            </div>
          {% endif %}
          {% if reservation.stay.start.time and reservation.stay.end.time and not reservation.stay.end.date %}
            <div class="mb-2 grid grid-cols-2 items-center gap-x-2 text-xl">
              <span>{% blocktrans %}Start Time{% endblocktrans %}:</span>
              <span>{{ reservation.start.time }}</span>
            </div>
            <div class="mb-2 grid grid-cols-2 items-center gap-x-2 text-xl">
              <span>{% blocktrans %}End Time{% endblocktrans %}:</span>
              <span>{{ reservation.end.time }}</span>
            </div>
          {% endif %}
          <div class="mb-2 grid grid-cols-2 items-center gap-x-2 text-xl">
            <span>{% blocktrans %}First Name{% endblocktrans %}:</span>
            <span>{{ first_name }}</span>
          </div>
          <div class="mb-2 grid grid-cols-2 items-center gap-x-2 text-xl">
            <span>{% blocktrans %}Last Name{% endblocktrans %}:</span>
            <span>{{ last_name }}</span>
          </div>
          <div class="mb-2 grid grid-cols-2 items-center gap-x-2 text-xl">
            <span>{% blocktrans %}Email{% endblocktrans %}:</span>
            <span>{{ email }}</span>
          </div>
          <div class="mb-2 grid grid-cols-2 items-center gap-x-2 text-xl">
            <span>{% blocktrans %}Phone{% endblocktrans %}:</span>
            <span>{{ phone }}</span>
          </div>
          <div class="mb-2 grid grid-cols-2 items-center gap-x-2 text-xl">
            <span>{% translate 'Price' %}:</span>
            <span>{{ reservation.get_price }}</span>
          </div>
          {#      <div class="mb-2 grid grid-cols-2 items-center gap-x-2 text-xl">#}
          {#        <span>{% translate 'Total Price' %}:</span>#}
          {#        <span>￥{{ reservation.price }}</span>#}
          {#      </div>#}
        </div>

        <div class="flex justify-center space-x-5">
          <c-button hx-get="{% url 'reservations:contact_information_input' %}"
                    hx-swap="outerHTML"
                    hx-target="#reservation-form-wrapper"
                    dj-block="contact-information-input">
            {% blocktrans %}Go Back{% endblocktrans %}
          </c-button>
          <c-button hx-get="{% url 'reservations:reservation_confirm' %}"
                    hx-swap="outerHTML"
                    hx-target="#reservation-form-wrapper"
                    dj-block="reservation-confirm">
            {% blocktranslate %}
            Make Reservation
            {% endblocktranslate %}
          </c-button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block reservation-confirm %}
  <div id="reservation-form-wrapper" class="p-5 sm:px-20 space-y-5 mx-auto flex flex-col justify-center">
    <div>
      <h2 class="mb-2 border-b-2 border-neutral-100 pb-2 text-center text-xl text-orange-950 sm:text-3xl">
        {% translate 'Reservation Confirmed!' %}</h2>
      <p class="text-center">
        {% blocktrans %}An email has been sent to you with the details of your reservation.{% endblocktrans %}
      </p>
    </div>
  </div>
{% endblock %}
