{% extends 'winadmin/index.html' %}
{% load i18n tz %}
{% block subtitle %}
    {% translate 'Accounts Payable Ledger' %}
{% endblock %}
{% block content %}
    <div id="content-wrapper" class="space-y-5">
        <h1 class="text-3xl">{% translate 'Accounts Payable Ledger' %}</h1>
        {% block invoice_list_table %}
            <table id="invoice-list-table" class="w-full max-w-7xl table-auto divide-y divide-stone-300">
                <thead>
                    <tr class="text-left">
                        <th class="pr-3 pl-4 text-left text-sm font-semibold text-stone-900 py-3.5 sm:pl-0">
                            <span class="pl-6">{% translate 'Vendor' %}</span>
                        </th>
                        <th class="px-3 text-left text-sm font-semibold text-stone-900 py-3.5">{% translate 'Invoice Date' %}</th>
                        <th class="px-3 text-left text-sm font-semibold text-stone-900 py-3.5">{% translate 'Due Date' %}</th>
                        <th class="px-3 text-left text-sm font-semibold text-stone-900 py-3.5">{% translate 'Amount' %}</th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-stone-200">
                    {% for invoice in invoices %}
                        <tr class="hover:bg-stone-50">
                            <td class="whitespace-nowrap py-4 pr-3 pl-4text-sm font-medium tabular-nums text-stone-900 sm:pl-0">
                                <a hx-boost="true" class="pl-6" href="{% url 'winadmin:invoice_detail' invoice_id=invoice.id %}">
                                    {{ invoice.vendor }}
                                </a>
                            </td>
                            <td class="whitespace-nowrap px-3 py-4 font-code text-sm font-medium slashed-zero tabular-nums text-stone-900">
                                {{ invoice.invoiced_on|date:"Y-m-d" }}
                            </td>
                            <td class="whitespace-nowrap px-3 py-4 text-sm font-medium font-code slashed-zero tabular-nums text-stone-900">
                                {{ invoice.due_on|date:"Y-m-d" }}
                            </td>
                            <td class="whitespace-nowrap px-3 py-4 text-sm font-medium font-code slashed-zero tabular-nums text-stone-900">
                                {{ invoice.amount }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endblock %}
    </div>
{% endblock %}
