{% extends 'winadmin/index.html' %}
{% load i18n tz %}
{% block subtitle %}
    {% translate 'Accounts Payable Aging Report' %}
{% endblock %}
{% block content %}
    <div id="content-wrapper" class="space-y-5">
        <h1 class="text-3xl">{% translate 'Accounts Payable Aging Report' %}</h1>
        {% block vendor_list_table %}
            <table id="vendor-list-table" class="w-full max-w-7xl table-auto divide-y divide-stone-300">
                <thead>
                    <tr class="text-left">
                        <th class="pr-3 pl-4 text-left text-sm font-semibold text-stone-900 py-3.5 sm:pl-0">
                            <span class="pl-6">{% translate 'Vendor' %}</span>
                        </th>
                        <th class="px-3 text-left text-sm font-semibold text-stone-900 py-3.5">{% translate 'Current' %}</th>
                        <th class="px-3 text-left text-sm font-semibold text-stone-900 py-3.5">{% translate '1-30 Days' %}</th>
                        <th class="px-3 text-left text-sm font-semibold text-stone-900 py-3.5">{% translate '31-60 Days' %}</th>
                        <th class="px-3 text-left text-sm font-semibold text-stone-900 py-3.5">{% translate '61-90 Days' %}</th>
                        <th class="px-3 text-left text-sm font-semibold text-stone-900 py-3.5">{% translate '91+ Days' %}</th>
                        <th class="px-3 text-left text-sm font-semibold text-stone-900 py-3.5">{% translate 'Balance' %}</th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-stone-200">
                    {% for report in vendor_aging_reports %}
                        <tr class="hover:bg-stone-50">
                            <td class="whitespace-nowrap py-4 pr-3 pl-4text-sm font-medium tabular-nums text-stone-900 sm:pl-0">
                                <a hx-boost="true" class="pl-6" href="{% url 'winadmin:vendor_detail' vendor_id=report.vendor.id %}">
                                    {{ report.vendor.name }}
                                </a>
                            </td>
                            <td class="whitespace-nowrap px-3 py-4 font-code text-sm font-medium slashed-zero tabular-nums text-stone-900">
                                {{ report.current_invoice.amount }}
                                {{ report.current_invoice.days_past_due_date }}
                            </td>
                            <td class="whitespace-nowrap px-3 py-4 text-sm font-medium font-code slashed-zero tabular-nums text-stone-900">
                                {{ report.1_to_30_days_past_due_invoice.amount }}
                            </td>
                            <td class="whitespace-nowrap px-3 py-4 text-sm font-medium font-code slashed-zero tabular-nums text-stone-900">
                                {{ report.31_to_60_days_past_due_invoice.amount }}
                            </td>
                            <td class="whitespace-nowrap px-3 py-4 text-sm font-medium font-code slashed-zero tabular-nums text-stone-900">
                                {{ report.61_to_90_days_past_due_invoice.amount }}
                            </td>
                            <td class="whitespace-nowrap px-3 py-4 text-sm font-medium font-code slashed-zero tabular-nums text-stone-900">
                                {% for invoice in report.91_or_more_days_past_due_invoices %}
                                    <p>
                                        {{ invoice.amount }}
                                    </p>
                                {% endfor %}
                            </td>
                            <td class="whitespace-nowrap px-3 py-4 text-sm font-medium font-code slashed-zero tabular-nums text-stone-900">
                                {{ report.balance }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endblock %}
    </div>
{% endblock %}
