{% extends 'winadmin/index.html' %}
{% load i18n tz %}
{% block subtitle %}
    {% translate 'Accounts Payable Ledger' %}
{% endblock %}
{% block page_header %}
    <c-admin-page-header header="{% translate 'Procurements Management' %}"
                         subheader="{% trans 'Accounts Payable Ledger' %}"/>
{% endblock %}
{% block content %}
    {% block invoice_list_table %}
        <c-table :columns="['{% trans 'Vendor' %}', '{% trans 'Invoice Date' %}', '{% trans 'Due Date' %}', '{% trans 'Amount' %}']">
            {% for invoice in invoices %}
                <c-table-row  vertical-stripes="{% cycle 'bg-white' 'bg-blue-100' %}">
                    <c-table-column :col-num="1" url="{% url 'winadmin:invoice_detail' invoice_id=invoice.id %}">{{ invoice.vendor }}</c-table-column>
                    <c-table-column :col-num="2">{{ invoice.invoiced_on|date:"Y-m-d" }}</c-table-column>
                    <c-table-column :col-num="3">{{ invoice.due_on|date:"Y-m-d" }}</c-table-column>
                    <c-table-column :col-num="4">{{ invoice.amount }}</c-table-column>
                    <c-table-card-button url="{% url 'winadmin:invoice_detail' invoice_id=invoice.id %}">{% trans 'Edit Invoice' %}</c-table-card-button>
                </c-table-row>
            {% endfor %}
        </c-table>
    {% endblock %}
{% endblock %}
