{% extends 'winadmin/index.html' %}
{% load static i18n %}
{% block extra_styles %}
{% endblock %}
{% block subtitle %}
    {% blocktrans %}Create Procurement{% endblocktrans %}
{% endblock %}
{% block content %}
    <div id="content-wrapper">
        <h1 class="text-3xl">{% translate 'Create Procurement' %}</h1>
        {% block form %}
            <form id="procurement-create-form" class="max-w-xl grid" action="." novalidate>
                <div hx-get="."
                     hx-target="#procurement-create-form"
                     hx-swap="morph:outerHTML"
                     hx-trigger="change delay:100ms"
                     hx-include="this"
                     hx-vals='{"use_block": "form"}'>
                    {{ form }}
                </div>
                <div hx-post="."
                     hx-target="#content-wrapper"
                     hx-swap="outerHTML"
                     hx-vals='{"use_block": "content"}'
                     hx-include="#procurement-create-form">
                    {% #outline_button id="submit-button" name="create-procurement" value="create-procurement" type="submit" %}
                    {% trans "Submit" %}
                    {% /outline_button %}
                </div>
            </form>
        {% endblock %}
    </div>
{% endblock %}
