{% extends 'winadmin/index.html' %}
{% load static i18n %}
{% block extra_styles %}
{% endblock %}
{% block subtitle %}
    {% blocktrans %}Create Procurement{% endblocktrans %}
{% endblock %}
{% block page_header %}
    <c-admin-page-header header="{% translate 'Procurements Management' %}"
                         subheader="{% trans 'Create Procurement' %}"/>
{% endblock %}
{% block content %}
    <c-form id="procurement-create-form" class="p-2">
        {{ form }}
        <c-crud-button-container>
            <c-button>{% trans "Submit" %}</c-button>
        </c-crud-button-container>
    </c-form>
{% endblock %}
