{% load i18n widget_tweaks field_type %}

<div{% with classes=field.css_classes %} class="field is-horizontal{{ classes }}"{% endwith %}
                                         id="form-row-{{ field.name }}"
                                         {% if do_htmx_validation and field|widget_type != "fileinput" and field|widget_type != "checkboxinput" %}
                                         hx-get="."
                                         hx-vals='{"_validate_field": "{{ field.name }}" }'
                                         hx-trigger="keyup from:#form-row-{{ field.name }} delay:350ms"
                                         hx-include="#form-row-{{ field.name }}"
                                         hx-target="this"
                                         hx-ext="morph"
                                         hx-swap="morph:outerHTML transition:true"
                                         {% endif %}>
    {% if field.label %}
        <label class="field-body">
    {% endif %}
    <div class="field-and-help-text grid">
        <div class="field grid row-span-3 text-blue-950 has-[:focus]:text-blue-700 max-w-auto">
            {% if field.widget_type == 'checkbox' %}
                <div class="flex items-center space-x-[1ch] p-2"><span>{{ field.label }}</span><span>-|</span>{% render_field field class="border-4 border-double text-lime-600 checked:size-[2ch] border-blue-950" %}</div>
            {% else %}
                <c-form-field-top text={{ field.label }} />
                {% if field.field|field_type == "MoneyField" %}
                    <c-form-field-content left-char="▷" :field="{{ field }}" class="control items-center"
                                          grid-layout="[grid-template-columns:1ch_1fr_min-content_3ch]">
                        {% render_field field class="border-none -my-[1.2ch] ml-[1.5ch] focus:ring-transparent" %}
                    </c-form-field-content>
                {% else %}
                    <c-form-field-content left-char="▷" :field="{{ field }}" class="control items-center relative">
                        {% render_field field class="border-none my-1 -my-[1.2ch] ml-[1.5ch] focus:ring-transparent" %}
                    </c-form-field-content>
                {% endif %}
                <c-form-field-bottom text={{ field.error }} />
            {% endif %}
        </div>
        {% if field.help_text %}
            <div class="help-text hidden text-lime-600 grid grid-rows-subgrid items-center row-span-3">
                <c-form-field-top />
                <c-form-field-content class="help items-center space-x-2 my-1" left-char="?" right-char="?">
                    <p class="text-justify">{{ field.help_text }}</p>
                </c-form-field-content>
                <c-form-field-bottom />
            </div>
        {% endif %}

    </div>
    {% if field.label %}
        </label>
    {% endif %}
</div>
