{% extends 'winadmin/index.html' %}
{% load widget_tweaks widget_checks static i18n %}
{% block subtitle %}
  {% translate 'Edit Reservation' %}
{% endblock %}
{% block content %}
  <div id="reservation-detail-form-wrapper">
  <h1 class="text-3xl">{% translate 'Edit Reservation' %}</h1>
  <form class="grid max-w-xl"
        action="." method="post" novalidate
        hx-post="."
        hx-target="#reservation-detail-form-wrapper"
        hx-vals='{"use_block": "content"}'
        hx-swap="outerHTML">
    {{ form }}
    {% #button %}
    {% trans "Submit" %}
    {% /button %}
  </form>
  </div>
{% endblock %}