{% extends 'winadmin/index.html' %}
{% load i18n %}
{% block content %}
  <div id="content-wrapper" class="xl:w-[calc(100%-theme('maxWidth.sm'))]">
    {#    {% block category_filter %}#}
    {#      <div id="category-filter-container">#}
    {#        <form method="get" class="grow w-full"#}
    {#              action="{% url 'winadmin:checked_in_customer_return' room_id=room.id customer_id=customer.id %}"#}
    {#              hx-get="{% url 'winadmin:checked_in_customer_return' room_id=room.id customer_id=customer.id %}"#}
    {#              hx-swap="morph:outerHTML transition:true"#}
    {#              hx-trigger="change from:#id_categories"#}
    {#              hx-target="#items-wrapper"#}
    {#              hx-push-url="true"#}
    {#              hx-vals='{"use_block": "shop_items"}'#}
    {#        >#}
    {#          <div class="flex flex-1 flex-wrap gap-5 w-full mb-10" id="{{ category_filter_form.categories.auto_id }}">#}
    {#            <h2>{% translate 'Filter' %}:</h2>#}
    {#            {% for radio_group in category_filter_form %}#}
    {#              {% for choice in radio_group %}#}
    {#                <div>#}
    {#                  <label for="{{ choice.id_for_label }}"#}
    {#                         class="px-4 py-2 bg-stone-100 outline outline-2 outline-stone-900 rounded-md cursor-pointer has-[:checked]:bg-orange-500 transition transition-all duration-250">#}
    {#                    <span class="hidden">{{ choice.tag }}</span>#}
    {#                    <span>{{ choice.choice_label }}</span></label>#}
    {#                </div>#}
    {#              {% endfor %}#}
    {#            {% endfor %}#}
    {#          </div>#}
    {#        </form>#}
    {#      </div>#}
    {#    {% endblock %}#}
    {% block shop_items %}
      <div id="items-wrapper" class="flex flex-wrap gap-5 md:grid-cols-3 w-full">
        {% for item, shop_item_form in shop_item_forms %}
          {% with shop_item_form.id.value as item_id %}
            <form action="." method="post" id="formset"
                  hx-post="{% url 'winadmin:checked_in_customer_return' room_id=room.id customer_id=customer.id %}"
                  hx-swap="outerHTML"
                  hx-trigger="updateCart"
                  hx-target="#cart-and-dialog"
                  hx-vals='{"use_block": "cart"}'
                  _='on load or htmx:load from body
                        set :minimum_value to 0
                        set :quantity to the value of <[name=quantity]/> in me
                        if :quantity > 0
                          add .bg-yellow-400 to me
                      end end
                      on mousedown from <#increment-item-{{ item_id }}/> in me
                        increment :quantity
                        then set the value of <[name=quantity]/> in me to :quantity
                        then set the innerHTML of <.quantity-value/> in me to :quantity
                        if :quantity > 0
                          add .bg-yellow-400 to me
                        end
                        then trigger updateCart
                      end
                      on mousedown from <#decrement-item-{{ item_id }}/> in me
                        if :quantity > :minimum_value
                          decrement :quantity
                          then set the value of <[name=quantity]/> in me to :quantity
                          then set the innerHTML of <.quantity-value/> in me to :quantity
                          if :quantity == :minimum_value
                            remove .bg-yellow-400 from me
                          end
                          then trigger updateCart
                        end
                      end'>
              <div id="form-{{ item_id }}-contents"
                   class="formset-form rounded-lg border-2 border border-stone-900 p-10 space-y-5">
                <div id="form-{{ item_id }}-fields" class="grid grid-cols-2">
                  <div class="col-span-2 aspect-w-3 aspect-h-2 w-[250px]">
                    <img src="{{ MEDIA_URL }}{{ item.image }}"
                         class="object-cover w-full h-full"
                         alt="">
                  </div>
                  {{ shop_item_form }}
                </div>
                <div class="grid grid-cols-2 gap-5">
                <button id="increment-item-{{ item_id }}" type="button"
                        class="text-center rounded-md bg-stone-100 px-5 text-3xl font-semibold text-stone-900 ring-2 ring-stone-900
                           transition-all py-2.5 drop-shadow-hard-45-xs duration-250 cursor-pointer
                           hover:translate-x-1 hover:translate-y-1 hover:bg-orange-500 hover:text-orange-100
                           hover:ring-transparent hover:drop-shadow-none focus-visible:outline focus-visible:outline-2
                           focus-visible:outline-offset-2 focus-visible:outline-orange-700">
                  {% translate '+' %}
                </button>
                <button id="decrement-item-{{ item_id }}" type="button"
                        class="text-center rounded-md bg-stone-100 px-5 text-3xl font-semibold text-stone-900 ring-2 ring-stone-900
                           transition-all py-2.5 drop-shadow-hard-45-xs duration-250 cursor-pointer
                           hover:translate-x-1 hover:translate-y-1 hover:bg-orange-500 hover:text-orange-100
                           hover:ring-transparent hover:drop-shadow-none focus-visible:outline focus-visible:outline-2
                           focus-visible:outline-offset-2 focus-visible:outline-orange-700">
                  {% translate '-' %}
                </button>
                  </div>
              </div>
            </form>
          {% endwith %}
        {% endfor %}
      </div>
      </div>
    {% endblock %}
  {% block cart %}
    <div id="cart-and-dialog">
      <div id="cart-container" class="fixed bottom-0 inset-x-0 z-50">
        <div id="cart-open-button"
             class="xl:hidden bg-stone-100 outline outline-2 outline-stone-900 py-4 px-4 text-center cursor-pointer"
             _="on click toggle .invisible .opacity-0 on #cart-sidebar then toggle .hidden on me">{% translate 'Open Cart' %}
        </div>
        <div id="cart-sidebar"
             class="z-50 fixed flex grow flex-col right-0 inset-y-0 w-full xl:max-w-sm bg-stone-100 space-y-5 invisible opacity-0 xl:visible xl:opacity-100 transition transition-all duration-250">
          {{ customer_information_form.as_hidden }}
          <div id="cart-close-button"
               class="xl:hidden bg-stone-100 outline outline-2 outline-stone-900 p-5 text-center cursor-pointer"
               _="on click toggle .invisible .opacity-0 on #cart-sidebar then toggle .hidden on #cart-open-button">{% translate 'Close Cart' %}
          </div>
          <div-table class="table border-collapse w-full max-w-7xl divide-y divide-stone-300 font-code">
            <div-thead class="table-header-group">
              <div-tr class="table-row text-left">
                <div-td class="table-cell pr-3 pl-4 text-left text-sm font-semibold text-stone-900 py-3.5 sm:pl-0">
                  <span class="pl-6">{% translate 'Product' %}</span>
                </div-td>
                <div-td class="table-cell px-3 text-left text-sm font-semibold text-stone-900 py-3.5">{% translate 'Q' %}</div-td>
                <div-td class="table-cell px-3 text-left text-sm font-semibold text-stone-900 py-3.5">{% translate 'Price' %}</div-td>
              </div-tr>
            </div-thead>
            <div-tbody class="table-row-group divide-y divide-stone-200">
              {% for order_item in order_items %}
                {% with order_item.item.name as order_item_name %}
                  <div-tr id="order-item-{{ order_item_name|slugify }}"
                          class="table-row">
                    <div-td class="table-cell whitespace-nowrap py-2 pr-3 pl-4 font-medium slashed-zero tabular-nums text-stone-900 sm:pl-0">
                      <span class="pl-6">{{ order_item_name }}</span>
                    </div-td>
                    <div-td class="table-cell whitespace-nowrap px-3 py-2 font-medium slashed-zero tabular-nums text-stone-600 text-stone-900">{{ order_item.quantity }}</div-td>
                    <div-td class="table-cell whitespace-nowrap px-3 py-2 font-medium slashed-zero tabular-nums text-stone-600 text-stone-900">
                      {{ order_item.item.price_rounded }}
                    </div-td>
                  </div-tr>
                {% endwith %}
              {% empty %}
                <div-tr id="order-item-none"
                        class="table-row">
                  <div-td class="table-cell whitespace-nowrap py-2 pr-3 pl-4 font-medium slashed-zero tabular-nums text-stone-900 sm:pl-0">
                    <span class="pl-6">---</span>
                  </div-td>
                  <div-td class="table-cell whitespace-nowrap px-3 py-2 text-stone-600">---</div-td>
                  <div-td class="table-cell whitespace-nowrap px-3 py-2 font-medium slashed-zero tabular-nums text-stone-600 text-stone-900">
                    ---
                  </div-td>
                </div-tr>
              {% endfor %}
              <div-tr class="table-row text-3xl font-medium slashed-zero tabular-nums text-stone-900">
                <div-td class="table-cell whitespace-nowrap py-2 pr-3 pl-4 sm:pl-0">
                  <span class="pl-6">{% translate 'Total' %}:</span></div-td>
                <div-td class="table-cell whitespace-nowrap px-3 py-2"></div-td>
                <div-td class="table-cell whitespace-nowrap px-3 py-2">{{ order.get_total }}</div-td>
              </div-tr>
            </div-tbody>
          </div-table>

          <div class="flex-1 mx-auto flex flex-col justify-end items-center p-10 gap-5">
            <div class="font-code">{% translate 'Customer Name' %}: {{ customer.last_name }} {{ customer.first_name }}</div>
            <div class="grid grid-cols-2 gap-5">
              {% #outline_button id="open-dialog-button" type="submit" data-script="on click set dialog to the next <dialog/> if dialog does not match @open call dialog.showModal() end" %}
              {% translate 'Checkout' %}
              {% /outline_button %}
              <form action="." method="post" id="form-cart" class="grid"
                    hx-post="{% url 'winadmin:checked_in_customer_return' room_id=room.id customer_id=customer.id %}"
                    hx-swap="morph:outerHTML transition:true"
                    hx-target="#content-wrapper"
                    hx-vals='{"use_block": "content"}'
              >
                {% #outline_button name="cancel" type="submit" variant="danger" %}{% translate 'Cancel' %}{% /outline_button %}
              </form>
            </div>
          </div>
        </div>
      </div>
      <dialog id="check-out-dialog" _="on click
                    measure me
                       set is_in_me to result.top    <= event.clientY              and
                                       event.clientY <= result.top + result.height and
                                       result.left   <= event.clientX              and
                                       event.clientX <= result.left + result.width
                       if is_in_me == false call me.close()"
              class="backdrop:bg-stone-900/50 backdrop:backdrop-blur-sm">
        <form action="." method="post" id="form-cart" class="bg-stone-100 p-10 relative"
              hx-post="{% url 'winadmin:checked_in_customer_return' room_id=room.id customer_id=customer.id %}"
              hx-swap="morph:outerHTML transition:true"
              hx-target="#content-wrapper"
              hx-vals='{"use_block": "content"}'
        >
          <div-table class="table border-collapse w-full max-w-7xl divide-y divide-stone-300 font-code mb-10">
            <div-thead class="table-header-group">
              <div-tr class="table-row text-left">
                <div-td class="table-cell pr-3 pl-4 text-left text-sm font-semibold text-stone-900 py-3.5 sm:pl-0">
                  <span class="pl-6">{% translate 'Product' %}</span>
                </div-td>
                <div-td class="table-cell px-3 text-left text-sm font-semibold text-stone-900 py-3.5">{% translate 'Q' %}</div-td>
                <div-td class="table-cell px-3 text-left text-sm font-semibold text-stone-900 py-3.5">{% translate 'Price' %}</div-td>
              </div-tr>
            </div-thead>
            <div-tbody class="table-row-group divide-y divide-stone-200">
              {% for order_item in order_items %}
                {% with order_item.item.name as order_item_name %}
                  <div-tr id="order-item-{{ order_item_name|slugify }}"
                          class="table-row">
                    <div-td class="table-cell whitespace-nowrap py-2 pr-3 pl-4 font-medium slashed-zero tabular-nums text-stone-900 sm:pl-0">
                      <span class="pl-6">{{ order_item_name }}</span>
                    </div-td>
                    <div-td class="table-cell whitespace-nowrap px-3 py-2 font-medium slashed-zero tabular-nums text-stone-600 text-stone-900">{{ order_item.quantity }}</div-td>
                    <div-td class="table-cell whitespace-nowrap px-3 py-2 font-medium slashed-zero tabular-nums text-stone-600 text-stone-900">
                      {{ order_item.item.price_rounded }}
                    </div-td>
                  </div-tr>
                {% endwith %}
              {% empty %}
                <div-tr id="order-item-none"
                        class="table-row">
                  <div-td class="table-cell whitespace-nowrap py-2 pr-3 pl-4 font-medium slashed-zero tabular-nums text-stone-900 sm:pl-0">
                    <span class="pl-6">---</span>
                  </div-td>
                  <div-td class="table-cell whitespace-nowrap px-3 py-2 text-stone-600">---</div-td>
                  <div-td class="table-cell whitespace-nowrap px-3 py-2 font-medium slashed-zero tabular-nums text-stone-600 text-stone-900">
                    ---
                  </div-td>
                </div-tr>
              {% endfor %}
              <div-tr class="table-row text-3xl font-medium slashed-zero tabular-nums text-stone-900">
                <div-td class="table-cell whitespace-nowrap py-2 pr-3 pl-4 sm:pl-0">
                  <span class="pl-6">{% translate 'Total' %}:</span></div-td>
                <div-td class="table-cell whitespace-nowrap px-3 py-2"></div-td>
                <div-td class="table-cell whitespace-nowrap px-3 py-2">{{ order.get_total }}</div-td>
              </div-tr>
            </div-tbody>
          </div-table>
          <button id="close-dialog-button" type="button" class="absolute top-0 right-0 z-50"
                  _="on click set dialog to the closest <dialog/>
                          if the dialog matches @open
                                    call dialog.close()
                                end">
            <svg class="fill-stone-900 w-12 h-12"
                 viewBox="0 0 24 24"
                 stroke-width="1.5"
                 stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
            </svg>
          </button>
          <div class="grid place-items-center">
            {% #outline_button name="check-out" type="submit" data-script="on click set dialog to #check-out-dialog if dialog matches @open call dialog.close() end" %}
            {% translate 'Confirm Purchase' %}
            {% /outline_button %}
          </div>
        </form>
      </dialog>
    </div>
  {% endblock %}
  </div>
{% endblock %}
