{% extends 'winadmin/index.html' %}
{% load static i18n %}
{% block subtitle %}
  {% translate 'Check In' %}
{% endblock %}
{% block content %}
  <div id="reservation-detail-form-wrapper">
    <h1 class="text-3xl">{% translate 'Check In' %}</h1>
    <form class="grid max-w-xl"
          action="." method="post" novalidate
          hx-post="."
          hx-target="#reservation-detail-form-wrapper"
          hx-vals='{"use_block": "content"}'
          hx-swap="morph:outerHTML">
      {{ form }}
      {% for order_item in reservation.order_items.all %}
      	{{ order_item }}
      {% endfor %}

      {% #outline_button name="check-in" type="submit" %}
      {% trans "Checkin" %}
      {% /outline_button %}
    </form>
  </div>
{% endblock %}