{% extends 'winadmin/index.html' %}
{% load i18n %}
{% block subtitle %}
  {% trans 'Occupied Room List' %}
{% endblock %}
{% block page_header %}
  <c-admin-page-header header="{% translate 'Room Management' %}"
                       subheader="{% trans 'Occupied Room List' %}"/>
{% endblock %}

{% block content %}
  <div class="grid grid-cols-2 gap-5">
    {% for room, customer in rooms_with_occupants.items %}
      {% if room in occupied_rooms %}
        <div id="occupant"
             class="flex gap-5 text-green-600 items-center bg-blue-50 p-10 border border-blue-950 rounded-md">
          <p>{{ room }} - {{ customer }}</p>
          <div id="actions"
               class="flex gap-5">

            <a href="{% url "winadmin:checked_in_customer_purchase" room_id=room.id customer_id=customer.id %}"
               hx-boost="true">
              <c-button>
                {% translate 'Purchase' %}
              </c-button>
            </a>


            <a href="{% url "winadmin:checked_in_customer_return" room_id=room.id customer_id=customer.id %}"
               hx-boost="true">
              <c-button>
                {% translate 'Return' %}
              </c-button>
            </a>

          </div>
        </div>
      {% else %}
        <div class="bg-stone-100 p-10 border border-blue-950 rounded-md">{{ room }}</div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}
