{% extends 'winadmin/index.html' %}
{% load widget_tweaks widget_checks static i18n %}
{% block subtitle %}
  {% translate 'Edit Inventory Item' %}
{% endblock %}
{% block content %}
  <main id="dashboard-content" class="py-10 lg:ml-72">
    <h1 class="text-center text-3xl">{% translate 'Edit Inventory Item' %}</h1>
    <div class="px-4 sm:px-6 lg:px-8">
      <form action="" method="post" novalidate
            hx-post="{% url 'winadmin:edit_inventory_item' item.pk %}"
            hx-target="#dashboard-content"
            hx-swap="outerHTML"
            class="grid space-y-5 max-w-xl mx-auto">
        {{ form.non_field_errors }}
        <div id="messages">
          {% if messages %}
            {% for message in messages %}
              {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                <p class="text-orange-500">{{ message }}</p>
              {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <p class="text-red-500">{{ message }}</p>
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
        <div class="grid mx-auto">
          {{ form }}
          <button type="submit" name="submit"
                  class="py-3 px-5 bg-orange-700 hover:bg-orange-600 text-white text-xl transition-all duration-250">
            {% trans "Submit" %}
          </button>
        </div>
      </form>
    </div>
  </main>
{% endblock %}