{% extends 'winadmin/index.html' %}
{% load i18n %}
{% block content %}
  <main id="dashboard-content" class="py-10 lg:ml-72">
    <div class="overflow-hidden">
      <h1 class="text-3xl text-center mb-5">Category List View</h1>
      <table class="mx-auto max-w-7xl w-full table-auto divide-y divide-stone-300">
        <thead>
        <tr class="text-left">
          <th class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-stone-900 sm:pl-0">{% translate 'Category' %}</th>
        </tr>
        </thead>
        <tbody class="divide-y divide-stone-200">
        {% for category in categories %}
          <tr>
            <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-stone-900 sm:pl-0">{{ category.title }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </main>
{% endblock %}