{% extends 'winadmin/index.html' %}
{% load i18n static %}
{% block extra_scripts %}
  <script src="{% url 'javascript-catalog' %}"></script>
  <script>
   recurrenceWidget = document.getElementsByClassName('recurrence-widget')
   htmx.onLoad(function (recurrenceWidget) {
     django.jQuery(document).ready(function () {
       // Init on all existing recurrence fields
       initRecurrenceWidget();
       // Begin DOM observation for new inline additions
       const targetNode = document.getElementById('container');
       const config = {attributes: false, childList: true, subtree: true};
       observer.observe(targetNode, config);
     });
   })
  </script>
{% endblock %}
{% block extra_styles %}
  <link rel="stylesheet" href="{% static 'recurrence/css/recurrence.css' %}">
{% endblock %}
{% block subtitle %}
  {% blocktrans %}Edit Campaign{% endblocktrans %}
{% endblock %}
{% block content %}
  {{ form.media }}
  <div id="content-wrapper" class="max-w-xl space-y-5">
    <h1 class="text-3xl">{% translate 'Edit Campaign' %}</h1>
    <c-form class="grid max-w-xl"
            hx-target="#content-wrapper"
            block="content">
      <div id="container" class="space-y-5">
        {{ form }}
        <div class="space-x-5">
          <c-button id="submit-button" name="edit" data-action="edit">{% trans "Edit" %}</c-button>
          <c-button id="delete-button" name="delete" data-action="delete">{% trans "Delete" %}</c-button>
        </div>
      </div>
    </c-form>

    {% block calendars %}
      <div id="calendars" class="p-5 shadow-sm border border-stone-100">
        <h3 class="text-3xl text-center pb-5">{% translate 'Effective Campaign Days' %}</h3>
        <div id="month-switcher" class="flex items-center">
          <c-form method="get" class="grid grid-cols-2 w-full"
                  hx-target="#calendars"
                  block="calendars">
            {{ date_filter_form }}
            <button name="get_previous_month" class="{% if calendars.selected_month.date == today_date %} invisible {% endif %}flex flex-none items-center text-stone-400 -my-1.5 p-1.5 hover:text-stone-500">
              <span class="sr-only">Previous month</span>
              <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd"
                      d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z"
                      clip-rule="evenodd"/>
              </svg>
            </button>
            <button name="get_next_month"
                    class="ml-2 flex flex-none items-center justify-end text-stone-400 -my-1.5 -mr-1.5 p-1.5 hover:text-stone-500">
              <span class="sr-only">Next month</span>
              <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd"
                      d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                      clip-rule="evenodd"/>
              </svg>
            </button>
          </c-form>
        </div>
        <div id="months" class="flex flex-wrap gap-10 justify-between">
          {% for month, month_data in calendars.items %}
            <div class="month">
              <c-calendar :month=month_data :weekdays=weekdays />
            </div>
            {% endfor %}
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock %}
