{% load static tailwind_tags %}
{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {#    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VY8KJ3S1CP"></script>#}
    {#    <script>#}
    {#        window.dataLayer = window.dataLayer || [];#}
    {##}
    {#        function gtag() {#}
    {#            dataLayer.push(arguments);#}
    {#        }#}
    {##}
    {#        gtag('js', new Date());#}
    {##}
    {#        gtag('config', 'G-VY8KJ3S1CP');#}
    {#    </script>#}
    <!-- This meta tag sets the description of the webpage. The "name" attribute is set to "description" to indicate
    that the content provides a brief description of the webpage. The "content" attribute contains the actual
    description text. This description is typically used by search engines to provide a summary of the webpage's content
    in search results. It helps users understand what the webpage is about before they click on it. -->
    <meta name="description"
          content="Winvillage - glamping in Imari, Japan">
    <!-- This meta tag configures the viewport settings for the webpage. The "name" attribute is set to "viewport" to
    indicate that it specifies the viewport properties. The "content" attribute contains the actual settings,
    in this case, "width=device-width, initial-scale=1". This tells the browser to set the width of the viewport to the
    device's width and set the initial zoom level to 1. It ensures that the webpage is displayed properly and scales
    appropriately on different devices with varying screen sizes. -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- This meta tag sets the Twitter card type for sharing the webpage on Twitter. The "name" attribute is set to
    "twitter:card" to indicate that it specifies the Twitter card type. The "content" attribute contains the actual card
    type, which is "summary_large_image". This indicates that when the webpage is shared on Twitter, it should display a
    card with a large image preview. -->
    <meta name="twitter:card" content="summary_large_image">
    <!-- This meta tag sets the title for Twitter sharing. The "name" attribute is set to "twitter:title" to indicate
    that it specifies the title for Twitter sharing. The "content" attribute contains the actual title text, which in
    this case is "伊万里での大人の秘密基地ガレージ倉庫の募集ページ". This title will be displayed when the webpage is shared on
    Twitter. -->
    <meta name="twitter:title" content="Winvillage">
    <!-- This meta tag sets the description for Twitter sharing. The "name" attribute is set to "twitter:description" to
    indicate that it specifies the description for Twitter sharing. The "content" attribute contains the actual
    description text, which in this case is the same as the previous meta tag's description content. This description
    will be displayed when the webpage is shared on Twitter. -->
    <meta name="twitter:description"
          content="Winvillage glamping site in Imari, Japan">
    <!-- This meta tag sets the image for Twitter sharing. The "name" attribute is set to "twitter:image" to indicate
    that it specifies the image for Twitter sharing. The "content" attribute contains the URL or path to the image file.
    This image will be displayed as a preview when the
    webpage is shared on Twitter. -->
    <meta name="twitter:image" content="{% static 'core/img/desktop_hero.jpg' %}">
    <!-- This meta tag sets the Twitter account username for the webpage. The "name" attribute is set to "twitter:site"
    to indicate that it specifies the Twitter account username. The "content" attribute contains the actual username,
    which in this case is "@killian_arts". This associates the webpage with the specified Twitter account when it is
    shared on Twitter. -->
    <meta name="twitter:site" content="@killian_arts">
    <!-- This meta tag sets the title for Open Graph sharing. The "property" attribute is set to "og:title" to indicate
    that it specifies the title for Open Graph sharing. The "content" attribute contains the actual title text, which is
    the same as the previous Twitter title. This title will be displayed when the webpage is shared using Open Graph
    protocol. -->
    <meta property="og:title" content="Winvillage">
    <!-- This meta tag sets the description for Open Graph sharing. The "property" attribute is set to "og:description"
    to indicate that it specifies the description for Open Graph sharing. The "content" attribute contains the actual
    description text, which is the same as the previous Twitter description. This description will be displayed when the
    webpage is shared using Open Graph protocol. -->
    <meta property="og:description"
          content="Winvillage glamping site in Imari, Japan">
    <!-- This meta tag sets the image for Open Graph sharing. The "property" attribute is set to "og:image" to indicate
    that it specifies the image for Open Graph sharing. The "content" attribute contains the URL or path to the image
    file, which is the same as the previous Twitter image. This image will be displayed as a preview when the webpage is
    shared using Open Graph protocol. -->
    <meta property="og:image" content="{% static 'core/img/desktop_hero.jpg' %}">
    <!-- This meta tag sets the URL for Open Graph sharing. The "property" attribute is set to "og:url" to indicate that
    it specifies the URL for Open Graph sharing. The "content" attribute contains the actual URL, which in this case is
    "http://kitasan.online". This URL will be associated with the webpage when it is shared using Open Graph protocol. -->
    <meta property="og:url" content="http://winvillage.jp">
    <!-- This meta tag sets the type of content for Open Graph sharing. The "property" attribute is set to "og:type" to
    indicate that it specifies the type of content for Open Graph sharing. The "content" attribute contains the actual
    content type, which is "website". This indicates that the shared content is a website. -->
    <meta property="og:type" content="website">
    <!-- This meta tag sets the name of the content item. The "itemprop" attribute is set to "name" to indicate that it
    specifies the name of the content item. The "content" attribute contains the actual name text, which is the same as
    the previous Twitter and Open Graph titles. This name will be associated with the content item. -->
    <meta itemprop="name" content="Winvillage">
    <!-- This meta tag sets the description of the content item. The "itemprop" attribute is set to "description" to
    indicate that it specifies the description of the content item. The "content" attribute contains the actual
    description text, which is the same as the previous Twitter and Open Graph descriptions. This description will be
    associated with the content item. -->
    <meta itemprop="description"
          content="Winvillage glamping site in Imari, Japan">
    <!-- This meta tag sets the image for the content item. The "itemprop" attribute is set to "image" to indicate that
    it specifies the image for the content item. The "content" attribute contains the URL or path to the image file,
    which is the same as the previous Twitter and Open Graph images. This image will be associated with the content
    item. -->
    <meta itemprop="image" content="{% static 'core/img/desktop_hero.jpg' %}">
    <link rel="canonical" href="{{ request.build_absolute_uri }}">
    <title>
        {% block title %}Title{% endblock %}
        {% block title_divider %} - {% endblock %}
        {% block subtitle %}Subtitle{% endblock %}
    </title>
    {% tailwind_css %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;800&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;800&display=swap"
          rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
    <!-- _hyperscript library -->
    <!-- _hyperscript behaviors need to be defined before importing _hyperscript -->
    {% block hyperscript_behaviors %}{% endblock %}
    <script src="https://unpkg.com/hyperscript.org@0.9.9"></script>
    {#    <!-- Alpine.js library -->#}
    {#    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>#}
    <!-- HTMX library -->
    <script src="{% static 'core/js/htmx.js' %}" defer></script>
    <!-- This is necessary to make Google (potentially) display a picture in the search result. -->
    {#    <script type="application/ld+json">#}
    {#      {#}
    {#        "@context": "https://schema.org",#}
    {#        "@type": "Organization",#}
    {#        "name": "農業法人キタサン",#}
    {#        "url": "https://kitasan.online",#}
    {#        "logo": "{% static 'core/img/mobile_hero.jpg' %}"#}
    {#      }#}
    {#    </script>#}
    {% block extra_scripts %}
    {% endblock %}
    {% block extra_styles %}
    {% endblock %}
</head>

<body hx-boost="True" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

{% block header %}
    {#    {% include 'core/header.html' %}#}
{% endblock %}
<main>
    <!-- '_page.html' template content will replace everything in here -->
    {% block content %}
    {% endblock %}
</main>
{% block footer %}
    {#    {% include 'core/footer.html' %}#}
{% endblock %}

</body>

</html>