{% extends 'core/base.html' %}
{% load static %}
{% load responsive_images %}
{% load i18n %}

{% block title %}
    {% trans 'Glamping in Imari' %}
{% endblock %}
{% block subtitle %}
    {% trans 'Win Village' %}
{% endblock %}

{% block content %}
    <section class="bg-gray-900">
        <header class="inset-x-0 top-0 z-50 absolute">
            <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
                <div class="flex lg:flex-1">
                    <a href="#" class="-m-1.5 p-1.5">
                        <span class="sr-only">Win Village</span>
                        <img src="{% static 'core/img/logo.svg' %}" class="max-w-[50px]"
                             alt={% trans 'Win Village Logo' %}>
                    </a>
                </div>
                <div class="flex lg:hidden">
                    <button type="button"
                            _="on click toggle .hidden .animation-slide-left on #mobile-menu"
                            class="-m-2.5 inline-flex items-center justify-center p-2.5 text-gray-400">
                        <span class="sr-only">Open main menu</span>
                        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                             aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
                        </svg>
                    </button>
                </div>
                <div class="hidden lg:flex lg:gap-x-12">
                    <a href="#" class="text-sm font-semibold leading-6 text-green-50">About Win Village</a>
                    <a href="#" class="text-sm font-semibold leading-6 text-green-50">Rooms</a>
                    <a href="#" class="text-sm font-semibold leading-6 text-green-50">Gourmet</a>
                    <a href="#" class="text-sm font-semibold leading-6 text-green-50">Grills</a>
                </div>
                <div class="hidden lg:flex lg:flex-1 lg:justify-end lg:gap-2">
                    <div class="grid gap-2">
                        <div class="flex gap-2 justify-end text-green-50 text-xl"><img
                                src="{% static 'core/img/phone.svg' %}" alt="">090-0000-0000
                        </div>
                        <a href="#"
                           class="bg-green-600 px-3.5 py-2.5 text-sm text-center font-semibold text-green-50 shadow-sm
                           transition-all duration-250 hover:bg-green-700 focus-visible:outline focus-visible:outline-2
                           focus-visible:outline-offset-2 focus-visible:outline-green-700">
                            Make a Reservation
                        </a>
                    </div>
                </div>
            </nav>
            <!-- Mobile menu, show/hide based on menu open state. -->
            <div id="mobile-menu"
                 class="hidden animation-slide-left transition-all duration-250"
                 role="dialog"
                 aria-modal="true">
                <!-- Background backdrop, show/hide based on slide-over state. -->
                <div class="fixed inset-0 z-50"></div>
                <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-stone-800 px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-green-50/10">
                    <div class="flex items-center justify-between">
                        <a href="#" class="-m-1.5 p-1.5">
                            <span class="sr-only">Win Village</span>
                            <img src="{% static 'core/img/logo.svg' %}" class="max-w-[50px]"
                                 alt={% trans 'Win Village Logo' %}>
                        </a>
                        <button type="button"
                                _="on click toggle .hidden .animation-slide-right on #mobile-menu"
                                class="-m-2.5 p-2.5 text-gray-400">
                            <span class="sr-only">Close menu</span>
                            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                            </svg>
                        </button>
                    </div>
                    <div class="mt-6 flow-root">
                        <div class="-my-6 divide-y divide-gray-500/25">
                            <div class="space-y-2 py-6">
                                <a href="#"
                                   class="-mx-3 block px-3 py-2 text-base font-semibold leading-7 text-green-50 transition-all duration-250 hover:bg-stone-950">About
                                                                                                                                                                Win
                                                                                                                                                                Village</a>
                                <a href="#"
                                   class="-mx-3 block px-3 py-2 text-base font-semibold leading-7 text-green-50 transition-all duration-250 hover:bg-stone-950">Rooms</a>
                                <a href="#"
                                   class="-mx-3 block px-3 py-2 text-base font-semibold leading-7 text-green-50 transition-all duration-250 hover:bg-stone-950">Gourmet</a>
                                <a href="#"
                                   class="-mx-3 block px-3 py-2 text-base font-semibold leading-7 text-green-50 transition-all duration-250 hover:bg-stone-950">Grills</a>
                            </div>
                            <div class="py-6">
                                <a href="#"
                                   class="bg-green-600 px-3.5 py-2.5 text-sm font-semibold text-green-50 shadow-sm transition-all duration-250 hover:bg-green-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-700">Make
                                                                                                                                                                                                                                                                                a
                                                                                                                                                                                                                                                                                Reservation</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="relative isolate overflow-hidden pt-14">
            <img src={% static 'core/img/glamping_hero.jpg' %} alt=""
                 class="absolute inset-0 -z-10 h-full w-full object-cover">
            <div class="absolute inset-0 -z-10 h-full w-full transform-gpu overflow-hidden bg-stone-900/70"
                 aria-hidden="true">
            </div>
            <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
                <div class="hidden sm:mb-8 sm:flex sm:justify-center">
                    <div class="relative px-3 py-1 text-sm font-serif leading-6 text-gray-400 ring-1 ring-green-50/10">
                        {% trans 'Glamping in Imari' %}
                    </div>
                </div>
                <div class="text-center px-5">
                    <h1 class="text-4xl font-display tracking-tight text-green-50 sm:text-6xl">
                        {% filter title %}{% blocktrans %}
                            peace and quiet in the outdoors
                        {% endblocktrans %}{% endfilter %}
                    </h1>
                    <p class="mt-6 text-lg leading-8 text-gray-300">{% trans 'Fresh air, delicious food, comfortable beds' %}</p>
                    <div class="mt-10 flex items-center justify-center gap-x-6">
                        <a href="#"
                           class="bg-green-600 px-3.5 py-2.5 text-sm font-semibold text-green-50 shadow-sm transition-all duration-250 hover:bg-green-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-700">
                            Make a Reservation</a>
                        <a href="#"
                           class="text-sm font-semibold leading-6 text-green-50 transition-all duration-250 group hover:text-green-200">
                            Learn more
                            <span class="inline-block transition-all duration-250 group-hover:translate-x-2"
                                  aria-hidden="true">→</span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container mx-auto my-96 px-4 sm:px-6 lg:px-8">
        <div class="max-w-sm mx-auto">
            <img class="mx-auto" src={% static 'core/img/logo_dark.svg' %} alt="">
            <div class="space-y-5">
                <h2 class="text-center text-green-950 text-5xl font-display">Our Winning Philosophy</h2>
                <p class="font-serif text-green-950">
                    Win Villageはお客様にいい経験を作りたいです。
                    快適な部屋、美味しい肉、癒されるお風呂
                    この3つがあれば最高です。
                </p>
            </div>
        </div>
    </section>
    <div class="relative">
        <div class="absolute -top-[9vw] w-full overflow-hidden">
            <svg class="fill-green-800 rotate-180" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 1200 120"
                 preserveAspectRatio="none">
                <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>

            </svg>
        </div>
    </div>
    <section class="mx-auto pt-28 pb-52 px-4 sm:px-6 lg:px-8 bg-green-800">
        <header class="mx-auto max-w-sm py-28">
            <img class="mx-auto" src="{% static 'core/img/logo.svg' %}" alt="Win Village Logo">
            <h2 class="text-center text-green-50 text-5xl font-display">Our Amenities</h2>
        </header>
        <div class="container mx-auto mb-12 max-w-5xl grid md:grid-cols-2 gap-5">
            <div class="overflow-hidden bg-green-50 shadow text-green-950">
                <div class="aspect-w-2 aspect-h-1 bg-cover bg-center w-full"
                     style="background-image:url({% static 'core/img/glamping_room_outside.jpg' %})">
                </div>
                <div class="px-6 pb-2 pt-6">
                    <h3 class="text-4xl font-display">Rooms</h3>
                </div>
                <div class="px-6 pb-6">
                    <p>Our rooms are very nice.</p>
                </div>
            </div>
            <div class="overflow-hidden bg-green-50 shadow text-green-950">
                <div class="aspect-w-2 aspect-h-1 bg-cover bg-center w-full"
                     style="background-image:url({% static 'core/img/glamping_room_inside.jpg' %})">
                </div>
                <div class="px-6 pb-2 pt-6">
                    <h3 class="text-4xl font-display">Bath</h3>
                </div>
                <div class="px-6 pb-6">
                    <p>Go to sleep feeling clean and refreshed.</p>
                </div>
            </div>
            <div class="overflow-hidden bg-green-50 shadow text-green-950">
                <div class="aspect-w-2 aspect-h-1 bg-cover w-full"
                     style="background-image:url({% static 'core/img/grill.jpg' %})">
                </div>
                <div class="px-6 pb-2 pt-6">
                    <h3 class="text-4xl font-display">Grill</h3></div>
                <div class="px-6 pb-6">
                    <p>Purchase a grill and start cooking right away.</p>
                </div>
            </div>
            <div class="overflow-hidden bg-green-50 shadow text-green-950">
                <div class="aspect-w-2 aspect-h-1 bg-cover w-full"
                     style="background-image:url({% static 'core/img/bbq_food.jpg' %})">
                </div>
                <div class="px-6 pb-2 pt-6">
                    <h3 class="text-4xl font-display">Cuisine</h3></div>
                <div class="px-6 pb-6">
                    <p>Purchase food at a Win Village grocery store.</p>
                </div>
            </div>
        </div>
        <a href="#">
            <button class="mx-auto flex px-6 py-2 text-green-50 font-black gap-2 bg-green-900 cursor-pointer transition-all duration-250 hover:bg-green-950">
                Make a Reservation
                <img src="{% static 'core/img/computer.svg' %}" alt="Computer icon"></button>
        </a>
    </section>
    <footer class="bg-green-800">
        <nav class="text-green-50 grid justify-center sm:flex sm:flex-wrap sm:items-center sm:justify-between gap-10 container max-w-5xl mx-auto py-20 px-6">
            <img class="sm:hidden flex-1 max-w-xs mx-auto" src="{% static 'core/img/logo.svg' %}" alt="">
            <ul class="text-center sm:text-left space-y-2">
                <li>About Win Village</li>
                <li>Rooms</li>
                <li>Gourmet</li>
                <li>Grills</li>
                <li>Corporate Information</li>
            </ul>
            <img class="hidden sm:flex sm:flex-1 max-w-xs mx-auto" src="{% static 'core/img/logo.svg' %}" alt="">
            <div class="flex justify-end gap-2">
                <div class="grid gap-2">
                    <div class="flex gap-2 justify-end text-green-50 text-xl">
                        <img src="{% static 'core/img/phone.svg' %}" alt="">
                        090-0000-0000
                    </div>
                    <a href="#"
                       class="bg-green-50 px-3.5 py-2.5 text-sm text-center font-semibold text-green-950 shadow-sm
                           transition-all duration-250 hover:bg-green-200 focus-visible:outline focus-visible:outline-2
                           focus-visible:outline-offset-2 focus-visible:outline-green-200">
                        Make a Reservation
                    </a>
                </div>
            </div>
        </nav>
    </footer>
{% endblock %}