{% extends 'winadmin/index.html' %}
{% load widget_tweaks widget_checks static i18n %}
{% block subtitle %}
  {% translate 'Create Transaction' %}
{% endblock %}
{% block content %}
  <main id="dashboard-content" class="py-10 lg:ml-72">
    <h1 class="text-center text-3xl">{% translate 'Create Transaction' %}</h1>
    <div class="px-4 sm:px-6 lg:px-8">
      <form class="grid space-y-5 max-w-xl mx-auto" novalidate>
        {{ form.non_field_errors }}
        {% if messages %}
          {% for message in messages %}
            <p class="text-orange-500">{{ message }}</p>
          {% endfor %}
        {% endif %}
        {% for field in form %}
          {% if field|is_required %}
            <label for="{{ field.id_for_label }}" class="grid">
            <span class="flex items-center gap-2 pb-2">
              *
              {{ field.label }}
            {# Error Handling #}
              {% if field.errors %}
                {% for error in field.errors %}
                  <p class="text-red-500">{{ error|escape }}</p>
                {% endfor %}
              {% else %}
                <p class="invisible">No Errors</p>
              {% endif %}
            </span>
          {% else %}
            <label for="{{ field.id_for_label }}" class="grid">
            <span class="flex items-center gap-2 pb-2">
              {{ field.label }}
            {# Error Handling #}
              {% if field.errors %}
                {% for error in field.errors %}
                  <p class="text-red-500">{{ error|escape }}</p>
                {% endfor %}
              {% else %}
                <p class="invisible pt-2">No Errors</p>
              {% endif %}
            </span>
          {% endif %}
        {% if field|is_checkbox %}
          {% render_field field class="text-orange-700" %}
        {% endif %}
        {% if field|is_input %}
          {% if field|is_required %}
            {% render_field field class="border-1" %}
          {% else %}
            {% render_field field class="border-1" %}
          {% endif %}
        {% endif %}
        {% if field|is_textarea %}
          {% if field|is_required %}
            {% render_field field class="border-1" %}
          {% else %}
            {% render_field field class="border-1" %}
          {% endif %}
        {% endif %}
        {% if field|is_select %}
          {% render_field field %}
        {% endif %}
        {% if field|is_file %}
          {% render_field field %}
        {% endif %}


        </label>
        {% endfor %}
        <button hx-post="{% url 'winadmin:create_transaction' %}"
                hx-target="#dashboard-content"
                hx-swap="outerHTML"
                type="submit" name="submit"
                class="py-3 px-5 bg-orange-700 hover:bg-orange-600 text-white text-xl transition-all duration-250">
          Submit
        </button>
      </form>
    </div>
  </main>
{% endblock %}