{% extends 'winadmin/index.html' %}
{% load i18n %}
{% block subtitle %}
  {% translate 'Transaction List View' %}
{% endblock %}
{% block content %}
  <main id="dashboard-content" class="py-10 lg:ml-72">
    <div class="overflow-hidden">
      <h1 class="text-3xl text-center mb-5">{% translate 'Transaction List View' %}</h1>
      <table class="mx-auto max-w-7xl w-full table-auto divide-y divide-stone-300">
        <thead>
        <tr class="text-left">
          <th class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-stone-900 sm:pl-0">
            <span class="pl-6">{% translate 'Date' %}</span>
          </th>
          <th class="px-3 py-3.5 text-left text-sm font-semibold text-stone-900">{% translate 'Name' %}</th>
          <th class="px-3 py-3.5 text-left text-sm font-semibold text-stone-900">{% translate 'Product' %}</th>
          <th class="px-3 py-3.5 text-left text-sm font-semibold text-stone-900">{% translate 'Quantity' %}</th>
          <th class="px-3 py-3.5 text-left text-sm font-semibold text-stone-900">{% translate 'Price Per Item' %}</th>
          <th class="px-3 py-3.5 text-left text-sm font-semibold text-stone-900">{% translate 'Sale Amount' %}</th>
          <th class="px-3 py-3.5 text-left text-sm font-semibold text-stone-900">{% translate 'Return Amount' %}</th>
          <th class="px-3 py-3.5 text-left text-sm font-semibold text-stone-900">{% translate 'Purchase Amount' %}</th>
          <th class="px-3 py-3.5 text-left text-sm font-semibold text-stone-900">{% translate 'Payment Amount' %}</th>
          <th class="px-3 py-3.5 text-left text-sm font-semibold text-stone-900">{% translate 'Remainder' %}</th>
        </tr>
        </thead>
        <tbody class="divide-y divide-stone-200">
        {% for transaction in transactions %}
          <tr class="hover:bg-stone-50">
            <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-stone-900 sm:pl-0">
              <a hx-boost="true" class="pl-6"
                      {#                               href="{% url 'winadmin:edit_transaction' transaction.pk %}"#}
                 href="#"
              >
                {{ transaction.transaction_datetime|date:"Y-m-d" }}
              </a>
            </td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-stone-600">{{ transaction.get_name_display }}</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-stone-600">{{ transaction.item }}</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-stone-600">{{ transaction.quantity }}</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-stone-600">{{ transaction.item.price_rounded }}</td>

            <td class="whitespace-nowrap px-3 py-4 text-sm text-stone-600">
              {% if transaction.sale_amount %}{{ transaction.sale_amount }}{% endif %}
            </td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-stone-600">
              {% if transaction.return_amount %}{{ transaction.return_amount }}{% endif %}
            </td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-stone-600">
              {% if transaction.purchase_amount %}{{ transaction.purchase_amount }}{% endif %}
            </td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-stone-600">
              {% if transaction.payment_amount %}{{ transaction.payment_amount }}{% endif %}
            </td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-stone-600">
              ???
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </main>
{% endblock %}