{% load static i18n tailwind_cli %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  {#    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VY8KJ3S1CP"></script>#}
  {#    <script>#}
  {#        window.dataLayer = window.dataLayer || [];#}
  {##}
  {#        function gtag() {#}
  {#            dataLayer.push(arguments);#}
  {#        }#}
  {##}
  {#        gtag('js', new Date());#}
  {##}
  {#        gtag('config', 'G-VY8KJ3S1CP');#}
  {#    </script>#}
  <!-- This meta tag sets the description of the webpage. The "name" attribute is set to "description" to indicate
  that the content provides a brief description of the webpage. The "content" attribute contains the actual
  description text. This description is typically used by search engines to provide a summary of the webpage's content
  in search results. It helps users understand what the webpage is about before they click on it. -->
  <meta name="description"
        content="{% translate 'Winvillage Administration Dashboard' %}">
  <!-- This meta tag configures the viewport settings for the webpage. The "name" attribute is set to "viewport" to
  indicate that it specifies the viewport properties. The "content" attribute contains the actual settings,
  in this case, "width=device-width, initial-scale=1". This tells the browser to set the width of the viewport to the
  device's width and set the initial zoom level to 1. It ensures that the webpage is displayed properly and scales
  appropriately on different devices with varying screen sizes. -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {% block subtitle %}Subtitle{% endblock %}
    {% block title_divider %} - {% endblock %}
    {% block title %}Title{% endblock %}
  </title>
  {% tailwind_css %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;800&display=swap"
        rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;800&display=swap"
        rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
  <!-- _hyperscript library -->
  <!-- _hyperscript behaviors need to be defined before importing _hyperscript -->
  {% block hyperscript_behaviors %}{% endblock %}
  {% block hyperscript_src %}
    <script src="{% static 'core/js/hyperscript.js' %}"></script>
  {% endblock %}
  {#    <!-- Alpine.js library -->#}
  {#    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>#}
  <!-- HTMX library -->
  {% block htmx_src %}
    <script src="{% static 'core/js/htmx.js' %}"></script>
    {% block idiomorph_src %}
      <script src="{% static 'core/js/idiomorph-ext.js' %}"></script>
    {% endblock %}
  {% endblock %}
  <!-- This is necessary to make Google (potentially) display a picture in the search result. -->
  {#    <script type="application/ld+json">#}
  {#      {#}
  {#        "@context": "https://schema.org",#}
  {#        "@type": "Organization",#}
  {#        "name": "農業法人キタサン",#}
  {#        "url": "https://kitasan.online",#}
  {#        "logo": "{% static 'core/img/mobile_hero.jpg' %}"#}
  {#      }#}
  {#    </script>#}
  {% block extra_scripts %}
  {% endblock %}
  {% block extra_styles %}
  {% endblock %}
</head>

<body hx-ext="morph" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
{% block body %}
  {% block header %}
    {#    {% include 'core/header.html' %}#}
  {% endblock %}
  <main id="admin-main-wrapper">
    {# Margin makes room for sidebar. #}
    <div id="dashboard-content" class="py-10 lg:ml-72">
      <div class="px-4 sm:px-6 lg:px-8">
        {% block messages %}
          <div id="messages" class="fixed bottom-10 right-10"
               hx-get="{% url 'core:get_messages' %}"
               hx-target="this"
               hx-swap="morph:outerHTML"
               hx-trigger="getMessages from:body">{% include 'core/messages.html' %}</div>
          {#          {% if messages %}#}
          {#            <div id="messages" class="fixed bottom-10 right-10"#}
          {#                 hx-get="{% url 'core:get_messages' %}"#}
          {#                 hx-target="this"#}
          {#                 hx-swap="morph:outerHTML"#}
          {#                 hx-trigger="load from:body">{% include 'core/messages.html' %}</div>#}
          {#          {% endif %}#}
        {% endblock %}
        {% block main %}
          {% block top_content %}
          {% endblock %}
          {% block pre_content %}{% endblock %}
          {% block content %}{% endblock %}
          {% block post_content %}{% endblock %}
        {% endblock %}
      </div>
    </div>
  </main>
  {% block footer %}
    {#    {% include 'core/footer.html' %}#}
  {% endblock %}
{% endblock %}
</body>

</html>