{% extends 'winadmin/base.html' %}
{% load i18n static %}
{% block title %}
  {% translate 'Dashboard' %}
{% endblock %}
{% block subtitle %}
  {% translate 'Winvillage Admin' %}
{% endblock %}
{% block header %}
  <!--
       This example requires updating your template:
       ```
       <html class="h-full bg-white">
       <body class="h-full">
       ```
  -->
  <!-- Off-canvas menu for mobile, show/hide based on off-canvas menu state. -->
  {% comment %}
  <c-admin-mobile-nav user=user>
  <ul>
  <li>
  <c-sidebar-group>{% translate 'Customer Management' %}</c-sidebar-button>
  <ul>
  <li><c-sidebar-link url='winadmin:customer_list'>{% trans 'Search Customers' %}</c-sidebar-link></li>
  <li><c-sidebar-link url='winadmin:ticket_create'>{% trans 'Create Ticket' %}</c-sidebar-link></li>
  <li><c-sidebar-link url='winadmin:ticket_list'>{% trans 'View Tickets' %}</c-sidebar-link></li>
  </ul>
  </li>
  <li>
  <c-sidebar-group >{% translate 'Inventory Management' %}</c-sidebar-button>
  <li>
  <ul>
  <li><c-sidebar-link url='winadmin:item_list'>{% trans 'View Inventory' %}</c-sidebar-link></li>
  <li><c-sidebar-link url='winadmin:item_create'>{% trans 'Add Inventory Item' %}</c-sidebar-link></li>
  <li><c-sidebar-link url='winadmin:category_list'>{% trans 'View Categories' %}</c-sidebar-link></li>
  <li><c-sidebar-link url='winadmin:category_create'>{% trans 'Add Category' %}</c-sidebar-link></li>
  </ul>
  </li>
  <li>
  <c-sidebar-group >{% translate 'Sales Management' %}</c-sidebar-button>
  <ul>
  <li><c-sidebar-link url='winadmin:sales_ledger'>{% trans 'Sales Ledger' %}</c-sidebar-link></li>
  <li><c-sidebar-link url='winadmin:pricing_tier_group_list'>{% trans 'View Pricing Tiers' %}</c-sidebar-link></li>
  <li><c-sidebar-link url='winadmin:pricing_tier_group_create'>{% trans 'Create Pricing Tiers' %}</c-sidebar-link></li>
  <li><c-sidebar-link url='winadmin:campaign_list'>{% trans 'View Campaigns' %}</c-sidebar-link></li>
  <li><c-sidebar-link url='winadmin:campaign_create'>{% trans 'Create Campaign' %}</c-sidebar-link></li>
  </ul>
  </li>
  <li>
  <c-sidebar-group >{% translate 'Room Management' %}</c-sidebar-button>
  <ul>
  <li><c-sidebar-link url='winadmin:room_list'>{% trans 'View Rooms' %}</c-sidebar-link></li>
  <li><c-sidebar-link url='winadmin:room_create'>{% trans 'Create Room' %}</c-sidebar-link></li>
  <li><c-sidebar-link url='winadmin:room_tier_list'>{% trans 'View Room Tiers' %}</c-sidebar-link></li>
  <li><c-sidebar-link url='winadmin:room_tier_create'>{% trans 'Create Room Tier' %}</c-sidebar-link></li>
  </ul>
  </li>
  <li>
  <c-sidebar-group >{% translate 'Procurements Management' %}</c-sidebar-button>
  <ul>
  <li><c-sidebar-link url='winadmin:vendor_create'>{% trans 'Create Vendor' %}</c-sidebar-link></li>
  <li><c-sidebar-link url='winadmin:vendor_list'>{% trans 'View Vendors' %}</c-sidebar-link></li>
  <li><c-sidebar-link url='winadmin:procurement_create'>{% trans 'Create Procurement' %}</c-sidebar-link></li>
  <li><c-sidebar-link url='winadmin:accounts_payable_ledger'>{% trans 'Accounts Payable Ledger' %}</c-sidebar-link></li>
  <li><c-sidebar-link url='winadmin:accounts_payable_aging_report'>{% trans 'Accounts Payable Aging Report' %}</c-sidebar-link></li>
  <li><c-sidebar-link url='winadmin:company_wise_procurement_ledger'>{% trans 'Company-wise Procurement Ledger' %}</c-sidebar-link></li>
  </ul>
  </li>
  </li>
  </ul>
  </c-admin-mobile-nav>
  {% endcomment %}
  <c-sidebar :user=user
             logo-url="winadmin:index"
             :navigation='{

                   "{% trans "Customer Management" %}": {
                   "{% trans "Search Customers" %}": "winadmin:customer_list",
                   "{% trans "Create Ticket" %}": "winadmin:ticket_create",
                   "{% trans "View Tickets" %}": "winadmin:ticket_list"
                   },

                   "{% trans "Inventory Management" %}": {
                   "{% trans "View Inventory" %}": "winadmin:item_list",
                   "{% trans "Add Inventory Item" %}": "winadmin:item_create",
                   "{% trans "View Categories" %}": "winadmin:category_list",
                   "{% trans "Add Category" %}": "winadmin:category_create"
                   },

                   "{% trans "Sales Management" %}": {
                   "{% trans "Sales Ledger" %}": "winadmin:sales_ledger",
                   "{% trans "View Pricing Tiers" %}": "winadmin:pricing_tier_group_list",
                   "{% trans "Create Pricing Tiers" %}": "winadmin:pricing_tier_group_create",
                   "{% trans "View Campaigns" %}": "winadmin:campaign_list",
                   "{% trans "Create Campaign" %}": "winadmin:campaign_create",
                   },

                   "{% trans "Room Management" %}": {
                   "{% trans "View Rooms" %}": "winadmin:room_list",
                   "{% trans "Create Room" %}": "winadmin:room_create",
                   "{% trans "View Room Tiers" %}": "winadmin:room_tier_list",
                   "{% trans "Create Room Tier" %}": "winadmin:room_tier_create",
                   },

                   "{% trans "Procurements Management" %}": {
                   "{% trans "View Vendors" %}": "winadmin:vendor_list",
                   "{% trans "Create Vendor" %}": "winadmin:vendor_create",
                   "{% trans "Create Procurement" %}": "winadmin:procurement_create",
                   "{% trans "Accounts Payable Ledger" %}": "winadmin:accounts_payable_ledger",
                   "{% trans "Accounts Payable Aging Report" %}": "winadmin:accounts_payable_aging_report",
                   "{% trans "Company-wise Procurement Ledger" %}": "winadmin:company_wise_procurement_ledger",
                   },

                   }' />

{% endblock %}
{% block content %}
  <div class="grid grid-cols-2 [grid-area:content] max-w-4xl gap-7">
    <a href="{% url 'winadmin:reservation_create' %}" hx-boost="true" class="grid place-items-center px-5 py-[50%] text-xl font-semibold rounded-md
             transition-all duration-250 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2
             bg-stone-100 text-stone-900 hover:scale-105 hover:ring-2 hover:ring-stone-500 focus-visible:outline-orange-700">
      <p>{% translate 'Make a Reservation' %}</p>
    </a>
    <a href="{% url 'winadmin:customer_check_in_check_out_list' %}" hx-boost="true" class="grid place-items-center px-5 py-[50%] text-xl font-semibold rounded-md
             transition-all duration-250 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2
             bg-stone-100 text-stone-900 hover:scale-105 hover:ring-2 hover:ring-stone-500 focus-visible:outline-orange-700">
      <p>{% translate 'Customer Check In' %}</p>
    </a>
    <a href="{% url 'winadmin:occupied_room_list' %}" hx-boost="true" class="grid place-items-center px-5 py-[50%] text-xl font-semibold rounded-md
             transition-all duration-250 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2
             bg-stone-100 text-stone-900 hover:scale-105 hover:ring-2 hover:ring-stone-500 focus-visible:outline-orange-700">
      <p>{% translate 'Room List' %}</p>
    </a>
  </div>
{% endblock %}
