{% load i18n %}
{% load widget_tweaks %}

<div{% with classes=field.css_classes %} class="field is-horizontal slide-it {{ classes }}"{% endwith %}
                                         id="form-row-{{ field.name }}"
        {% if do_htmx_validation and field|widget_type != "fileinput" and field|widget_type != "checkboxinput" %}
                                         hx-get="{% url 'reservations:contact_information_input' %}"
                                         hx-vals='{"_validate_field": "{{ field.name }}" }'
                                         hx-trigger="change from:#form-row-{{ field.name }}"
                                         hx-include="#form-row-{{ field.name }}"
                                         hx-target="this"
                                         hx-ext="morph"
                                         hx-swap="morph:outerHTML transition:true"
        {% endif %}>
  {% if field.label %}
    <div class="field-label is-normal">
      {{ field.label_tag }}
    </div>
  {% endif %}
  <div class="field-body">
    {% with error_class=errors|yesno:"is-danger,," %}
      <div class="field">
        <div class="grid control">
          {% if field|widget_type == "select" %}
            <div class="select {{ error_class }}">
              {{ field }}
            </div>
          {% else %}
            {#            This is the field you want to edit#}
            {#            {% if do_htmx_validation and field|widget_type != "fileinput" and field|widget_type != "checkboxinput" %}#}
            {#              {% url 'reservations:contact_information_input' as hx_post %}#}
            {#              {% with hx_vals_value='{"use_block": "contact-information-input"}' %}#}
            {#                {% render_field field hx-post=hx_post hx-trigger="change" hx-swap="innerHTML" hx-target="#reservation-form-wrapper" hx-val=hx_vals_value %}#}
            {#              {% endwith %}#}
            {#            {% else %}#}
            {% render_field field error_class=error_class %}
            {#            {% endif %}#}
          {% endif %}
        </div>
        {% if field.help_text %}
          <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
        {% if errors %}
          <p class="text-red-500 help is-danger">
            {{ errors }}
          </p>
        {% else %}
          <p class="invisible">
            {% blocktrans %}No errors{% endblocktrans %}
          </p>
        {% endif %}
      </div>
    {% endwith %}
  </div>

  {% if forloop.last %}
    {% for field in hidden_fields %}{{ field }}{% endfor %}
  {% endif %}
</div>