{% extends 'winadmin/index.html' %}
{% load i18n %}
{% block subtitle %}
  {% blocktrans %}Create a customer{% endblocktrans %}
{% endblock %}
{% block page_header %}
  <c-admin-page-header header="{% translate 'Customer Management' %}"
                       subheader="{% trans 'Customer Create' %}"/>
{% endblock %}
{% block content %}
  <c-form>
    {{ form }}
    <c-crud-button-container>
      <c-button name="submit" type="submit">{% trans "Create Customer" %}</c-button>
    </c-crud-button-container>
    {% if ticket.is_closed %}
      <div class="space-y-5 grid">
        <c-button name="reopen-ticket">
          {% trans "Reopen Ticket" %}
        </c-button>
      </div>
    {% else %}
      <c-crud-button-container>
        <c-button name="add-note">
          {% trans "Add Note" %}
        </c-button>
        <c-button name="close-ticket" data-action="delete">
          {% trans "Close Ticket" %}
        </c-button>
      </c-crud-button-container>
    {% endif %}
    {% block notes %}
      {% for note in notes %}
        <div class="mt-5 pointer-events-auto flex w-full max-w-md">
          <div class="w-0 flex-1 p-4">
            <div class="flex items-start">
              <div class="ml-3 w-0 flex-1">
                <p class="text-sm font-medium text-gray-900">
                  {{ note.user }} - {{ note.created_at|date:"Y-m-d" }} {{ note.created_at|time:"H:i" }}
                </p>
                <p class="mt-1 text-sm text-gray-500">{{ note.text }}</p>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    {% endblock %}
  </c-form>
{% endblock %}
