{% load static tailwind_cli i18n django_htmx %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" class="scroll-smooth">
  <head>
    {% include 'core/meta.html' %}
    <link rel="canonical" href="{{ request.build_absolute_uri }}">
    <title>
      {% block title %}{% blocktrans %}Glamping in Imari{% endblocktrans %}{% endblock %}
      {% block title_divider %} - {% endblock %}
      {% block subtitle %}{% trans "Winvillage" %}{% endblock %}
    </title>
    {% tailwind_css %}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'core/img/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'core/img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'core/img/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'core/img/favicon/site.webmanifest' %}">
    <!-- _hyperscript library -->
    <!-- _hyperscript behaviors need to be defined before importing _hyperscript -->
    {% block hyperscript_behaviors %}{% endblock %}
    <script src="{% static 'core/js/hyperscript.js' %}"></script>
    {#    <!-- Alpine.js library -->#}
    {#    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>#}
    <!-- HTMX library -->
    <script src="{% static 'core/js/htmx.js' %}"></script>
    <!-- This is necessary to make Google (potentially) display a picture in the search result. -->
    {#    <script type="application/ld+json">#}
    {#      {#}
    {#        "@context": "https://schema.org",#}
    {#        "@type": "Organization",#}
    {#        "name": "農業法人キタサン",#}
    {#        "url": "https://kitasan.online",#}
    {#        "logo": "{% static 'core/img/mobile_hero.jpg' %}"#}
    {#      }#}
    {#    </script>#}
    {% tailwind_css %}
    {% block extra_scripts %}
      <script type="text/hyperscript">
       init
       set $currentCount to 0
       end

       behavior SetCount
       on scroll from window debounced at 20ms
       set sections to <section[data-counter]/> in me
       set offset to 0
       for section in sections
       get the first <a[data-counter=`${the section's @data-counter}`]/> then set sectionLink to it
       measure the section
       if ((result.top < offset) and ($currentCount < the section's @data-counter))
              set $currentCount to the section's @data-counter
         trigger newCount
         else if ((result.bottom > offset) and ($currentCount > the section's @data-counter))
              set $currentCount to the section's @data-counter

           trigger newCount
           else if ((result.top > offset) and ($currentCount == the section's @data-counter))
                    if (the previous <a/> from sectionLink)
                        set $currentCount to the @data-counter of the previous <a/> from sectionLink
                        trigger newCount
                    else
                        set $currentCount to 0
                        trigger newCount
                    end
            end
          end
        end
      end

    behavior SetActiveLink
    init get <a[data-counter]/> in me then set :links to it end
    on newCount from elsewhere
        for link in :links
            if $currentCount == the link's @data-counter
             set the link's @data-active to "true"
            else
              set the link's @data-active to "false"

             end
             end
             end
             end

      </script>
    {% endblock %}
    {% block extra_styles %}
    {% endblock %}
  </head>

  <body class="bg-white" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% block header %}
      <c-header initial-logo="{% static 'core/img/dark_logo.svg' %}" scroll-logo="{% static 'core/img/light_logo.svg' %}"/>
    {% endblock %}
    {% block pre_content %}{% endblock %}
    {% block content %}

      {% block content_top %}
      {% endblock %}
      {% block content_main %}
      {% endblock %}
      {% block content_bottom %}
      {% endblock %}
    {% endblock %}
    {% block post_content %}{% endblock %}
    {% block footer %}
      <footer class="mx-auto max-w-fit min-h-screen grid place-items-center">
        <div class="mx-5 md:mx-20 my-7 space-y-5 text-center">
          <div class="mx-auto w-fit"><img src="{% static 'core/img/light_logo.svg' %}" alt="logo"/></div>
          <h2 class="font-antique text-2xl lg:text-3xl xl:text-5xl uppercase">
            {% translate 'Relaxation Awaits' %}
          </h2>
          <p class="text-balance">
            {% translate '最高のグランピングが佐世保で待っています。' %}
          </p>

          <div class="text-lg text-stone-900">
            <a href="tel:0956-30-8411"><h3 class="font-antique uppercase text-sm tracking-widest w-fit mx-auto relative before:content-['+'] before:absolute before:left-0 before:-top-[0.2ch]
                                                  after:content-['+'] after:absolute after:right-0 after:-top-[0.2ch] px-[1.5ch]">Make a Reservation</h3>
              <div class="flex justify-center gap-2">
                <svg fill="none" height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg">
                  <path d="m4 6.66667c0-.70725.28095-1.38552.78105-1.88562s1.17837-.78105 1.88562-.78105h4.37333c.2797.00021.5523.0884.7791.25207.2269.16367.3965.39454.4849.65993l1.9973 5.9907c.1012.3044.0893.6352-.0337.9315-.1229.2963-.3486.5384-.6356.6818l-3.0093 1.5067c1.4751 3.2647 4.0899 5.8795 7.3546 7.3546l1.5067-3.0093c.1434-.287.3855-.5127.6818-.6356.2963-.123.6271-.1349.9315-.0337l5.9907 1.9973c.2656.0885.4966.2583.6603.4854s.2518.5.2517.7799v4.372c0 .7073-.281 1.3856-.781 1.8857-.5001.5-1.1784.781-1.8857.781h-1.3333c-11.0453 0-20-8.9547-20-20z"
                        class="stroke-stone-900 stroke-[3]"/>
                </svg>
                0956-30-8411
              </div>
            </a>
          </div>

        </div>
      </footer>
    {% endblock %}
  </body>
  {% django_htmx_script %}
</html>
