{% load static tailwind_cli i18n django_htmx %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  {% include 'core/meta.html' %}
  <link rel="canonical" href="{{ request.build_absolute_uri }}">
  <title>
    {% block title %}{% blocktrans %}Glamping in Imari{% endblocktrans %}{% endblock %}
    {% block title_divider %} - {% endblock %}
    {% block subtitle %}{% trans "Winvillage" %}{% endblock %}
  </title>
  {% tailwind_css %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;800&display=swap"
        rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;800&display=swap"
        rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
  <!-- _hyperscript library -->
  <!-- _hyperscript behaviors need to be defined before importing _hyperscript -->
  {% block hyperscript_behaviors %}{% endblock %}
  <script src="{% static 'core/js/hyperscript.js' %}"></script>
  {#    <!-- Alpine.js library -->#}
  {#    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>#}
  <!-- HTMX library -->
  <script src="{% static 'core/js/htmx.js' %}"></script>
  {% django_htmx_script %}
  <!-- This is necessary to make Google (potentially) display a picture in the search result. -->
  {#    <script type="application/ld+json">#}
  {#      {#}
  {#        "@context": "https://schema.org",#}
  {#        "@type": "Organization",#}
  {#        "name": "農業法人キタサン",#}
  {#        "url": "https://kitasan.online",#}
  {#        "logo": "{% static 'core/img/mobile_hero.jpg' %}"#}
  {#      }#}
  {#    </script>#}
  {% tailwind_css %}
  {% block extra_scripts %}
  {% endblock %}
  {% block extra_styles %}
  {% endblock %}
</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
{{ django_htmx_script }}
{% block header %}
{% endblock %}
{% block pre_content %}{% endblock %}
{% block content %}
  {% block content_top %}
  {% endblock %}
  {% block content_main %}
  {% endblock %}
  {% block content_bottom %}
  {% endblock %}
{% endblock %}
{% block post_content %}{% endblock %}
{% block footer %}
{% endblock %}
</body>
</html>