<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Untitled</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://unpkg.com/hyperscript.org@0.9.14"></script>
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

    </head>
    <body>
        <button _="on click set dialog to the next <dialog/>
                   if dialog does not match @open
                   call dialog.showModal()
                   end">
            open dialog
        </button>
        <dialog id="modal-{{ forloop.counter0 }}"
                class="bg-transparent backdrop:bg-stone-800/80 backdrop:backdrop-blur-sm"
                _="on click
                    measure me
                    set is_in_me to result.top    <= event.clientY              and
                    event.clientY <= result.top + result.height and
                    result.left   <= event.clientX              and
                    event.clientX <= result.left + result.width
                    if is_in_me == false call me.close()">
            <div class="mt-10 relative">
                <div class="absolute top-2 right-0 flex w-16 justify-center">
                    <button type="button"
                            _="on click set dialog to the closest <dialog/>
                                  if the dialog matches @open
                                  call dialog.close()
                                  end">
                        <span class="sr-only">Close sidebar</span>
                        <svg class="h-12 w-12 text-white"
                             fill="none"
                             viewBox="0 0 24 24"
                             stroke-width="1.5"
                             stroke="currentColor"
                             aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                        </svg>
                    </button>
                </div>
                <div>
                    <img src="{{ image }}"
                         alt="" />
                </div>

            </div>

        </dialog>
    </body>
</html>
