{% extends "core/base.html" %}
{% load static i18n %}
{% block extra_styles %}
    <style type="text/css" media="screen">
     .corner-only {
         --s: 50px; /* size of the corners */
         border: 8px solid #B38184;
         background: # content-box;
     }
    </style>

{% endblock %}
{% block extra_scripts %}
    <script type="text/hyperscript">
     init
     set $currentCount to 0
     end

     behavior SetCount
     on scroll from window debounced at 20ms
     set sections to <section[data-counter]/> in me
     set offset to 250
     for section in sections
     get the first <a[data-counter=`${the section's @data-counter}`]/> then set sectionLink to it
     measure the section
     if ((result.top < offset) and ($currentCount < the section's @data-counter))
              set $currentCount to the section's @data-counter
         trigger newCount
         else if ((result.bottom > offset) and ($currentCount > the section's @data-counter))
              set $currentCount to the section's @data-counter

             trigger newCount
             else if ((result.top > offset) and ($currentCount == the section's @data-counter))
                    if (the previous <a/> from sectionLink)
                        set $currentCount to the @data-counter of the previous <a/> from sectionLink
                        trigger newCount
                    else
                        set $currentCount to 0
                        trigger newCount
                    end
            end
          end
        end
      end

    behavior SetActiveLink
    init get <a[data-counter]/> in me then set :links to it end
    on newCount from elsewhere
        for link in :links
            if $currentCount == the link's @data-counter
                 set the link's @data-active to "true"
            else
              set the link's @data-active to "false"

                 end
                 end
                 end
                 end

    </script>

{% endblock %}
{% block extra_scripts_bottom %}
    <script src="https://unpkg.com/@rive-app/canvas@2.21.3"></script>
    <script>
     const r = new rive.Rive({
         src: "{% static 'core/img/reservation-button.riv' %}",
         // OR the path to a discoverable and public Rive asset
         canvas: document.getElementById("reservation-button-light"),
         autoplay: true,
         artboard: "make-a-reservation", // Optional. If not supplied the default is selected
         stateMachines: "reservation-button",
         // onLoad: () => {
         //     r.resizeDrawingSurfaceToCanvas();
         // },
     });

     const darkLargeR = new rive.Rive({
         src: "{% static 'core/img/reservation-button.riv' %}",
         // OR the path to a discoverable and public Rive asset
         canvas: document.getElementById("reservation-button-dark-large"),
         autoplay: true,
         artboard: "make-a-reservation-dark", // Optional. If not supplied the default is selected
         stateMachines: "reservation-button-dark",
         onLoad: () => {
             r.resizeDrawingSurfaceToCanvas();
         },
     });
    </script>
{% endblock %}
{% block content_main %}
    <main _="install SetCount">
        <c-hero class="relative"
                opacity="opacity-40"
                :images="['core/img/inside2@0.25x.jpg', 'core/img/outside1@0.25x.jpg', 'core/img/front1@0.25x.jpg', 'core/img/outdoor_bath@0.25x.jpg']">
            <div class="text-white text-center font-serif">
                <div class="flex justify-center">
                    <img class="w-24 h-24 sm:w-[200px] sm:h-[200px]" src="{% static 'core/img/dark_logo.svg' %}" alt="" />
                </div>
                <p class="text-sm mb-2 sm:mb-12 xl:mb-32">長崎でグランピング</p>
                <div class="flex flex-col items-center">
                    <h1 class="font-antique uppercase text-balance text-xl sm:text-3xl sm:text-7xl">your weekend is waiting in nagasaki</h1>
                    <c-divider />
                    <p class="text-xl sm:text-3xl">火をつけてリラックしよう</p>
                </div>
                <canvas class="mx-auto" id="reservation-button-light" width="75" height="75"></canvas>
            </div>
        </c-hero>
        <section class="px-2 sm:px-10 lg:px-20 my-10 sm:my-48 max-w-7xl mx-auto text-orange-950 scroll-mt-20 sm:scroll-mt-48" data-counter="0" id="introduction"
                 _="on scroll from window set offset to window.innerHeight / 2 then set my_measure to the result then measure the next <footer/> then set footer_measure to the result
                        if my_measure.bottom < offset and footer_measure.top > offset
                        set #reservation-button-dark-large-container's @data-popup to true
                        else
                        set #reservation-button-dark-large-container's @data-popup to false">
            {% static "core/img/tent.svg" as tent %}
            <div class="flex flex-col items-center space-y-2 md:space-y-3 lg:space-y-5 max-w-7xl mx-auto mb-10">
                <div class="relative text-center w-full">
                    <img class="absolute top-1/2 -translate-y-1/2 left-0 w-[50px] sm:w-[100px] lg:w-max -z-10" src="{% static 'core/img/tent.svg' %}" alt="" loading="lazy" />
                    <img class="absolute top-1/2 -translate-y-1/2 right-0 h-[50px] sm:h-[100px] lg:h-max -z-10" src="{% static 'core/img/chair.svg' %}" alt="" loading="lazy" />
                    <p class="text-xs lg:text-lg tracking-[0.5ch]">週末の秘密基地</p>
                    <h2 class="px-[50px] text-3xl lg:text-7xl uppercase font-antique text-center">your weekend getaway</h2>
                </div>
                <c-divider color="bg-orange-950" size="w-1/3 md:w-1/2 h-[1px]"/>
                <p class="font-serif font-bold text-md md:text-xl">概念やビジョンの話・概念やビジョンの話・概念やビジョンの話・概念やビジョンの話・概念やビジョンの話・</p>
            </div>
            <div class="grid gap-10 sm:grid-cols-3 mb-10">
                <a href="#room" class="flex justify-center group hover:scale-110 transition-all duration-300 hover:text-orange-700">
                    <div class="flex flex-col items-center space-y-2 md:space-y-3 lg:space-y-5 max-w-7xl mx-auto">
                        <div class="w-1/2 max-h-[30px]  flex justify-center">
                            <img src="{% static 'core/img/fried-food.svg' %}" alt="" />
                        </div>
                        <p class="text-xs lg:text-sm">贅沢の部屋</p>
                        <h3 class="uppercase font-antique md:text-xl lg:text-2xl">rooms</h3>
                        <c-divider color="bg-orange-950" size="w-full h-[1px]" />
                        <p class="max-w-[20ch] sm:max-w-full">このキッチンはなんでもある！</p>
                        <img class="group-hover:drop-shadow-md group-hover:rotate-6 transition-all duration-300" src="{% static 'core/img/arrow.svg' %}" alt="" />
                    </div>
                </a>
                <a href="#camping" class="flex justify-center group hover:scale-110 transition-all duration-300 hover:text-orange-700">
                    <div class="flex flex-col items-center space-y-2 md:space-y-3 lg:space-y-5 max-w-7xl mx-auto">
                        <div class="w-1/2 max-h-[30px]  flex justify-center">
                            <img src="{% static 'core/img/grill.svg' %}" alt="" />
                        </div>
                        <p class="text-xs lg:text-sm">楽々のキャンプ</p>
                        <h3 class="uppercase font-antique md:text-xl lg:text-2xl">camping</h3>
                        <c-divider color="bg-orange-950" size="w-full h-[1px]" />
                        <p class="max-w-[20ch] sm:max-w-full">自分のキャンプ用グッズを持ってきても、こっちでレンタルしてもいい</p>
                        <img class="group-hover:drop-shadow-md group-hover:rotate-6 transition-all duration-300" src="{% static 'core/img/arrow.svg' %}" alt="" />
                    </div>
                </a>
                <a href="#play&sauna" class="flex justify-center group hover:scale-110 transition-all duration-300 hover:text-orange-700">
                    <div class="flex flex-col items-center space-y-2 md:space-y-3 lg:space-y-5 max-w-7xl mx-auto">
                        <div class="w-1/2 max-h-[30px]  flex justify-center">
                            <img src="{% static 'core/img/wagon.svg' %}" alt="" />
                        </div>
                        <p class="text-xs lg:text-sm">色々な遊び</p>
                        <h3 class="uppercase font-antique md:text-xl lg:text-2xl">fun</h3>
                        <c-divider color="bg-orange-950" size="w-full h-[1px]" />
                        <p class="max-w-[20ch] sm:max-w-full">「最高だったよ、パパ！また行きたい！」</p>
                        <img class="group-hover:drop-shadow-md group-hover:rotate-6 transition-all duration-300" src="{% static 'core/img/arrow.svg' %}" alt="" />
                    </div>
                </a>
            </div>
            <div class="flex flex-col items-center space-y-2 md:space-y-3 lg:space-y-5 max-w-7xl mx-auto mb-10">
                <div class="relative text-center w-full">
                    <p class="text-xs lg:text-lg tracking-[0.5ch]">地図</p>
                    <h2 class="px-[50px] text-3xl lg:text-7xl uppercase font-antique text-center">map</h2>
                </div>
            </div>
            <figure class="relative w-fit md:max-w-2xl xl:max-w-5xl mx-auto">
                <button _="on click set dialog to the next <dialog/> if dialog does not match @open call dialog.showModal() end"
                        class="absolute text-sm sm:text-xl bg-white
                           w-[40px] h-[30px] top-[640px] right-[70px]
                           md:w-[41px] md:h-[32px] md:top-[202px] md:right-[82px]
                           xl:w-[65px] xl:h-[50px] xl:top-[307.5px] xl:right-[122px]
                           grid place-items-center font-antique text-4xl font-bold hover:bg-yellow-500 hover:scale-110">
                    00
                </button>
                {% static 'core/img/rooms/00/00.jpg' as zero %}
                {% static 'core/img/rooms/00/01.jpg' as one %}
                {% static 'core/img/rooms/00/02.jpg' as two %}
                {% static 'core/img/rooms/00/03.jpg' as three %}
                {% static 'core/img/rooms/00/04.jpg' as four %}
                {% static 'core/img/rooms/00/05.jpg' as five %}
                {% static 'core/img/rooms/00/06.jpg' as six %}
                {% static 'core/img/rooms/00/07.jpg' as seven %}
                {% static 'core/img/rooms/00/08.jpg' as eight %}
                {% static 'core/img/rooms/00/09.jpg' as nine %}
                {% static 'core/img/rooms/00/10.jpg' as ten %}
                {% static 'core/img/rooms/00/11.jpg' as eleven %}


                <c-modal-slider :images="['{{ zero }}', '{{one}}', '{{two}}', '{{three}}', '{{four}}', '{{five}}', '{{six}}', '{{seven}}', '{{eight}}', '{{nine}}', '{{ten}}', '{{eleven}}']"/>
                <button _="on click set dialog to the next <dialog/> if dialog does not match @open call dialog.showModal() end"
                        class="absolute text-sm sm:text-xl bg-white
                           w-[40px] h-[30px] top-[641px] right-[135px]
                           md:w-[41px] md:h-[32px] md:top-[203px] md:right-[151.5px]
                           xl:w-[67px] xl:h-[50px] xl:top-[308.5px] xl:right-[230px]
                           grid place-items-center font-antique text-4xl font-bold hover:bg-yellow-500 hover:scale-110">
                    01
                </button>
                {% static 'core/img/rooms/01/00.jpg' as zero %}
                {% static 'core/img/rooms/01/01.jpg' as one %}
                {% static 'core/img/rooms/01/02.jpg' as two %}
                {% static 'core/img/rooms/01/03.jpg' as three %}
                {% static 'core/img/rooms/01/04.jpg' as four %}
                {% static 'core/img/rooms/01/05.jpg' as five %}
                {% static 'core/img/rooms/01/06.jpg' as six %}
                {% static 'core/img/rooms/01/07.jpg' as seven %}
                {% static 'core/img/rooms/01/08.jpg' as eight %}
                {% static 'core/img/rooms/01/09.jpg' as nine %}
                {% static 'core/img/rooms/01/10.jpg' as ten %}

                <c-modal-slider :images="['{{ zero }}', '{{one}}', '{{two}}', '{{three}}', '{{four}}', '{{five}}', '{{six}}', '{{seven}}', '{{eight}}', '{{nine}}', '{{ten}}']"/>

                <button _="on click set dialog to the next <dialog/> if dialog does not match @open call dialog.showModal() end"
                        class="absolute text-sm sm:text-xl bg-white
                           w-[40px] h-[30px] top-[709px] right-[150px]
                           md:w-[41px] md:h-[32px] md:top-[275px] md:right-[167.5px]
                           xl:w-[63px] xl:h-[50px] xl:top-[419px] xl:right-[255px] grid place-items-center font-antique text-4xl font-bold hover:bg-yellow-500 hover:scale-110">
                    02
                </button>
                {% static 'core/img/rooms/02/00.jpg' as zero %}
                {% static 'core/img/rooms/02/01.jpg' as one %}
                {% static 'core/img/rooms/02/02.jpg' as two %}
                {% static 'core/img/rooms/02/03.jpg' as three %}
                {% static 'core/img/rooms/02/04.jpg' as four %}
                {% static 'core/img/rooms/02/05.jpg' as five %}
                {% static 'core/img/rooms/02/06.jpg' as six %}
                {% static 'core/img/rooms/02/07.jpg' as seven %}
                <c-modal-slider :images="['{{ zero }}', '{{one}}', '{{two}}', '{{three}}', '{{four}}', '{{five}}', '{{six}}', '{{seven}}']"/>

                <button _="on click set dialog to the next <dialog/> if dialog does not match @open call dialog.showModal() end"
                        class="absolute text-sm sm:text-xl bg-white
                           w-[40px] h-[30px] top-[771px] right-[149px]
                           md:w-[41px] md:h-[32px] md:top-[340.5px] md:right-[165px]
                           xl:w-[63px] xl:h-[50px] xl:top-[518.5px] xl:right-[251px] grid place-items-center font-antique text-4xl font-bold hover:bg-yellow-500 hover:scale-110">
                    03
                </button>
                {% static 'core/img/rooms/03/00.jpg' as zero %}
                {% static 'core/img/rooms/03/01.jpg' as one %}
                {% static 'core/img/rooms/03/02.jpg' as two %}
                {% static 'core/img/rooms/03/03.jpg' as three %}
                {% static 'core/img/rooms/03/04.jpg' as four %}
                {% static 'core/img/rooms/03/05.jpg' as five %}
                {% static 'core/img/rooms/03/06.jpg' as six %}
                {% static 'core/img/rooms/03/07.jpg' as seven %}
                {% static 'core/img/rooms/03/08.jpg' as eight %}
                {% static 'core/img/rooms/03/09.jpg' as nine %}
                <c-modal-slider :images="['{{ zero }}', '{{one}}', '{{two}}', '{{three}}', '{{four}}', '{{five}}', '{{six}}', '{{seven}}', '{{eight}}', '{{nine}}']"/>

                <button _="on click set dialog to the next <dialog/> if dialog does not match @open call dialog.showModal() end"
                        class="absolute text-sm sm:text-xl bg-white
                           w-[40px] h-[30px] top-[206px] right-[240px]
                           md:w-[41px] md:h-[32px] md:top-[218px] md:right-[579px]
                           xl:w-[63px] xl:h-[50px] xl:top-[331.5px] xl:left-[79px] grid place-items-center font-antique text-4xl font-bold hover:bg-yellow-500 hover:scale-110">
                    05
                </button>
                {% static 'core/img/rooms/05/00.jpg' as zero %}
                {% static 'core/img/rooms/05/01.jpg' as one %}
                {% static 'core/img/rooms/05/02.jpg' as two %}
                {% static 'core/img/rooms/05/03.jpg' as three %}
                {% static 'core/img/rooms/05/04.jpg' as four %}
                {% static 'core/img/rooms/05/05.jpg' as five %}
                <c-modal-slider :images="['{{ zero }}', '{{one}}', '{{two}}', '{{three}}', '{{four}}', '{{five}}']"/>

                <button _="on click set dialog to the next <dialog/> if dialog does not match @open call dialog.showModal() end"
                        class="absolute text-sm sm:text-xl bg-white
                           w-[40px] h-[30px] top-[268px] right-[240px]
                           md:w-[41px] md:h-[32px] md:top-[283px] md:right-[579px]
                           xl:w-[63px] xl:h-[50px] xl:top-[431px] xl:left-[79px] grid place-items-center font-antique text-4xl font-bold hover:bg-yellow-500 hover:scale-110">
                    06
                </button>
                {% static 'core/img/rooms/06/00.jpg' as zero %}
                {% static 'core/img/rooms/06/01.jpg' as one %}
                {% static 'core/img/rooms/06/02.jpg' as two %}
                {% static 'core/img/rooms/06/03.jpg' as three %}
                {% static 'core/img/rooms/06/04.jpg' as four %}
                {% static 'core/img/rooms/06/05.jpg' as five %}
                {% static 'core/img/rooms/06/06.jpg' as six %}
                {% static 'core/img/rooms/06/07.jpg' as seven %}
                {% static 'core/img/rooms/06/08.jpg' as eight %}
                <c-modal-slider :images="['{{ zero }}', '{{one}}', '{{two}}', '{{three}}', '{{four}}', '{{five}}', '{{six}}', '{{seven}}']"/>

                <button _="on click set dialog to the next <dialog/> if dialog does not match @open call dialog.showModal() end"
                        class="absolute text-sm sm:text-xl bg-white
                           w-[40px] h-[30px] top-[294px] right-[185px]
                           md:w-[41px] md:h-[32px] md:top-[311px] md:right-[521px]
                           xl:w-[63px] xl:h-[50px] xl:top-[473px] xl:left-[168px] grid place-items-center font-antique text-4xl font-bold hover:bg-yellow-500 hover:scale-110">
                    07
                </button>
                {% static 'core/img/rooms/07/00.jpg' as zero %}
                {% static 'core/img/rooms/07/01.jpg' as one %}
                {% static 'core/img/rooms/07/02.jpg' as two %}
                {% static 'core/img/rooms/07/03.jpg' as three %}
                {% static 'core/img/rooms/07/04.jpg' as four %}
                <c-modal-slider :images="['{{ zero }}', '{{one}}', '{{two}}', '{{three}}', '{{four}}']"/>

                <button _="on click set dialog to the next <dialog/> if dialog does not match @open call dialog.showModal() end"
                        class="absolute text-sm sm:text-xl bg-white
                           w-[40px] h-[30px] top-[366px] right-[210px]
                           md:w-[41px] md:h-[32px] md:top-[387px] md:right-[547px]
                           xl:w-[63px] xl:h-[50px] xl:top-[590.5px] xl:left-[126px] grid place-items-center font-antique text-4xl font-bold hover:bg-yellow-500 hover:scale-110">
                    08
                </button>
                {% static 'core/img/rooms/08/00.jpg' as zero %}
                {% static 'core/img/rooms/08/01.jpg' as one %}
                {% static 'core/img/rooms/08/02.jpg' as two %}
                {% static 'core/img/rooms/08/03.jpg' as three %}
                {% static 'core/img/rooms/08/04.jpg' as four %}
                {% static 'core/img/rooms/08/05.jpg' as five %}
                {% static 'core/img/rooms/08/06.jpg' as six %}
                <c-modal-slider :images="['{{ zero }}', '{{one}}', '{{two}}', '{{three}}', '{{four}}', '{{five}}', '{{six}}']"/>

                <button _="on click set dialog to the next <dialog/> if dialog does not match @open call dialog.showModal() end"
                        class="absolute text-sm sm:text-xl bg-white
                           w-[40px] h-[30px] top-[366px] right-[153px]
                           md:w-[41px] md:h-[32px] md:top-[387px] md:right-[487px]
                           xl:w-[63px] xl:h-[50px] xl:top-[589px] xl:left-[220px] grid place-items-center font-antique text-4xl font-bold hover:bg-yellow-500 hover:scale-110">
                    10
                </button>
                {% static 'core/img/rooms/10/00.jpg' as zero %}
                {% static 'core/img/rooms/10/01.jpg' as one %}
                {% static 'core/img/rooms/10/02.jpg' as two %}
                {% static 'core/img/rooms/10/03.jpg' as three %}
                {% static 'core/img/rooms/10/04.jpg' as four %}
                {% static 'core/img/rooms/10/05.jpg' as five %}
                <c-modal-slider :images="['{{ zero }}', '{{one}}', '{{two}}', '{{three}}', '{{four}}', '{{five}}']"/>

                <button _="on click set dialog to the next <dialog/> if dialog does not match @open call dialog.showModal() end"
                        class="absolute text-sm sm:text-xl bg-white
                           w-[40px] h-[30px] top-[364.5px] right-[90px]
                           md:w-[41px] md:h-[32px] md:top-[386px] md:right-[420px]
                           xl:w-[63px] xl:h-[46px] xl:top-[588px] xl:left-[323px] grid place-items-center font-antique text-4xl font-bold hover:bg-yellow-500 hover:scale-110">
                    11
                </button>
                {% static 'core/img/rooms/11/00.jpg' as zero %}
                {% static 'core/img/rooms/11/01.jpg' as one %}
                {% static 'core/img/rooms/11/02.jpg' as two %}
                {% static 'core/img/rooms/11/03.jpg' as three %}
                {% static 'core/img/rooms/11/04.jpg' as four %}
                {% static 'core/img/rooms/11/05.jpg' as five %}
                {% static 'core/img/rooms/11/06.jpg' as six %}
                <c-modal-slider :images="['{{ zero }}', '{{one}}', '{{two}}', '{{three}}', '{{four}}', '{{five}}', '{{six}}']"/>

                <button _="on click set dialog to the next <dialog/> if dialog does not match @open call dialog.showModal() end"
                        class="absolute text-sm sm:text-xl bg-white
                           w-[40px] h-[30px] top-[284.5px] right-[98px]
                           md:w-[41px] md:h-[32px] md:top-[301px] md:right-[428px]
                           xl:w-[63px] xl:h-[50px] xl:top-[458px] xl:left-[309px] grid place-items-center font-antique text-4xl font-bold hover:bg-yellow-500 hover:scale-110">
                    12
                </button>
                {% static 'core/img/rooms/12/00.jpg' as zero %}
                {% static 'core/img/rooms/12/01.jpg' as one %}
                {% static 'core/img/rooms/12/02.jpg' as two %}
                {% static 'core/img/rooms/12/03.jpg' as three %}
                {% static 'core/img/rooms/12/04.jpg' as four %}
                {% static 'core/img/rooms/12/05.jpg' as five %}
                {% static 'core/img/rooms/12/06.jpg' as six %}
                {% static 'core/img/rooms/12/07.jpg' as seven %}
                <c-modal-slider :images="['{{ zero }}', '{{one}}', '{{two}}', '{{three}}', '{{four}}', '{{five}}', '{{six}}', '{{seven}}']"/>

                <button _="on click set dialog to the next <dialog/> if dialog does not match @open call dialog.showModal() end"
                        class="absolute text-sm sm:text-xl bg-white
                           w-[41px] h-[32px] top-[213px] right-[97px]
                           md:w-[44px] md:h-[34px] md:top-[225px] md:right-[427px]
                           xl:w-[66px] xl:h-[53px] xl:top-[342.5px] xl:left-[306.5px] grid place-items-center font-antique text-4xl font-bold hover:bg-yellow-500 hover:scale-110">
                    13
                </button>
                {% static 'core/img/rooms/13/00.jpg' as zero %}
                {% static 'core/img/rooms/13/01.jpg' as one %}
                {% static 'core/img/rooms/13/02.jpg' as two %}
                {% static 'core/img/rooms/13/03.jpg' as three %}
                {% static 'core/img/rooms/13/04.jpg' as four %}
                {% static 'core/img/rooms/13/05.jpg' as five %}
                {% static 'core/img/rooms/13/06.jpg' as six %}
                <c-modal-slider :images="['{{ zero }}', '{{one}}', '{{two}}', '{{three}}', '{{four}}', '{{five}}', '{{six}}']"/>

                <button _="on click set dialog to the next <dialog/> if dialog does not match @open call dialog.showModal() end"
                        class="absolute text-xs xl:text-lg flex
                           w-[65px] h-[55px] top-[660px] right-[202px]
                           md:w-[70px] md:h-[55px] md:top-[224px] md:right-[220px]
                           xl:w-[108px] xl:h-[90px] xl:top-[339px] xl:left-[581px] font-antique font-bold group">
                    <span class="bg-white leading-narrow block w-full uppercase group-hover:bg-yellow-400 group-hover:scale-110">
                        front
                    </span>
                </button>
                {% static 'core/img/front_logo@0.25x.jpg' as zero %}
                {% static 'core/img/front_2024_4@0.33x.jpg' as one %}
                <c-modal-slider :images="['{{ zero }}', '{{one}}']"/>

                <img src="{% static 'core/img/map.png' %}" class="hidden md:block" alt="" />
                <img src="{% static 'core/img/map-left.jpg' %}" class="max-w-[320px] mx-auto md:hidden" alt="" />
                <img src="{% static 'core/img/map-right.jpg' %}" class="max-w-[320px] mx-auto md:hidden" alt="" />
            </figure>
        </section>
        <section class="my-10 sm:my-48 mx-auto text-orange-950 scroll-mt-20 sm:scroll-mt-48" data-counter="1" id="room">
            <div class="flex flex-col items-center space-y-2 md:space-y-3 lg:space-y-5 max-w-7xl mx-auto
                        px-2 sm:px-10 lg:px-20">
                <div class="relative text-center w-full">
                    <img class="absolute top-1/2 -translate-y-1/2 left-0 w-[50px] sm:w-[100px] lg:w-[150px] -z-10" src="{% static 'core/img/wow.svg' %}" alt="" loading="lazy" />
                    <img class="absolute top-0 sm:-top-1/2 right-0 w-[50px] sm:w-[100px] lg:w-max -z-10" src="{% static 'core/img/paella.svg' %}" alt="" loading="lazy" />
                    <p class="tracking-[0.5ch]">家族みんな快適</p>
                    <h2 class="text-xl md:text-3xl lg:text-7xl uppercase font-antique text-center">our rooms</h2>
                </div>
                <c-divider color="bg-orange-950" size="w-1/3 md:w-1/2 h-[1px]"/>
                <p class="font-serif font-bold text-md md:text-xl">概念やビジョンの話・概念やビジョンの話・概念やビジョンの話・概念やビジョンの話・概念やビジョンの話・</p>
            </div>
            <div class="map my-5 sm:my-10">
                {% static 'core/img/inside1@0.25x.jpg' as image1 %}
                {% static 'core/img/inside2@0.25x.jpg' as image2 %}
                {% static 'core/img/inside3@0.25x.jpg' as image3 %}
                {% static 'core/img/front1@0.25x.jpg' as image4 %}
                {% static 'core/img/front2@0.25x.jpg' as image5 %}
                {% static 'core/img/front3@0.25x.jpg' as image6 %}

                <c-slider :images="['{{ image1 }}', '{{ image2 }}', '{{ image3 }}', '{{ image4 }}', '{{ image5 }}', '{{ image6 }}']">
                    <div class="-translate-y-5 font-serif font-bold mx-auto grid grid-cols-3 md:grid-cols-5 gap-5 max-w-2xl px-2 sm:px-10">
                        <div class="col-span-3 md:col-span-2">
                            <p>キチンでグリルの準備や少し料理できる温泉水で一日の疲れを取る。ゆっくりしながらパソコンや携帯でインターネットに繋げる。キッチンでコーヒーや紅茶をいれて、最高の朝を向かう。</p>
                        </div>
                        <ul class="md:col-span-1">
                            <h4 class="font-antique uppercase">kitchen</h4>
                            <li>冷蔵庫</li>
                            <li>シンク</li>
                            <li>IHコンロ</li>
                            <li>電子レンジ</li>
                            <li>トースター</li>
                            <li>ケトル</li>
                            <li>食器</li>
                            <li>調理器具</li>
                            <li>・・・などなど</li>
                        </ul>
                        <ul class="md:col-span-1">
                            <h4 class="font-antique uppercase">bath</h4>
                            <li>温泉水</li>
                            <li>バスタオル</li>
                            <li>フェイスタオル</li>
                            <li>シャンプー</li>
                            <li>コンディショナー</li>
                            <li>ボディソープ</li>
                            <li>ボディタオル</li>
                            <li>コットン・綿棒</li>
                            <li>・・・などなど</li>

                        </ul>
                        <ul class="md:col-span-1">
                            <h4 class="font-antique uppercase">other</h4>
                            <li>トイレ</li>
                            <li>冷暖房</li>
                            <li>５０型テレビ</li>
                            <li>VOD</li>
                            <li>WIFI</li>
                            <li>軽食の注文</li>
                            <li>朝食</li>
                        </ul>
                    </div>
                </c-slider>
            </div>
        </section>
        <section class="my-10 sm:my-48 mx-auto text-orange-950 scroll-mt-20 sm:scroll-mt-48" data-counter="2" id="camping">
            <div class="flex flex-col items-center space-y-2 md:space-y-3 lg:space-y-5 max-w-7xl mx-auto px-2 sm:px-10 lg:px-20">
                <div class="relative text-center w-full">
                    <div class="absolute top-1/2 -translate-y-1/2 -z-10">
                        <img class="w-[50px] sm:w-[100px] lg:w-[150px]" src="{% static 'core/img/pig.svg' %}" alt="" loading="lazy" />
                        <img class="-translate-x-2 sm:-translate-x-10 w-[25px] sm:w-[50px] lg:w-[75px]" src="{% static 'core/img/curly-arrow.svg' %}" alt="" loading="lazy" />
                    </div>
                    <img class="absolute top-1/2 -translate-y-1/2 right-0 w-[50px] sm:w-[100px] lg:w-max -z-10" src="{% static 'core/img/chicken.svg' %}" alt="" loading="lazy" />
                    <p class="tracking-[0.5ch]">美味しい空気と肉</p>
                    <h2 class="text-xl md:text-3xl lg:text-7xl uppercase font-antique text-center">easy, relaxing camping!</h2>
                </div>
                <c-divider color="bg-orange-950" size="w-1/3 md:w-1/2 h-[1px]"/>
                <p class="font-serif font-bold text-md md:text-xl">概念やビジョンの話・概念やビジョンの話・概念やビジョンの話・概念やビジョンの話・概念やビジョンの話・</p>
            </div>
            <div class="my-5 sm:my-10">
                {% static 'core/img/campfire.jpg' as image1 %}
                {% static 'core/img/grill@0.25x.jpg' as image2 %}
                {% static 'core/img/outdoors_night@0.25x.jpg' as image3 %}
                {% static 'core/img/outside1@0.25x.jpg' as image4 %}
                {% static 'core/img/outside2@0.25x.jpg' as image5 %}
                {% static 'core/img/people@0.25x.jpg' as image6 %}
                {% static 'core/img/bathroom_storage@0.25x.jpg' as image7 %}
                <c-slider :images="['{{ image1 }}', '{{ image2 }}', '{{ image3 }}', '{{ image4 }}', '{{ image5 }}', '{{ image6 }}', '{{image7}}']">
                    <div class="-translate-y-5 font-serif font-bold mx-auto grid grid-cols-3 md:grid-cols-5  gap-5 max-w-2xl px-2 sm:px-10">
                        <div class="col-span-3 md:col-span-2">
                            <p>温泉水と蒸気の温かさは体と心の奥まで染み込む閉鎖空間。よく頑張ったあなたと、これからも頑張るあなたにピッタリ。鍵がかかっている、安全にリラックできる場所。個人でも、家族みんなと一緒にでも入れます。</p>
                        </div>
                        <ul class="md:col-span-1">
                            <h4 class="font-antique uppercase">rental</h4>
                            <li>グリル</li>
                            <li>テント</li>
                            <li>椅子</li>
                            <li>テーブル</li>
                        </ul>
                        <ul class="md:col-span-1">
                            <h4 class="font-antique uppercase">camping</h4>
                            <li>ライター</li>
                            <li>炭</li>
                            <li>ガス</li>
                        </ul>
                        <ul class="md:col-span-1">
                            <h4 class="font-antique uppercase">food</h4>
                            <li>肉</li>
                            <li>魚</li>
                            <li>野菜</li>
                            <li>飲み物</li>
                            <li>ラーメンや軽食</li>
                        </ul>
                    </div>
                </c-slider>
            </div>
        </section>
        <section class="px-2 sm:px-10 lg:px-20 my-10 sm:my-48 max-w-7xl mx-auto text-orange-950 scroll-mt-20 sm:scroll-mt-48" data-counter="3" id="play&sauna">
            <div class="flex flex-col items-center space-y-2 md:space-y-3 lg:space-y-5 max-w-7xl mx-auto px-2 sm:px-10 lg:px-20">
                <div class="relative text-center w-full">
                    <img class="absolute top-1/2 -translate-y-1/2 left-0 w-[50px] sm:w-[100px]" src="{% static 'core/img/coffee-and-table.svg' %}" alt="" loading="lazy" />
                    <div class="absolute top-1/2 right-0 -translate-y-1/2 -z-10">
                        <img class="-translate-x-2 -translate-y-2 sm:-translate-x-5 sm:-translate-y-5 w-[50px] sm:w-[100px] -z-10" src="{% static 'core/img/tent.svg' %}" alt="" loading="lazy" />
                        <img class="translate-x-2 sm:translate-x-5 w-[25px] sm:w-[50px] lg:w-[75px]" src="{% static 'core/img/chair.svg' %}" alt="" loading="lazy" />
                    </div>
                    <p class="tracking-[0.5ch]">それぞれで遊ぼう<br class="xl:hidden">一緒に遊ぼう</p>
                    <h2 class="text-xl md:text-3xl lg:text-7xl uppercase font-antique text-center">fun for<br>all ages!</h2>
                </div>
                <c-divider color="bg-orange-950" size="w-1/3 md:w-1/2 h-[1px]"/>
                <p class="font-serif font-bold text-md md:text-xl">概念やビジョンの話・概念やビジョンの話・概念やビジョンの話・概念やビジョンの話・概念やビジョンの話・</p>
            </div>
            <div class="my-10 relative before:absolute before:content-[''] before:border-[5px] before:border-dashed before:border-orange-950 before:-inset-[4px] p-5 overflow-hidden">
                <h2 class="uppercase text-3xl text-center">toys</h2>
            </div>

            <div class="my-10 mx-auto flex justify-center">
                <p class="text-center max-w-xs">シャボン玉、ポップアップテント、色々なリモコン・カーやレゴをレンタルできます。</p>
            </div>
            <div class="flex gap-5">
                <div class="">
                    {% static 'core/img/kart@0.25x.jpg' as image %}
                    <div class="image-wrapper cursor-pointer" _="on click set dialog to the next <dialog/> if dialog does not match @open call dialog.showModal() end">
                        <img src="{{ image }}" alt="" />
                    </div>
                    <dialog class="backdrop:bg-stone-800/80 backdrop:backdrop-blur-sm"
                            _="on click
                                   measure me
                                   set is_in_me to result.top    <= event.clientY              and
                                   event.clientY <= result.top + result.height and
                                   result.left   <= event.clientX              and
                                   event.clientX <= result.left + result.width
                                   if is_in_me == false call me.close()">
                        <div class="relative">
                            <div class="absolute top-2 right-0 flex w-16 justify-center">
                                <button type="button"
                                        _="on click set dialog to the closest <dialog/>
                                              if the dialog matches @open
                                              call dialog.close()
                                              end">
                                    <span class="sr-only">Close sidebar</span>
                                    <svg class="h-12 w-12 text-white"
                                         fill="none"
                                         viewBox="0 0 24 24"
                                         stroke-width="1.5"
                                         stroke="currentColor"
                                         aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                                    </svg>
                                </button>
                            </div>
                            <img src="{{ image }}" alt="" />
                        </div>
                    </dialog>
                </div>
                <div class="flex w-[2px] relative before:absolute before:content-[''] before:border-r-[5px] before:border-dashed before:border-orange-950 before:-inset-[4px] overflow-hidden">
                </div>
                <div>
                    {% static 'core/img/outside3@0.25x.jpg' as image %}
                    <div class="image-wrapper cursor-pointer" _="on click set dialog to the next <dialog/> if dialog does not match @open call dialog.showModal() end">
                        <img src="{{ image }}" alt="" />
                    </div>
                    <dialog
                        class="backdrop:bg-stone-800/80 backdrop:backdrop-blur-sm"
                        _="on click
                               measure me
                               set is_in_me to result.top    <= event.clientY              and
                               event.clientY <= result.top + result.height and
                               result.left   <= event.clientX              and
                               event.clientX <= result.left + result.width
                               if is_in_me == false call me.close()">
                        <div class="relative">
                            <div class="absolute top-2 right-0 flex w-16 justify-center">
                                <button type="button"
                                        _="on click set dialog to the closest <dialog/>
                                              if the dialog matches @open
                                              call dialog.close()
                                              end">
                                    <span class="sr-only">Close sidebar</span>
                                    <svg class="h-12 w-12 text-white"
                                         fill="none"
                                         viewBox="0 0 24 24"
                                         stroke-width="1.5"
                                         stroke="currentColor"
                                         aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                                    </svg>
                                </button>
                            </div>
                            <img src="{{ image }}" alt="" />
                        </div>
                    </dialog>
                </div>
            </div>
            <div class="my-10 relative before:absolute before:content-[''] before:border-[5px] before:border-dashed before:border-orange-950 before:-inset-[4px] p-5 overflow-hidden">
                <h2 class="uppercase text-3xl text-center">bath & sauna</h2>
            </div>
            <div class="flex gap-5">
                {% static 'core/img/sauna@0.25x.jpg' as image %}
                <div class="image-wrapper cursor-pointer" _="on click set dialog to the next <dialog/> if dialog does not match @open call dialog.showModal() end">
                    <img src="{{ image }}" alt="" />
                </div>
                <dialog
                    class="backdrop:bg-stone-800/80 backdrop:backdrop-blur-sm"
                    _="on click
                           measure me
                           set is_in_me to result.top    <= event.clientY              and
                           event.clientY <= result.top + result.height and
                           result.left   <= event.clientX              and
                           event.clientX <= result.left + result.width
                           if is_in_me == false call me.close()">
                    <div class="relative">
                        <div class="absolute top-2 right-0 flex w-16 justify-center">
                            <button type="button"
                                    _="on click set dialog to the closest <dialog/>
                                          if the dialog matches @open
                                          call dialog.close()
                                          end">
                                <span class="sr-only">Close sidebar</span>
                                <svg class="h-12 w-12 text-white"
                                     fill="none"
                                     viewBox="0 0 24 24"
                                     stroke-width="1.5"
                                     stroke="currentColor"
                                     aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                                </svg>
                            </button>
                        </div>
                        <img src="{{ image }}" alt="" />
                    </div>
                </dialog>
                <div class="flex w-[2px] relative before:absolute before:content-[''] before:border-r-[5px] before:border-dashed before:border-orange-950 before:-inset-[4px] overflow-hidden">
                </div>
                <div>
                    {% static 'core/img/outdoor_bath@0.25x.jpg' as image %}
                    <div class="image-wrapper cursor-pointer" _="on click set dialog to the next <dialog/> if dialog does not match @open call dialog.showModal() end">
                        <img src="{{ image }}" alt="" />
                    </div>
                    <dialog
                        class="backdrop:bg-stone-800/80 backdrop:backdrop-blur-sm"
                        _="on click
                               measure me
                               set is_in_me to result.top    <= event.clientY              and
                               event.clientY <= result.top + result.height and
                               result.left   <= event.clientX              and
                               event.clientX <= result.left + result.width
                               if is_in_me == false call me.close()">
                        <div class="relative">
                            <div class="absolute top-2 right-0 flex w-16 justify-center">
                                <button type="button"
                                        _="on click set dialog to the closest <dialog/>
                                              if the dialog matches @open
                                              call dialog.close()
                                              end">
                                    <span class="sr-only">Close sidebar</span>
                                    <svg class="h-12 w-12 text-white"
                                         fill="none"
                                         viewBox="0 0 24 24"
                                         stroke-width="1.5"
                                         stroke="currentColor"
                                         aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                                    </svg>
                                </button>
                            </div>
                            <img src="{{ image }}" alt="" />
                        </div>

                    </dialog>

                </div>
            </div>
        </section>
        <section class="px-2 sm:px-10 lg:px-20 my-10 sm:my-48 max-w-7xl mx-auto text-orange-950 scroll-mt-20 sm:scroll-mt-48" data-counter="4" id="access">
            <div class="flex gap-5 items-center justify-between mb-10">
                <div>
                    <h2 class="text-xl md:text-3xl lg:text-7xl uppercase font-antique text-center">access</h2>
                    <div class="flex justify-center pt-5">
                        <img src="{% static 'core/img/arrows.svg' %}" alt="" />
                    </div>
                </div>
                <div class="max-w-xl">
                    <img src="{% static 'core/img/cows.svg' %}" alt="" />
                </div>
            </div>
            <div class="grid grid-cols-3 grid-rows-2 gap-5 text-xl">
                <div class="text-center col-span-1 row-span-1 flex justify-center flex-col">
                    <h4 class="font-antique font-bold tracking-[0.2rem] uppercase">address</h4>
                    <c-divider color="bg-orange-950" size="w-1/3 md:w-1/2 h-[1px]" margin="my-1"/>
                    <p>859-3166<br>長崎佐世保木原町82番地 </p>
                </div>
                <div class="col-span-2 row-span-2 min-h-[400px]">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6679.176341284686!2d129.84207630882733!3d33.172437075996086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x356a9b308ae1c447%3A0x6dcfddfc856475e1!2sWin%20village!5e0!3m2!1sen!2sjp!4v1727320724205!5m2!1sen!2sjp"
                            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
                            class="w-full h-full"></iframe>
                </div>
                <div class="text-center col-span-1 row-span-1 flex justify-center flex-col">
                    <h4 class="font-antique font-bold tracking-[0.2rem] uppercase">phone</h4>
                    <c-divider color="bg-orange-950" size="w-1/3 md:w-1/2 h-[1px]" margin="my-1"/>
                    <p>0956-30-8411</p>
                </div>
            </div>
        </section>
        <div id="reservation-button-dark-large-container" data-popup="false" class="fixed transition-all duration-300 bottom-5 left-5 data-[popup=true]:translate-none data-[popup=false]:translate-y-48 rounded-full bg-white">
            <canvas id="reservation-button-dark-large" width="150px" height="150px" class="hidden md:block"></canvas>
        </div>
    </main>

{% endblock %}
