{% extends 'core/base.html' %}
{% load static i18n responsive_images %}

{% block title %}
  {% trans 'Glamping in Imari' %}
{% endblock %}
{% block subtitle %}
  {% trans 'Win Village' %}
{% endblock %}

{% block content %}
  <section class="bg-stone-900">
    <header class="absolute inset-x-0 top-0 z-50">
      <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
        <div class="flex lg:flex-1">
          <a href="#" class="-m-1.5 p-1.5">
            <span class="sr-only">{% translate 'Win Village' %}</span>
            <img src="{% static 'core/img/logo.svg' %}" class="max-w-[50px]"
                 alt={% trans 'Win Village Logo' %}>
          </a>
        </div>
        <div class="flex lg:hidden">
          <button type="button"
                  _="on click toggle .hidden .animation-slide-left on #mobile-menu"
                  class="inline-flex items-center justify-center text-stone-400 -m-2.5 p-2.5">
            <span class="sr-only">Open main menu</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                 aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round"
                    d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
            </svg>
          </button>
        </div>
        <div class="hidden lg:flex">
          <a href="#"
             class="block px-6 py-2 text-base font-semibold leading-7 text-orange-50 transition-all duration-250 hover:text-orange-950 hover:bg-stone-50">
            {% translate 'About Win Village' %}</a>
          <a href="#"
             class="block px-6 py-2 text-base font-semibold leading-7 text-orange-50 transition-all duration-250 hover:text-orange-950 hover:bg-stone-50">{% translate 'Rooms' %}</a>
          <a href="#"
             class="block px-6 py-2 text-base font-semibold leading-7 text-orange-50 transition-all duration-250 hover:text-orange-950 hover:bg-stone-50">{% translate 'Gourmet' %}</a>
          <a href="#"
             class="block px-6 py-2 text-base font-semibold leading-7 text-orange-50 transition-all duration-250 hover:text-orange-950 hover:bg-stone-50">{% translate 'Grills' %}</a>
        </div>
        <div class="hidden lg:flex lg:flex-1 lg:justify-end lg:gap-2">
          <div class="grid gap-2">
            <div class="flex justify-end gap-2 text-xl text-orange-50"><img
                    src="{% static 'core/img/phone.svg' %}" alt="">090-0000-0000
            </div>
            <a href="{% url 'reservations:index' %}"
               class="bg-orange-600 px-3.5 py-2.5 text-sm text-center font-semibold text-orange-50 shadow-sm
                           transition-all duration-250 hover:bg-orange-700 focus-visible:outline focus-visible:outline-2
                           focus-visible:outline-offset-2 focus-visible:outline-orange-700">
              {% translate 'Make a Reservation' %}
            </a>
          </div>
        </div>
      </nav>
      <!-- Mobile menu, show/hide based on menu open state. -->
      <div id="mobile-menu"
           class="hidden transition-all animation-slide-left duration-250"
           role="dialog"
           aria-modal="true">
        <!-- Background backdrop, show/hide based on slide-over state. -->
        <div class="fixed inset-0 z-50"></div>
        <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-stone-800 px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-orange-50/10">
          <div class="flex items-center justify-between">
            <a href="{% url 'core:index' %}" class="-m-1.5 p-1.5">
              <span class="sr-only">{% translate 'Win Village' %}</span>
              <img src="{% static 'core/img/logo.svg' %}" class="max-w-[50px]"
                   alt={% trans 'Win Village Logo' %}>
            </a>
            <button type="button"
                    _="on click toggle .hidden .animation-slide-right on #mobile-menu"
                    class="text-stone-400 -m-2.5 p-2.5">
              <span class="sr-only">{% translate 'Close menu' %}</span>
              <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                   stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
              </svg>
            </button>
          </div>
          <div class="mt-6 flow-root">
            <div class="-my-6 divide-y divide-stone-500/25">
              <div class="py-6 space-y-2">
                <a href="#"
                   class="-mx-3 block px-3 py-2 text-base font-semibold leading-7 text-orange-50 transition-all duration-250 hover:bg-stone-950">
                  {% translate 'About Win Village' %}
                </a>
                <a href="#"
                   class="-mx-3 block px-3 py-2 text-base font-semibold leading-7 text-orange-50 transition-all duration-250 hover:bg-stone-950">{% translate 'Rooms' %}</a>
                <a href="#"
                   class="-mx-3 block px-3 py-2 text-base font-semibold leading-7 text-orange-50 transition-all duration-250 hover:bg-stone-950">{% translate 'Gourmet' %}</a>
                <a href="#"
                   class="-mx-3 block px-3 py-2 text-base font-semibold leading-7 text-orange-50 transition-all duration-250 hover:bg-stone-950">{% translate 'Grills' %}</a>
              </div>
              <div class="py-6">
                <a href="{% url 'reservations:index' %}"
                   class="bg-orange-600 px-3.5 py-2.5 text-sm font-semibold text-orange-50 shadow-sm
                                   transition-all duration-250 hover:bg-orange-700 focus-visible:outline
                                   focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-700">
                  {% translate 'Make a Reservation' %}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="relative isolate overflow-hidden pt-14">
      <img src={% static 'core/img/glamping_hero.jpg' %} alt=""
           class="absolute inset-0 -z-10 h-full w-full object-cover">
      <div class="absolute inset-0 -z-10 h-full w-full transform-gpu overflow-hidden bg-stone-900/70"
           aria-hidden="true">
      </div>
      <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
        <div class="hidden sm:mb-8 sm:flex sm:justify-center">
          <div class="relative px-3 py-1 font-serif text-sm leading-6 text-stone-400 ring-1 ring-orange-50/10">
            {% trans 'Glamping in Imari' %}
          </div>
        </div>
        <div class="px-5 text-center">
          <h1 class="text-4xl tracking-tight text-orange-50 font-display sm:text-6xl">
            {% filter title %}{% blocktrans %}
              peace and quiet in the outdoors
            {% endblocktrans %}{% endfilter %}
          </h1>
          <p class="mt-6 text-lg leading-8 text-stone-300">{% trans 'Fresh air, delicious food, comfortable beds' %}</p>
          <div class="mt-10 flex items-center justify-center gap-x-6">
            <a href="{% url 'reservations:index' %}">
                            {% #button %}
              {% translate 'Make a Reservation' %}
{#              {% include 'patterns/buttons/button/button.html' with children=text %}#}
                            {% /button %}
            </a>
            <a href="#"
               class="text-sm font-semibold leading-6 text-orange-50 transition-all duration-250 group hover:text-orange-200">
              Learn more
              <span class="inline-block transition-all duration-250 group-hover:translate-x-2"
                    aria-hidden="true">→</span></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container mx-auto my-96 px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-sm">
      <img class="mx-auto" src={% static 'core/img/logo_dark.svg' %} alt="">
      <div class="space-y-5">
        <h2 class="text-center text-5xl text-orange-950 font-display">Our Winning Philosophy</h2>
        <p class="font-serif text-orange-950">
          Win Villageはお客様にいい経験を作りたいです。
          快適な部屋、美味しい肉、癒されるお風呂
          この3つがあれば最高です。
        </p>
      </div>
    </div>
  </section>
  <div class="relative">
    <div class="absolute w-full overflow-hidden -top-[9vw]">
      <svg class="rotate-180 fill-orange-800" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 1200 120"
           preserveAspectRatio="none">
        <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>

      </svg>
    </div>
  </div>
  <section class="mx-auto bg-orange-800 px-4 pt-28 pb-52 sm:px-6 lg:px-8">
    <header class="mx-auto max-w-sm py-28">
      <img class="mx-auto" src="{% static 'core/img/logo.svg' %}" alt="Win Village Logo">
      <h2 class="text-center text-5xl text-orange-50 font-display">Our Amenities</h2>
    </header>
    <div class="container mx-auto mb-12 grid max-w-5xl gap-5 md:grid-cols-2">
      <div class="overflow-hidden bg-orange-50 shadow text-orange-950">
        <div class="w-full bg-cover bg-center aspect-w-2 aspect-h-1"
             style="background-image:url({% static 'core/img/glamping_room_outside.jpg' %})">
        </div>
        <div class="px-6 pt-6 pb-2">
          <h3 class="text-4xl font-display">{% translate 'Rooms' %}</h3>
        </div>
        <div class="px-6 pb-6">
          <p>Our rooms are very nice.</p>
        </div>
      </div>
      <div class="overflow-hidden bg-orange-50 shadow text-orange-950">
        <div class="w-full bg-cover bg-center aspect-w-2 aspect-h-1"
             style="background-image:url({% static 'core/img/glamping_room_inside.jpg' %})">
        </div>
        <div class="px-6 pt-6 pb-2">
          <h3 class="text-4xl font-display">Bath</h3>
        </div>
        <div class="px-6 pb-6">
          <p>Go to sleep feeling clean and refreshed.</p>
        </div>
      </div>
      <div class="overflow-hidden bg-orange-50 shadow text-orange-950">
        <div class="w-full bg-cover aspect-w-2 aspect-h-1"
             style="background-image:url({% static 'core/img/grill.jpg' %})">
        </div>
        <div class="px-6 pt-6 pb-2">
          <h3 class="text-4xl font-display">Grill</h3></div>
        <div class="px-6 pb-6">
          <p>Purchase a grill and start cooking right away.</p>
        </div>
      </div>
      <div class="overflow-hidden bg-orange-50 shadow text-orange-950">
        <div class="w-full bg-cover aspect-w-2 aspect-h-1"
             style="background-image:url({% static 'core/img/bbq_food.jpg' %})">
        </div>
        <div class="px-6 pt-6 pb-2">
          <h3 class="text-4xl font-display">Cuisine</h3></div>
        <div class="px-6 pb-6">
          <p>Purchase food at a Win Village grocery store.</p>
        </div>
      </div>
    </div>
    <a href="{% url 'reservations:index' %}">
      <button class="mx-auto flex items-center px-6 py-2 text-orange-50 font-black gap-2 bg-orange-900 cursor-pointer
                           transition-all duration-250 hover:bg-orange-950">
        {% translate 'Make a Reservation' %}
        <img src="{% static 'core/img/computer.svg' %}" alt="Computer icon"></button>
    </a>
  </section>
  <footer class="bg-orange-800">
    <nav class="container mx-auto grid max-w-5xl justify-center gap-10 px-6 py-20 text-orange-50 sm:flex sm:flex-wrap sm:items-center sm:justify-between">
      <img class="mx-auto max-w-xs flex-1 sm:hidden" src="{% static 'core/img/logo.svg' %}" alt="">
      <ul class="text-center sm:text-left">
        <li class="block w-fit px-7 py-2 text-base font-semibold leading-7 text-orange-50 transition-all duration-250 hover:text-orange-950 hover:bg-stone-50">
          <a href="#">{% translate 'About Win Village' %}</a></li>
        <li class="block w-fit px-7 py-2 text-base font-semibold leading-7 text-orange-50 transition-all duration-250 hover:text-orange-950 hover:bg-stone-50">
          <a href="#">{% translate 'Rooms' %}</a></li>
        <li class="block w-fit px-7 py-2 text-base font-semibold leading-7 text-orange-50 transition-all duration-250 hover:text-orange-950 hover:bg-stone-50">
          <a href="#">{% translate 'Gourmet' %}</a>
        </li>
        <li class="block w-fit px-7 py-2 text-base font-semibold leading-7 text-orange-50 transition-all duration-250 hover:text-orange-950 hover:bg-stone-50">
          <a href="#">{% translate 'Grills' %}</a>
        </li>
        <li class="block w-fit px-7 py-2 text-base font-semibold leading-7 text-orange-50 transition-all duration-250 hover:text-orange-950 hover:bg-stone-50">
          <a href="#">{% translate 'Corporate Information' %}</a>
        </li>
      </ul>
      <img class="mx-auto hidden max-w-xs sm:flex sm:flex-1" src="{% static 'core/img/logo.svg' %}" alt="">
      <div class="flex justify-end gap-2">
        <div class="grid gap-2">
          <div class="flex justify-end gap-2 text-xl text-orange-50">
            <img src="{% static 'core/img/phone.svg' %}" alt="">
            090-0000-0000
          </div>
          <a href="{% url 'reservations:index' %}"
             class="bg-orange-50 px-3.5 py-2.5 text-sm text-center font-semibold text-orange-950 shadow-sm
                           transition-all duration-250 hover:bg-orange-200 focus-visible:outline focus-visible:outline-2
                           focus-visible:outline-offset-2 focus-visible:outline-orange-200">
            {% translate 'Make a Reservation' %}
          </a>
        </div>
      </div>
    </nav>
  </footer>
{% endblock %}
