{% extends 'winadmin/index.html' %}
{% load i18n tz %}
{% block subtitle %}
  {% translate 'Pricing Tier List View' %}
{% endblock %}
{% block page_header %}
  <c-admin-page-header header="{% translate 'Sales Management' %}"
                       subheader="{% trans 'Pricing Tier List' %}"/>
{% endblock %}
{% block content %}
  <c-table :columns="['{% trans 'Tier Group Name' %}', '{% trans 'Number of Adults' %}']">
    {% for group in pricing_tier_groups %}
      <c-table-row  vertical-stripes="{% cycle 'bg-white' 'bg-blue-100' %}">
        <c-table-column :col-num="1" url="{% url 'winadmin:pricing_tier_group_detail' group.pk %}">{{ group.name }}</c-table-column>
        <c-table-column :col-num="2">{{ group.minimum_number_of_adults }} - {{ group.maximum_number_of_adults }}</c-table-column>
      </c-table-row>
    {% endfor %}
  </c-table>
{% endblock %}
