{% load i18n %}
{% load widget_tweaks %}

<div id="reservation-form-wrapper" class="mx-auto max-w-5xl px-5">
  <h2 class="text-center text-xl sm:text-3xl text-green-950 pb-2 mb-2 border-b-2 border-neutral-100">
    {% translate 'Contact Information' %}</h2>
  <form hx-post="{% url 'reservations:confirm_reservation' %}"
        hx-target="#reservation-form-wrapper"
        hx-swap="outerHTML"
        class="space-y-5">
    <fieldset>
      <legend class="sr-only">{% translate 'Contact Information' %}</legend>
      <div class="grid grid-cols-1">
        {{ form.non_field_errors }}
        {% for field in form %}
          <label class="text-xl mb-2 grid grid-cols-2 items-center gap-x-2" for="{{ field.id_for_label }}">
            {{ field.label }}
            {% render_field field class="justify-self-end" %}
            {% if field.errors %}
              {% for error in field.errors %}
                <div class="flex gap-2">
                  {#                    <img class="inline-block" src="{% static 'core/warning_icon.svg' %}">#}
                  <p class="text-red-500 text-lg font-body font-thin">{{ error|escape }}</p>
                </div>
              {% endfor %}
            {% endif %}
          </label>
        {% endfor %}
      </div>
    </fieldset>
    {% url 'reservations:step-3' as url %}
    {% include 'reservations/_buttons.html' with submit_button_text='Next' back_url=url %}
  </form>
</div>