<c-vars text-size="text-sm sm:text-3xl" header-color="text-blue-700" subheader-color="text-orange-500" decoration-color="text-blue-700/40" />
<div class="[grid-area:mainleft] overflow-hidden flex items-center {{ text_size }} {{ decoration_color }}">░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░</div>
<header class="overflow-hidden [grid-area:mainheader] uppercase
           {{ text_size }} {{ header_color }}">
    <h1 class="inline-block">{{ header }}</h1>
    <span class="{{ subheader_color }} {{ text_size }}"> -> </span>
    <h2 class="inline-block {{ text_size }} {{ subheader_color }}">{{ subheader }}</h2>
</header>
<div class="[grid-area:mainright] flex items-center overflow-hidden {{ text_size }} text-orange-500/40">░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░</div>
