<c-vars day status="available" hx-target="#reservation-form-wrapper" hx-swap="outerHTML" dj-block="date-select" />
<c-form class="mx-auto" url="{{ url }}" hx-target="{{ hx_target }}" hx-swap="{{ hx_swap }}" dj-block="{{ dj_block }}">
    {{ slot }}
    {% if day.available_date %}
        {{ day.available_date }}
    {% endif %}
    {% if status != "unavailable" %}
        <button class="h-8 w-8
                       data-[status=today]:bg-lime-600 data-[status=today]:text-lime-50
                       data-[status=past]:text-stone-300 data-[status=past]:pointer-events-none
                       data-[status=start]:bg-blue-700 data-[status=start]:text-blue-50
                       data-[status=end]:bg-blue-700 data-[status=end]:text-blue-50
                       data-[status=day-with-reservation]:bg-blue-700 data-[status=day-with-reservation]:text-blue-50
                       data-[status=selected]:border-2 data-[status=selected]:border-blue-500 data-[status=selected]:text-blue-500
                       data-[status=middle]:bg-orange-500 data-[status=middle]:text-orange-50
                       {{ class }}"
                data-status={{ status }} {{ attrs }}>
            <time day="{{ day.datetime|date:"Y-m-d h:m:s" }}">{{ day.datetime.day }}</time>
        </button>
    {% else %}
        <span class="text-rose-500 cursor-not-allowed">X</span>
    {% endif %}
</c-form>
