<c-vars text />
<div class="grid col-span-1" style="grid-template-columns: 1ch 1fr 1ch">
    <div>
        └
    </div>
    <div class="whitespace-nowrap overflow-hidden">
        ─{% if text %}<span class="help pb-4 px-3">{{ text }}</span>{% endif %}─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
    </div>
    <div>
        ┘
    </div>
</div>
