<c-vars text />
<div class="grid col-span-1" style="grid-template-columns: 1ch 1fr 1ch">
    <div>
        ┌
    </div>
    <div class="whitespace-nowrap overflow-hidden">
        ─<span class="empty:hidden px-3">{{ text }}</span>──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
    </div>
    <div>
        ┐
    </div>
</div>
