<c-vars text />
<div class="grid [grid-template-columns:1ch_1fr_1ch] col-span-1 z-10 {{ class }}">
    <div>
        ┌
    </div>
    <div class="whitespace-nowrap overflow-hidden">
        ─┤<span class="empty:hidden px-1 text-sm">{{ text }}</span>├──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
    </div>
    <div>
        ┐
    </div>
</div>
