<c-vars text />
<div class="grid [grid-template-columns:1ch_1fr_1ch] col-span-1 z-10 {{ class }}">
    <div>
        └
    </div>
    <div class="whitespace-nowrap overflow-hidden">
        ─{% if text %}<span class="help pb-4 px-3 text-sm">{{ text }}</span>{% endif %}─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
    </div>
    <div>
        ┘
    </div>
</div>
