<a class="flex flex-col items-center group data-[active=true]:text-orange-600"
   href="{{ url }}"
   data-counter="{{ counter }}" data-active="false">
    <p class="font-antique text-xs sm:text-sm text-center uppercase group-hover:text-orange-600  transition transition-all duration-250">{{ subtext }}</p>
    <svg class="w-[50px] h-1" viewBox="0 0 50 1" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="0.505859" y1="0.5" x2="60.5059" y2="0.5"
              class="group-hover:stroke-orange-600 group-data-[active=true]:stroke-orange-600" />
    </svg>
    <h4 class="font-serif text-xl sm:text-2xl group-hover:text-amber-500
               transition transition-all duration-250">
        {{ text }}
    </h4>
</a>
