<c-vars month-data weekdays />
<div {{ attrs }}>
    <h2 class="text-center text-sm font-semibold text-stone-900">{{ month.date|date:"Y-m" }}</h2>
    <div class="calendar-days mt-10 grid grid-cols-7 text-center text-xs leading-6 text-stone-500">
        {% for day in weekdays %}
            <span class="h-8 w-8 flex items-center justify-center mx-auto">{{ day }}</span>
        {% endfor %}
    </div>
    <div class="mt-2 grid grid-cols-7 text-sm">
        <!--
             Always include: "mx-auto flex h-8 w-8 items-center justify-center rounded-full"
             Is selected, include: "text-white"
             Is not selected and is today, include: "text-orange-600"
             Is not selected and is not today and is current month, include: "text-stone-900"
             Is not selected and is not today and is not current month, include: "text-stone-400"
             Is selected and is today, include: "bg-orange-600"
             Is selected and is not today, include: "bg-stone-900"
             Is not selected, include: "hover:bg-stone-200"
             Is selected or is today, include: "font-semibold"
        -->
        {% for datetime, form in month_data.datetimes %}
            {% if datetime.month != month_data.date.month %}
            {% elif datetime < today_date %}
                <div></div>
            {% elif datetime.month != month_data.date.month %}
            {% elif not is_available %}
                <span class="mx-auto flex h-8 w-8 items-center justify-center rounded-full tabular-nums text-red-200 pointer-events-none">
                    X
                </span>
            {% elif datetime == today_date %}
                <c-calendar-cell-button :datetime={{ datetime }} name="select_date">{{ form }}</c-calendar-cell-button>
            {% elif start_date and start_date == date or end_date and end_date == date %}
                <c-calendar-cell-button :datetime={{ datetime }} name="select_date">{{ form }}</c-calendar-cell-button>
            {% elif start_date and end_date %}
                {% if datetime > start_date and date < end_date %}
                    sup
                {% else %}
                    huh
                {% endif %}
            {% else %}
                <c-calendar-cell-button :datetime={{ datetime }} name="select_date">{{ form }}</c-calendar-cell-button>
            {% endif %}
        {% endfor %}
    </div>
</div>
