<c-vars logo-url navigation user />
{% load static i18n %}
<div id="menu" class="flex [grid-area:menu] overflow-y-auto bg-blue-700">
  <div class="flex lg:flex-col flex-wrap w-full lg:gap-y-5 p-2">
    <div class="flex h-8 lg:h-16">
      <a href="{% url logo_url %}"><img class="h-8 lg:h-16"
                                        src="{% static 'core/img/dark_logo.svg' %}"
                                        alt="Winvillage logo"></a>
    </div>
    <nav class="w-full order-3 lg:order-2">
      <ul role="list">
        <li class="order-2">
          <ul class="grid sm:[grid-template-columns:repeat(2,auto)] flex gap-x-[0.5ch] w-full lg:block lg:space-y-[2ch]">
            {% for group, links in navigation.items %}
              <li>
                <c-sidebar-group header-class="py-[0.5ch] lg:py-0">{{ group }}</c-sidebar-group>
                <ul class="hidden opacity-0 lg:inline lg:opacity-100 transition-all duration-300" _="on click from the previous <header/> toggle .hidden on me wait a tick then toggle .opacity-0 on me">
                  {% for text, url in links.items %}
                    <li>
                      <c-sidebar-link url='{{ url }}'>{{ text }}</c-sidebar-link>
                    </li>
                  {% endfor %}
                </ul>
              </li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </nav>
    {% if user.is_authenticated %}
      <div class="ml-auto lg:mt-auto lg:inline px-2 order-2 lg:order-3">
        <a href="{% url 'users:logout' %}"
           class="text-xs text-white hover:bg-blue-950">
          <span aria-hidden="true">{{ user }}</span>
        </a>
      </div>
    {% endif %}
    <div _="on click toggle .hidden on the previous <nav/>" class="w-full text-xl text-center text-white order-4 sm:hidden mx-auto">
      ⇅
    </div>
  </div>

</div>
