<c-vars columns table-data />
<div-table class="table table-auto border-collapse border-blue-950 sm:border w-full max-w-7xl table-auto text-xs xl:text-sm {{ class }}" {{ attrs }}>
    <div-thead class="table-header-group">
        <c-table-row class="hidden bg-blue-700 text-white">
            {% for col in columns %}
                {% if forloop.first %}
                    <c-table-column class="border-none" decoration="▚▚">
                        {{ col }} <input type="hidden" name="{{forloop.counter}}" value="{{col}}" />
                    </c-table-column>
                {% else %}
                    <c-table-column class="border-none">
                        {{ col }} <input type="hidden" name="{{forloop.counter}}" value="{{ col }}" />
                    </c-table-column>
                {% endif %}
            {% endfor %}
        </c-table-row>
    </div-thead>
    <div-tbody class="flex flex-wrap gap-5 min-[450px]:grid-cols-2 sm:table-row-group">
        {% if not slot %}
            {% for row in table_data %}
                <c-table-row _="on mousedown toggle .bg-blue-300 on me">
                    {% for col in row %}
                        {% if forloop.first %}
                            <div-td class="grid grid-cols-2 gap-2 text-white bg-blue-700 whitespace-nowrap tabular-nums px-2 py-2
                                           sm:table-cell sm:text-inherit sm:bg-inherit sm:border sm:border-blue-300 sm:pl-6">
                                <span class="sm:hidden" _="on load get <input[name='{{ forloop.counter }}']/> then set my innerHTML to its value"></span><span>{{ col }}</span>
                            </div-td>
                        {% else %}
                            <div-td class="grid grid-cols-2 gap-2 px-2 py-2 whitespace-nowrap tabular-nums
                                           sm:table-cell sm:border sm:border-blue-200 sm:px-3">
                                <span class="sm:hidden" _="on load get <input[name='{{ forloop.counter }}']/> then set my innerHTML to its value"></span><span>{{ col }}</span>
                            </div-td>
                        {% endif %}
                    {% endfor %}
                </c-table-row>
            {% endfor %}
        {% else %}
            {{ slot }}
        {% endif %}
    </div-tbody>
</div-table>
