{% extends 'winadmin/index.html' %}
{% load widget_tweaks widget_checks static i18n %}
{% block extra_scripts %}
  <script src="{% static 'core/js/idiomorph-ext.js' %}"></script>
  <script type='text/javascript' src='https://sandbox.web.squarecdn.com/v1/square.js'></script>
{% endblock %}
{% block subtitle %}
  {% translate 'Create Reservation' %}
{% endblock %}
{% block content %}
  <main id="dashboard-content" class="py-10 lg:ml-72">
    <div class="px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl">{% translate 'Create Reservation' %}</h1>
      <form id="create-reservation-form"
            class="space-y-5 max-w-xl"
            action=""
            method="post"
            hx-post="."
            hx-swap="outerHTML"
            hx-trigger="keydown[metaKey&&shiftKey&&key=='s'] from:body"
            hx-target="#dashboard-content"
            hx-vals='{"use_block": "content"}'
            novalidate>
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div id="messages">
          {% if messages %}
            {% for message in messages %}
              {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                <p class="text-orange-500">{{ message }}</p>
              {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <p class="text-red-500">{{ message }}</p>
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
        {% block form_fields %}
          <div class="grid">
            {{ form }}
          </div>
        {% endblock %}
        <button name="submit"
                type="submit"
                hx-post="."
                hx-swap="outerHTML"
                hx-target="this"
                hx-vals='{"use_block": "options"}'
                class="rounded-md bg-orange-700 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm
                    hover:bg-orange-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2
                    focus-visible:outline-orange-700">
          {% translate 'Choose Options' %}
        </button>
      </form>
    </div>
  </main>

{% endblock %}

{% block options %}
  <div id="options-wrapper">
    <h2 class="text-center text-xl sm:text-3xl text-orange-950 pb-2 mb-2 border-b-2 border-neutral-100">
      {% translate 'Choose Options' %}</h2>
    <fieldset>
      <legend class="sr-only">{% translate 'Option Types' %}</legend>
      <div class="space-y-2 grid grid-cols-1">
        {% for grill in grills %}
          <div class="bg-white shadow sm:rounded-lg">
            <div class="px-4 py-5 sm:p-6">
              <h3 class="text-base font-semibold leading-6 text-stone-900">{{ grill.name }}</h3>
              <div class="mt-2 max-w-xl text-sm text-orange-500">
                <p>Price: {{ grill.price_fully_rounded }}</p>
              </div>
              <div class="mt-2 max-w-xl text-sm text-stone-500">
                <p>{{ grill.description }}</p>
              </div>
              {% if grill.id in reserved_grill_ids %}
                <form action="{% url 'winadmin:remove_grill_reservation_option' grill.pk %}"
                      method="post"
                      hx-post="{% url 'winadmin:remove_grill_reservation_option' grill.pk %}"
                      hx-target="#options-wrapper"
                      hx-swap="outerHTML"
                      hx-vals='{"use_block": "options"}'
                      class="mt-5">
                  <button name="remove"
                          type="submit"
                          class="inline-flex items-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-500">
                    {% translate 'Remove' %}
                  </button>
                </form>
              {% else %}
                <form action="{% url 'winadmin:add_grill_reservation_option' grill.pk %}"
                      hx-post="{% url 'winadmin:add_grill_reservation_option' grill.pk %}"
                      hx-target="#options-wrapper"
                      hx-swap="outerHTML"
                      hx-vals='{"use_block": "options"}'
                      class="mt-5">
                  <button name="add"
                          type="submit"
                          class="inline-flex items-center rounded-md bg-orange-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-orange-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-500">
                    {% translate 'Add' %}
                  </button>
                </form>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </fieldset>
    <form action="."
          hx-get="{% url 'winadmin:make_payment' %}"
          hx-target="this"
          hx-swap="outerHTML"
          hx-vals='{"use_block": "payment-form"}'
          class="mt-5">
      <button name="pay"
              type="submit"
              class="inline-flex items-center rounded-md bg-orange-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-orange-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-500">
        {% translate 'Pay' %}
      </button>
    </form>
  </div>
{% endblock %}

{% block payment-form %}
  <div id="payment-wrapper"
       _="on htmx:afterSettle trigger loadPaymentForm on me"
       hx-get="{% url 'winadmin:update_price' %}"
       hx-trigger="updatePrice from:body"
       hx-swap="outerHTML"
       hx-target="#payment-wrapper"
       hx-vals='{"use_block": "payment-form"}'>
    <div class="grid grid-cols-1">
      <div class="grid border-b-2"></div>
      {% for order_item in reservation.order_items.all %}
        <div class="text-xl mb-2 grid grid-cols-2 items-center gap-x-2">
          <span>{{ order_item.item.name }}</span>
          <span class="font-black">￥{{ order_item.item.price_fully_rounded }}</span></div>
      {% endfor %}
      <div class="text-xl mb-2 grid grid-cols-2 items-center gap-x-2"><span>{% blocktranslate %}
        Price Per Day
      {% endblocktranslate %}
        :</span><span class="font-black">￥{{ reservation.stay.price_per_day }}</span></div>
      <div class="text-xl mb-2 grid grid-cols-2 items-center gap-x-2"><span>{% blocktranslate %}
        Total Days
      {% endblocktranslate %}
        :</span><span class="font-black">{{ reservation.stay.days }}</span></div>
      <div class="text-xl mb-2 grid grid-cols-2 items-center gap-x-2"><span>{% translate 'Total Price' %}:</span>
        <span class="font-black">￥{{ reservation.price_fully_rounded }}</span></div>
    </div>
    <form id='payment-form' class="grid"
          hx-trigger="createPayment"
          hx-post="{% url 'winadmin:make_payment' %}"
          hx-target="#payment-status-container"
          hx-swap="outerHTML"
          hx-vals='{"use_block": "payment-status-container"}'>
      {% csrf_token %}
      <div id="card-styles-container">
        <div id='card-container'></div>
      </div>
      <button id='card-button'
              type="button"
              class="rounded-md bg-orange-700 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm
              hover:bg-orange-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2
              focus-visible:outline-orange-700"
              _="init
                  call Square.payments('{{ SQUARE_APPLICATION_ID }}', '{{ SQUARE_LOCATION_ID }}')
                  set :payments to the result
                  call :payments.card()
                  set :card to the result
                  call :card.attach(#card-container)
                end
                on click
                  call :card.tokenize()
                  if the result's status is really 'OK'
                    set #id_token's @value to the result's token
                    then send createPayment to #payment-form
                  else log `Tokenization failed with status: ${result.status}`">
        {% trans "Pay" %} ￥{{ reservation.price_fully_rounded }}
      </button>
      {{ form }}
    </form>
    {% block payment-status-container %}
      <div id="payment-status-container" class="text-black">
        {% if payment.is_success %}
          <div hx-get="."
               hx-trigger="load"
               hx-swap="outerHTML"
               hx-target="#dashboard-content"
               hx-vals='{"use_block": "payment-complete"}'></div>
        {% elif payment.errors %}
          {% translate 'Payment Failed! Error: ' %}{{ payment.errors.detail }}
        {% endif %}
      </div>
      </div>
    {% endblock %}
{% endblock %}

{% block payment-complete %}
  <main id="dashboard-content" class="py-10 lg:ml-72">
    <div class="px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl">{% translate 'Payment Complete!' %}</h1>
      <a href={% url 'winadmin:create_reservation' %}>Create a New Reservation</a>
    </div>
  </main>
{% endblock %}