{% extends 'winadmin/index.html' %}
{% load widget_tweaks i18n %}
{% block subtitle %}
  {% blocktrans %}Create Category{% endblocktrans %}
{% endblock %}
{% block page_header %}
  <c-admin-page-header header="{% translate 'Inventory Management' %}"
                       subheader="{% trans 'Category Create View' %}"/>
{% endblock %}
{% block content %}
  <c-form class="grid max-w-xl space-y-2"
          hx-target="#content-wrapper"
          block="content">
    {{ form }}
    <c-button>{% trans "Submit" %}</c-button>
  </c-form>
{% endblock %}
