{% extends 'winadmin/index.html' %}
{% load i18n %}
{% block subtitle %}
  {% blocktrans %}Edit Category{% endblocktrans %}
{% endblock %}
{% block content %}
  <main id="dashboard-content" class="py-10 lg:ml-72">
    <div class="px-4 sm:px-6 lg:px-8">
      <h1 class="mb-5 text-center text-3xl">{% translate 'Category Edit View' %}</h1>
      {% block form %}
        <form id="category-form"
              action="{% url 'winadmin:edit_category_page' category.pk %}" method="post"
              hx-post="{% url 'winadmin:edit_category_page' category.pk %}"
              hx-target="this"
              hx-swap="outerHTML"
              hx-vals='{"use_block": "form"}'
              class="mx-auto grid max-w-xl space-y-2" novalidate>
          {% csrf_token %}
          <div id="messages">
            <div id="messages">
              {% include 'core/messages.html' %}
            </div>
          </div>
          {{ form }}
          <button type="submit" name="submit"
                  class="bg-orange-700 px-5 py-3 text-xl text-white transition-all duration-250 hover:bg-orange-600">
            {% trans "Submit" %}
          </button>
        </form>
      {% endblock %}
    </div>
  </main>
{% endblock %}
