{% extends 'winadmin/index.html' %}
{% load i18n %}
{% block subtitle %}
  {% blocktrans %}Edit Category{% endblocktrans %}
{% endblock %}
{% block page_header %}
  <c-admin-page-header header="{% translate 'Inventory Management' %}"
                       subheader="{% trans 'Category Edit View' %}"/>
{% endblock %}
{% block content %}
  <c-form id="category-form">
    {{ form }}
    <c-crud-button-container>
      <c-button>
        {% trans "Submit" %}
      </c-button>
    </c-crud-button-container>
  </c-form>
{% endblock %}
