{% extends 'winadmin/index.html' %}
{% load i18n %}
{% block subtitle %}
  {% translate 'Inventory Item List View' %}
{% endblock %}
{% block content %}
  <div class="overflow-hidden">
    <h1 class="mb-5 text-3xl">{% translate 'Inventory Item List View' %}</h1>
    <div id="messages">
      {% include 'core/messages.html' %}
    </div>
    <table class="w-full max-w-7xl table-auto divide-y divide-stone-300">
      <thead>
      <tr class="text-left">
        <th class="pr-3 pl-4 text-left text-sm font-semibold text-stone-900 py-3.5 sm:pl-0">
          <span class="pl-6">{% translate 'Name' %}</span>
        </th>
        <th class="px-3 text-left text-sm font-semibold text-stone-900 py-3.5">{% translate 'Price' %}</th>
        <th class="px-3 text-left text-sm font-semibold text-stone-900 py-3.5">{% translate 'Category' %}</th>
        <th class="px-3 text-left text-sm font-semibold text-stone-900 py-3.5">{% translate 'Stock' %}</th>
        <th class="px-3 text-left text-sm font-semibold text-stone-900 py-3.5">{% translate 'In Stock?' %}</th>
        <th class="px-3 text-left text-sm font-semibold text-stone-900 py-3.5">{% translate 'Active?' %}</th>
        <th class="px-3 text-left text-sm font-semibold text-stone-900 py-3.5">{% translate 'Short Description' %}</th>
      </tr>
      </thead>
      <tbody class="divide-y divide-stone-200">
      {% for item in items %}
        <tr class="hover:bg-stone-50">
          <td class="whitespace-nowrap py-4 pr-3 pl-4 text-sm font-medium text-stone-900 sm:pl-0">
            <a hx-boost="true" class="pl-6"
               href="{% url 'winadmin:edit_inventory_item' item.pk %}">
              {{ item.name }}
            </a>
          </td>
          <td class="whitespace-nowrap px-3 py-4 text-sm text-stone-600">{{ item.price_rounded }}</td>
          <td class="whitespace-nowrap px-3 py-4 text-sm text-stone-600">{{ item.category }}</td>
          <td class="whitespace-nowrap px-3 py-4 text-sm text-stone-600">{{ item.stock_quantity }}</td>
          <td class="whitespace-nowrap px-3 py-4 text-sm text-stone-600">
            {% if item.in_stock %}{% trans "True" %}{% else %}{% trans "False" %}{% endif %}
          </td>
          <td class="whitespace-nowrap px-3 py-4 text-sm text-stone-600">
            {% if item.is_active %}{% trans "True" %}{% else %}{% trans "False" %}{% endif %}
          </td>
          <td class="whitespace-nowrap px-3 py-4 text-sm text-stone-600">{{ item.short_description }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  </main>
{% endblock %}