{% extends 'winadmin/index.html' %}
{% load i18n %}
{% block subtitle %}
  {% translate 'Edit Inventory Item' %}
{% endblock %}
{% block content %}
  <div id="content-wrapper">
    <h1 class="text-3xl">{% translate 'Edit Inventory Item' %}</h1>
    <c-form action="." method="post" enctype="multipart/form-data"
          hx-post="."
          hx-target="#content-wrapper"
          hx-swap="morph:outerHTML"
          hx-vals='{"use_block": "content"}'
          class="grid max-w-xl">
      {{ form }}
      <div class="space-x-5">
        <c-button name="edit">{% trans "Submit" %}</c-button>
        <c-button name="delete" type="button" data-action="delete">{% trans "Delete" %}</c-button>
      </div>
    </c-form>
  </div>
{% endblock %}
