{% extends 'winadmin/index.html' %}
{% load i18n %}
{% block subtitle %}
  {% blocktrans %}Create Item{% endblocktrans %}
{% endblock %}
{% block page_header %}
  <c-admin-page-header header="{% translate 'Inventory Management' %}"
                       subheader="{% trans 'Add Inventory Item' %}"/>
{% endblock %}

{% block content %}
  <c-form class="grid max-w-xl" novalidate enctype="multipart/form-data"
          hx-target="#dashboard-content" dj-block="content">
    {{ form }}
    <c-button>{% trans "Submit" %}</c-button>
  </c-form>
{% endblock %}
