{% extends 'winadmin/index.html' %}
{% load i18n tz %}
{% block subtitle %}
  {% translate 'Sale List View' %}
{% endblock %}
{% block content %}
  <div class="overflow-hidden">
    <h1 class="mb-5 text-3xl">{% translate 'Sales Chart' %}</h1>
    <form hx-get="."
          hx-trigger="change delay:0ms"
          hx-swap="outerHTML"
          hx-target="#sales-table-wrapper"
          hx-push-url="true"
          hx-vals='{"use_block": "sales_table"}'
          class="max-w-7xl">
      <div class="mb-5 max-w-fit space-y-2 divide-y">
        <p>{% translate 'Filter' %}</p>
        <div class="flex justify-center pt-5 font-mono slashed-zero tabular-nums space-x-5">
          <div>{% translate 'Year' %}: {{ form.year }}</div>
          <div>{% translate 'Month' %}: {{ form.month }}</div>
        </div>
      </div>
    </form>
    {% block sales_table %}
      <div id="sales-table-wrapper">
        <h2 class="mb-5 text-2xl">{{ year }}-{{ month }}</h2>
        <table id="sales-table" class="w-full max-w-7xl table-auto divide-y divide-stone-300">
          <thead>
          <tr class="text-left">
            <th class="pr-3 pl-4 text-left text-sm font-semibold text-stone-900 py-3.5 sm:pl-0">
              <span class="pl-6">{% translate 'Date' %}</span>
            </th>
            <th class="px-3 text-left text-sm font-semibold text-stone-900 py-3.5">{% translate 'Transaction Name' %}</th>
            <th class="px-3 text-left text-sm font-semibold text-stone-900 py-3.5">{% translate 'Product' %}</th>
            <th class="px-3 text-left text-sm font-semibold text-stone-900 py-3.5">{% translate 'Quantity' %}</th>
            <th class="px-3 text-left text-sm font-semibold text-stone-900 py-3.5">{% translate 'Price Per Item' %}</th>
            <th class="px-3 text-left text-sm font-semibold text-stone-900 py-3.5">{% translate 'Sale Amount' %}</th>
            <th class="px-3 text-left text-sm font-semibold text-stone-900 py-3.5">{% translate 'Return Amount' %}</th>
            <th class="px-3 text-left text-sm font-semibold text-stone-900 py-3.5">{% translate 'Balance' %}</th>
          </tr>
          </thead>
          <tbody class="divide-y divide-stone-200">
          {% for sale, balance in ledger %}
            <tr class="hover:bg-stone-50">
              <td class="whitespace-nowrap py-4 pr-3 pl-4 font-mono text-sm font-medium slashed-zero tabular-nums text-stone-900 sm:pl-0">
                <a hx-boost="true" class="pl-6" href="#">
                  {% timezone "Asia/Tokyo" %}
                    {{ sale.transaction_datetime|date:"Y-m-d" }}
                  {% endtimezone %}
                </a>
              </td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-stone-600">{{ sale.get_name_display }}</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-stone-600">{{ sale.item }}</td>
              <td class="whitespace-nowrap px-3 py-4 font-mono text-sm slashed-zero tabular-nums text-stone-600">{{ sale.quantity }}</td>
              <td class="whitespace-nowrap px-3 py-4 font-mono text-sm slashed-zero tabular-nums text-stone-600">{{ sale.item.price_rounded }}</td>

              <td class="whitespace-nowrap px-3 py-4 font-mono text-sm slashed-zero tabular-nums text-stone-600">
                {% if sale.sale_amount %}{{ sale.sale_amount }}{% endif %}
              </td>
              <td class="whitespace-nowrap px-3 py-4 font-mono text-sm slashed-zero tabular-nums text-stone-600">
                {% if sale.return_amount %}{{ sale.return_amount }}{% endif %}
              </td>
              <td class="whitespace-nowrap px-3 py-4 font-mono text-sm slashed-zero tabular-nums text-stone-600">
                {{ balance }}
              </td>
            </tr>
          {% endfor %}
          <tr class="bg-stone-100">
            <td class="whitespace-nowrap py-4 pr-3 pl-4 text-sm font-medium text-stone-900 sm:pl-0">
            </td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-stone-600"></td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-stone-600"></td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-stone-600"></td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-stone-600"></td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-stone-600">

            </td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-stone-600">
              {% translate 'Total Price' %}
            </td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-stone-600">
              {{ final_balance }}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    {% endblock %}
  </div>
{% endblock %}