{% extends 'winadmin/index.html' %}
{% load widget_tweaks widget_checks static i18n %}
{% block subtitle %}
  {% translate 'Create Transaction' %}
{% endblock %}
{% block content %}
  <div id="content-wrapper">
    <h1 class="text-3xl">{% translate 'Create Order' %}</h1>
    <form class="grid max-w-xl space-y-5"
          hx-post="."
          hx-target="#content-wrapper"
          hx-swap="morph:outerHTML"
          hx-vals='{"use_block": "content"}'>
      {{ form }}
      {% #button name="submit" type="submit" %}
        {% trans "Submit" %}
      {% /button %}
    </form>
  </div>
{% endblock %}